        <link href="static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
        
         <!-- third party css -->
         <link href="static/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
         <link href="static/assets/libs/datatables/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
         <!-- third party css end -->

        <!-- App css -->
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/libs/datatables/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        
		<script type="text/javascript">
        $(document).ready(function(){       
            $("#tbl_users").dataTable().fnDestroy();                
            
			$('.dropdown-search-filter').select2({
                placeholder:''
            });
            LoadBuddl();
            LoadDeptdl();
            Loadentityddl();
            LoadRegionddl();
            LoadProjectddl();
            LoadSectorddl();
            LoadStatusddl();
            LoadTable("0","-1");
			
			// $('#ddlStatus').append(new Option('ALL','-1'));
			// $('#ddlStatus').append(new Option('Active','1'));
			// $('#ddlStatus').append(new Option('InActive','0'));
        });

function Loadentityddl(){
    var URL=$('#hdn_web_url').val()+ "/All_entity"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        success: function (data){
            if(data.Entity != null)
            {
                $('#ddlentity').empty();
                var count=data.Entity.length;
                if( count> 0)
                {
                    //$('#ddlentity').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++)
                        $('#ddlentity').append(new Option(data.Entity[i].Entity_Name,data.Entity[i].Entity_Id));
                    //$('#ddlentity').val('-1');
                }
                else
                {
                    $('#ddlentity').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}

function LoadProjectddl(){
    var URL=$('#hdn_web_url').val()+ "/AllProjectList"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        success: function (data){
            if(data.Project != null)
            {
                $('#ddl_Project').empty();
                var count=data.Project.length;
                if( count> 0)
                {
                    //$('#ddl_Project').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++)
                        $('#ddl_Project').append(new Option(data.Project[i].Project_Name,data.Project[i].Project_Id));
                    //$('#ddlentity').val('-1');
                }
                else
                {
                    $('#ddl_Project').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}

function LoadStatusddl(){
    var URL=$('#hdn_web_url').val()+ "/All_Emp_Status"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        success: function (data){
            if(data.emp_status != null)
            {
                $('#ddlStatus').empty();
                var count=data.emp_status.length;
                if( count> 0)
                {
                    //$('#ddlStatus').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++)
                        $('#ddlStatus').append(new Option(data.emp_status[i].Employment_Status_Name,data.emp_status[i].Employment_Status_Id));
                    //$('#ddlentity').val('-1');
                }
                else
                {
                    $('#ddlStatus').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}
function LoadSectorddl(){
    var URL=$('#hdn_web_url').val()+ "/All_Sector"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        success: function (data){
            if(data.Sectors != null)
            {
                $('#ddlSector').empty();
                var count=data.Sectors.length;
                if( count> 0)
                {
                    //$('#ddl_Project').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++)
                        $('#ddlSector').append(new Option(data.Sectors[i].Sector_Name,data.Sectors[i].Sector_Id));
                    //$('#ddlentity').val('-1');
                }
                else
                {
                    $('#ddlSector').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}

function LoadDeptdl(){
    var URL=$('#hdn_web_url').val()+ "/GetAllDept"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        success: function (data){
            if(data.Departments != null)
            {
                $('#ddlDept').empty();
                var count=data.Departments.length;
                if( count> 0)
                {
                    $('#ddlDept').append(new Option('ALL',''));
                    for(var i=0;i<count;i++)
                        $('#ddlDept').append(new Option(data.Departments[i].Employee_Department_Name,data.Departments[i].Employee_Department_Id));
                    //$('#ddlDept').val('');
                }
                else
                {
                    $('#ddlDept').append(new Option('ALL',''));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}

	function LoadBuddl(){
    var URL=$('#hdn_web_url').val()+ "/GetAllBusBasedOn_User"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        data:{
                "user_id": $('#hdn_home_user_id').val(),
                "user_role_id" : $('#hdn_home_user_role_id').val()
        },
        success: function (data){
            if(data.Bu != null)
            {
                $('#ddlBu').empty();
                var count=data.Bu.length;
                if( count> 0)
                {
                    //$('#ddlCenter').append(new Option('ALL',''));
                    for(var i=0;i<count;i++)
                        $('#ddlBu').append(new Option(data.Bu[i].Bu_Name,data.Bu[i].Bu_Id));
                    $('#ddlBu').val('');
                }
                else
                {
                    $('#ddlBu').append(new Option('ALL',''));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}

function LoadRegionddl(){
    var URL=$('#hdn_web_url').val()+ "/AllRegionsBasedOnUser"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        data:{
            "user_id": $('#hdn_home_user_id').val(),
            "user_role_id" : $('#hdn_home_user_role_id').val(),
            "user_region_id" : $('#hdn_user_region_id').val()
        },
        success: function (data){
            if(data.Regions != null)
            {
                $('#ddlRegion').empty();
                var count=data.Regions.length;
                if( count> 0)
                {
                    //$('#ddlRegion').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++)
                        $('#ddlRegion').append(new Option(data.Regions[i].Region_Name,data.Regions[i].Region_Id));
                    //$('#ddlCourse').val('-1');
                }
                else
                {
                    $('#ddlRegion').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}

/*
//LoadClusterddl
function LoadClusterddl(){
    var URL=$('#hdn_web_url').val()+ "/Get_all_Cluster_Based_On_Region"
        $.ajax({
        type:"POST",
        url:URL,
        async:false,       
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json", 
        data:{
            "region_id" : $('#ddlRegion').val().toString()//$('#ddlProject option:selected').val()
        },
		success: function (data){
            if(data.ClusterOnRegion != null)
            {
                $('#ddlCluster').empty();
                var count=data.ClusterOnRegion.length;
                if( count> 0)
                {
                    $('#ddlCluster').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++)
                        $('#ddlCluster').append(new Option(data.ClusterOnRegion[i].Cluster_Name,data.ClusterOnRegion[i].Cluster_Id));
                    //$('#ddlCourse').val('-1');
                }
                else
                {
                    $('#ddlCluster').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading Cluster! Please try again');
            return false;
        }
    });
    return false;
}

	
    function LoadCenter()
    {
        
        var URL=$('#hdn_web_url').val()+ "/AllCenterList";
        $.ajax({
            type:"GET",
            url:URL,
            async:false,        
            beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
            datatype:"json",
			"data": {cluster_id : $('#ddlCluster').val().toString()},
            success: function (data){
                if(data.Centers != null)
                {
                    $('#ddlCenter').empty();
                    var count=data.Centers.length;
                    if( count> 0)
                    {
                        $('#ddlCenter').append(new Option('ALL','0'));
                        for(var i=0;i<count;i++)
                            $('#ddlCenter').append(new Option(data.Centers[i].Center_Name,data.Centers[i].Center_Id));
                        //$('#ddlCenterType').val('');
                    }
                    else
                    {
                        $('#ddlCenter').append(new Option('ALL','0'));
                    }
                    //$("#ddlCenter option[value='0']").attr('disabled','disabled');
                }
            },
            error:function(err)
            {
                alert('Error! Please try again');
                return false;
            }
        });
        return false;
    }  
	*/
	function LoadTable(Centers, Status)
{
		//alert(Centers+Status);
		vartable1 = $("#tbl_users").DataTable({
        "serverSide": true,
        "aLengthMenu": [[10, 25, 50], [10, 25, 50]],
        "paging": true,
        "pageLength": 10,
        "sPaginationType": "full_numbers",
        "scrollX": false,
        "destroy": true,
        "processing": true,
        "language": { "processing": 'Loading..!' },
        "ajax": {
            "url": $('#hdn_web_url').val()+ "/trainer_list",
            "type": "POST",
            "dataType": "json",
            "data": function (d) {
                d.user_id = $('#hdn_home_user_id').val();
				d.user_role_id = $('#hdn_home_user_role_id').val();
				d.centers = Centers;
				d.Dept = $('#ddlDept').val().toString();        // ddlbu
				d.Region_id = $('#ddlRegion').val().toString();
				d.Cluster_id = '';//$('#ddlCluster').val().toString();
                d.status = Status.toString();
                d.user_region_id = $('#hdn_user_region_id').val();
                d.entity_ids = $('#ddlentity').val().toString();
                d.project_ids = $('#ddl_Project').val().toString();
                d.sector_ids = $('#ddlSector').val().toString();
            },
            error: function (e) {
                $("#tbl_users tbody").empty().append('<tr class="odd"><td valign="top" colspan="16" class="dataTables_empty">ERROR</td></tr>');
            }

        },

        "columns": [
            { "data": "S_No"},
            { "data": "User_Name" },
            { "data": "Email" },
            { "data": "Entity_Name" },
            { "data": "Employee_Department_Name" },
            { "data": "Region_Name" },
            { 
                "data": 
                function (row, type, val, meta) {
                    var varButtons = ""; 
                    if(row.Project==0)
                        varButtons=row.Project_Name;
                    else
                    {
                        varButtons += '<a onclick="GetProjectDetails(\'' + row.User_Id + '\',\'' + row.User_Name + '\')"  style="color:blue;cursor:pointer" >' + row.Project_Name + '</a>';
                    }                    
                    return varButtons;
                }
            },
            { "data": "Sector_Name" },
            { "data": "Employment_Status_Name" },

			// { "data": function (row, type, val, meta) {
            //     var varStatus = ""; 
            //     if(row.Is_Active)
            //         varStatus="Active";
            //     else
            //         varStatus="In Active";
            //     return varStatus;
            //     }
            // },
			{ "visible":false, "data": "Center_Name" },
            // { "data": "Mobile_Number"}
       ],
        drawCallback: function(){
            $('#tbl_users_paginate ul.pagination').addClass("pagination-rounded");
        }


    });
}
	
    function LoadTableBasedOnSearch(){
		LoadTable('', $('#ddlStatus').val());
		/*$('#ddlCenter').val().toString()
        if($('#ddlCenter').val().toString()==''|| $('#ddlCenter').val().toString()==null){
            alert("Please select a Center.");
        }
        else{
            
            LoadTable($('#ddlCenter').val().toString(), $('#ddlStatus').val());
        }*/
        
    }
    
	
	function DownloadReport()
    {
        if($('#ddlCenter').val().toString()==''|| $('#ddlCenter').val().toString()==null){
            alert("Please select a Center.");
        }
        else
        {   
            var URL=$('#hdn_web_url').val()+ "/download_trainer_filter";            
            $.ajax({
                type:"POST",
                url:URL,
                async:false,        
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                data:{ 
					'user_id': $('#hdn_home_user_id').val(),
					'user_role_id' : $('#hdn_home_user_role_id').val(),
					'centers' : $('#ddlCenter').val().toString(),
					'status' : $('#ddlStatus').val()
                },
                success:function(data){
                    if(data!=null)
                    {
						//alert(data.FilePath+data.FileName+'.xlsx');
                        window.location=data.FilePath+data.FileName+'.xlsx';
                    }                    
                },
                error:function(x){
                    alert('Error while downloading Report. ');
                }
            });
        }
    }
    function GetProjectDetails(User_Id,User_Name)
    {
        var URL=$('#hdn_web_url').val()+ "/GetSubProjectsForUser?user_id="+User_Id;
        $.ajax({
            type:"GET",
            url:URL,
            async:false,
            overflow:true,        
            beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
            datatype:"json",
            success: function (data){
                varHtml='';
                $("#tblSubProject").dataTable().fnDestroy();
                $("#tblSubProject tbody").empty();
                if(!jQuery.isEmptyObject(data.SubProjects))
                {   if (data.SubProjects != null){
                        count=data.SubProjects.length;
                        if (count>0)
                        {   varHtml='';
                            console.log(count);
                            for(var i=0;i<count;i++)
                            {
                                td_open= '  <td style="text-align:center;">' ;
                                td_close=   '</td>';       
                                varHtml+='<tr>';
                                varHtml+='  <td style="text-align:center;">'+ data.SubProjects[i].S_No +'</td>';
                                varHtml+='  <td style="text-align:center;">'+ User_Name +'</td>';
                                varHtml+='  <td style="text-align:center;">'+ data.SubProjects[i].Sub_Project_Code +'</td>';
                                varHtml+='  <td style="text-align:center;">'+ data.SubProjects[i].Sub_Project_Name +'</td>';                    
                                varHtml+='  <td style="text-align:center;">'+ data.SubProjects[i].Project_Code +'</td>';
                                varHtml+='  <td style="text-align:center;">'+ data.SubProjects[i].Project_Name +'</td>';  
                                varHtml+='  <td style="text-align:center;">'+ data.SubProjects[i].Bu +'</td>';         
                                varHtml+='</tr>';
                                
                            }
                                $("#tblSubProject tbody").append(varHtml);
                                $("#tblSubProject").DataTable();
                                $('#divSubProjectList').modal('show');
                                varHtml='';
                        }
                        else
                        {
                            varHtml='<tr><td colspan="5" style="text-align:center;">No records found</td></tr>'
                            $("#tblSubProject tbody").append(varHtml);
                            $('#divSubProjectList').modal('show');
                        } 
                        
                    }
                }
                else
                {
                    varHtml='<tr><td colspan="5" style="text-align:center;">No records found</td></tr>'
                    $("#tblSubProject tbody").append(varHtml);
                    $('#divSubProjectList').modal('show');
                }   
            },
            error:function(err)
            {
                alert('Error! Please try again');
                return false;
            }
        });
        return false;
    }
</script>
	<div class="container-fluid">
                   <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">NEO</a></li>
                                        <li class="breadcrumb-item active">Trainers</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Trainers</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->
                    
	<div class="row">
        <div class="col-12">
            <div class="card-box">
                <form id="DownloadReport" action="/assign_External_treiner_add_edit" method="POST">
					<div class="row">
                        <div class="col-lg-3">
                            <label for="ddlentity" class="mr-2">Entity</label>
                            <select class="form-control dropdown-search-filter" id="ddlentity" multiple>
                                <option selected="" value="">All</option>
                            </select>
                        </div> 
                        <div class="col-lg-3">
							<label for="ddlDept" class="mr-2">Business Unit</label>
							<select class="form-control dropdown-search-filter" id="ddlDept" multiple>
								<option selected="" value="">All</option>
							</select>
                        </div>
                        <!--div class="col-lg-3">
							<label for="ddlBu" class="mr-2">Business Unit</label>
							<select class="form-control dropdown-search-filter" id="ddlBu" multiple>
								<option selected="" value="">All</option>
							</select>
                        </div-->

						<div class="col-lg-3">
							<label for="ddlRegion" class="mr-2">Region</label>
							<select class="form-control dropdown-search-filter" id="ddlRegion" multiple>
								<option selected="" value="">All</option>
								
							</select>
                        </div>
                        <div class="col-lg-3" style="display: none;">
                            <label for="ddl_Project" class="mr-2">Project</label>
                            <select class="form-control dropdown-search-filter" id="ddl_Project" multiple>
                                <option selected="" value="">All</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label for="ddlStatus" class="mr-2">Status</label>
                            <select class="form-control dropdown-search-filter" id="ddlStatus" multiple>
                                <!-- <option  value="0">All</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="row">
						<div class="col-lg-3" style="display: none;">
							<label for="ddlSector" class="mr-2">Sector</label>
							<select class="form-control dropdown-search-filter" id="ddlSector" multiple>
								<option selected="" value="">All</option>
							</select>
						</div>
					    
                        
                        <div class="col-lg-1" >
                            <button style="margin-top: 30px" type="button" class="btn btn-success waves-effect waves-light" onclick="LoadTableBasedOnSearch()">Search</button>
                        </div>
                        <div class="col-lg-4" >                                        
                             <button style="float: right; margin-top: 30px;"  id="btn_create" type="submit" class="btn btn-success">Create External Trainer</a>
                        </div>
                        <div class="col-lg-1" >
                            <!-- <button class="btn btn-primary" type="submit" >Download Report</button> -->
                            <button style="margin-top: 30px;display:none" type="submit"  class="btn btn-primary waves-effect waves-light" >Download</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
	
	
	
	
	
				<div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4 class="header-title">Trainers List</h4>
                                        </div>
                                        <!--div class="col-lg-6" >                                        
                                                <button style="float: right" type="submit" id="btn_create" class="btn btn-primary">Create Trainers</a>
                                        </div-->
                                    </div>
                                    <br/>
                                    <div class="col-lg-12">
                                        <table id="tbl_users" class="table dt-responsive wrap">
                                            <thead>
                                                <tr>
                                                    <th>S No</th>
                                                    <th>Trainers Name</th>
                                                    <th>Email</th>
                                                    <th>Entity</th>
                                                    <th>Business Unit</th>
                                                    <th>Region</th>
                                                    <th>Project</th>
                                                    <th>Sector</th>
                                                    <th>Employee Status</th>                                                    
													<!-- <th>Status</th> -->
													<th>Center(s)</th>
                                                    <!-- <th>Mobile Number</th> -->
                                                </tr>
                                            </thead>
                                        
                                        <tbody></tbody>
                                        </table>
                                    </div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->    
        </div> <!-- end container -->
            
            <!-- end wrapper -->
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

        <!-- Footer Start -->
        <div id="divSubProjectList" class="modal fade" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h4 class="modal-title">Sub Project List</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <table id="tblSubProject" class="table table-bordered dt-responsive wrap" style="border-color: lightgray;width:100% !important;font-size: 12px;">
                            <thead>                        
                                <tr style="background-color: #f5f6f8;">
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">S.No</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">User Name</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sub Project Code</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sub Project Name</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Project Code</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Project Name</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Business Unit</th>
                                </tr>
                            </thead>
                            <tbody>
        
                            </tbody>
                        </table>	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-info waves-effect waves-light">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div><!--/.modal-->  

        <!-- third party js -->
        <script src="static/assets/libs/datatables/jquery.dataTables.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.bootstrap4.js"></script>
        <script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
        <script src="static/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.buttons.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.html5.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.flash.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.print.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.keyTable.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.select.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
        <!-- third party js ends -->
        <!-- datatables init js-->
        <!--script src="static/assets/js/pages/trainer-list.js"></script--
		>