        <link href="static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
        
         <!-- third party css -->
         <link href="static/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
         <link href="static/assets/libs/datatables/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
         <!-- third party css end -->

        <!-- App css -->
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/libs/datatables/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        
		<script type="text/javascript">
        $(document).ready(function(){  
            $(".date-picker").flatpickr();
         
            role_id=parseInt($('#hdn_home_user_role_id').val());
            if(role_id == 1 || role_id ==15)
                $('#btn_create').show();
            else 
                $('#btn_create').hide();   
            $("#tbl_users").dataTable().fnDestroy();                
            
			$('.dropdown-search-filter').select2({
                placeholder:''
            });
            
            LoadBuddl();
            LoadDeptdl();
            Loadentityddl();
            LoadRegionddl();
            LoadProjectddl();
            LoadSectorddl();
            LoadStatusddl();
            $('#ddlTrainerType').empty();
            $('#ddlTrainerType').append(new Option('ALL','0'));
            $('#ddlTrainerType').append(new Option('Internal','1'));
			$('#ddlTrainerType').append(new Option('External','2'));
            LoadTable("0","-1");
            
			// $('#ddlStatus').append(new Option('ALL','-1'));
			// $('#ddlStatus').append(new Option('Active','1'));
			// $('#ddlStatus').append(new Option('InActive','0'));
        });

function Loadentityddl(){
    var URL=$('#hdn_web_url').val()+ "/All_entity"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        success: function (data){
            if(data.Entity != null)
            {
                $('#ddlentity').empty();
                var count=data.Entity.length;
                if( count> 0)
                {
                    //$('#ddlentity').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++)
                        $('#ddlentity').append(new Option(data.Entity[i].Entity_Name,data.Entity[i].Entity_Id));
                    //$('#ddlentity').val('-1');
                }
                else
                {
                    $('#ddlentity').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}

function LoadProjectddl(){
    var URL=$('#hdn_web_url').val()+ "/AllProjectList"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        success: function (data){
            if(data.Project != null)
            {
                $('#ddl_Project').empty();
                var count=data.Project.length;
                if( count> 0)
                {
                    //$('#ddl_Project').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++)
                        $('#ddl_Project').append(new Option(data.Project[i].Project_Name,data.Project[i].Project_Id));
                    //$('#ddlentity').val('-1');
                }
                else
                {
                    $('#ddl_Project').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}

function LoadStatusddl(){
    var URL=$('#hdn_web_url').val()+ "/All_Emp_Status"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        success: function (data){
            if(data.emp_status != null)
            {
                $('#ddlStatus').empty();
                var count=data.emp_status.length;
                if( count> 0)
                {
                    //$('#ddlStatus').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++)
                        $('#ddlStatus').append(new Option(data.emp_status[i].Employment_Status_Name,data.emp_status[i].Employment_Status_Id));
                    //$('#ddlentity').val('-1');
                }
                else
                {
                    $('#ddlStatus').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}
function LoadSectorddl(){
    var URL=$('#hdn_web_url').val()+ "/All_Sector"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        success: function (data){
            if(data.Sectors != null)
            {
                $('#ddlSector').empty();
                $('#ddlSector2').empty();
                var count=data.Sectors.length;
                if( count> 0)
                {
                    //$('#ddl_Project').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++){
                        $('#ddlSector').append(new Option(data.Sectors[i].Sector_Name,data.Sectors[i].Sector_Id));
                        $('#ddlSector2').append(new Option(data.Sectors[i].Sector_Name,data.Sectors[i].Sector_Id));
                   
                    }
                         //$('#ddlentity').val('-1');
                }
                else
                {
                    $('#ddlSector').append(new Option('ALL','-1'));
                    $('#ddlSector2').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}

function LoadDeptdl(){
    var URL=$('#hdn_web_url').val()+ "/GetAllDept"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        success: function (data){
            if(data.Departments != null)
            {
                $('#ddlDept').empty();
                var count=data.Departments.length;
                if( count> 0)
                {
                    $('#ddlDept').append(new Option('ALL',''));
                    for(var i=0;i<count;i++)
                        $('#ddlDept').append(new Option(data.Departments[i].Employee_Department_Name,data.Departments[i].Employee_Department_Id));
                    //$('#ddlDept').val('');
                }
                else
                {
                    $('#ddlDept').append(new Option('ALL',''));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}

	function LoadBuddl(){
    var URL=$('#hdn_web_url').val()+ "/GetAllBusBasedOn_User"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        data:{
                "user_id": $('#hdn_home_user_id').val(),
                "user_role_id" : $('#hdn_home_user_role_id').val()
        },
        success: function (data){
            if(data.Bu != null)
            {
                $('#ddlBu').empty();
                var count=data.Bu.length;
                if( count> 0)
                {
                    //$('#ddlCenter').append(new Option('ALL',''));
                    for(var i=0;i<count;i++)
                        $('#ddlBu').append(new Option(data.Bu[i].Bu_Name,data.Bu[i].Bu_Id));
                    $('#ddlBu').val('');
                }
                else
                {
                    $('#ddlBu').append(new Option('ALL',''));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}

function LoadRegionddl(){
    var URL=$('#hdn_web_url').val()+ "/AllRegionsBasedOnUser"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        data:{
            "user_id": $('#hdn_home_user_id').val(),
            "user_role_id" : $('#hdn_home_user_role_id').val(),
            "user_region_id" : $('#hdn_user_region_id').val()
        },
        success: function (data){
            if(data.Regions != null)
            {
                $('#ddlRegion').empty();
                var count=data.Regions.length;
                if( count> 0)
                {
                    //$('#ddlRegion').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++)
                        $('#ddlRegion').append(new Option(data.Regions[i].Region_Name,data.Regions[i].Region_Id));
                    //$('#ddlCourse').val('-1');
                }
                else
                {
                    $('#ddlRegion').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}

/*
//LoadClusterddl
function LoadClusterddl(){
    var URL=$('#hdn_web_url').val()+ "/Get_all_Cluster_Based_On_Region"
        $.ajax({
        type:"POST",
        url:URL,
        async:false,       
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json", 
        data:{
            "region_id" : $('#ddlRegion').val().toString()//$('#ddlProject option:selected').val()
        },
		success: function (data){
            if(data.ClusterOnRegion != null)
            {
                $('#ddlCluster').empty();
                var count=data.ClusterOnRegion.length;
                if( count> 0)
                {
                    $('#ddlCluster').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++)
                        $('#ddlCluster').append(new Option(data.ClusterOnRegion[i].Cluster_Name,data.ClusterOnRegion[i].Cluster_Id));
                    //$('#ddlCourse').val('-1');
                }
                else
                {
                    $('#ddlCluster').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading Cluster! Please try again');
            return false;
        }
    });
    return false;
}

	
    function LoadCenter()
    {
        
        var URL=$('#hdn_web_url').val()+ "/AllCenterList";
        $.ajax({
            type:"GET",
            url:URL,
            async:false,        
            beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
            datatype:"json",
			"data": {cluster_id : $('#ddlCluster').val().toString()},
            success: function (data){
                if(data.Centers != null)
                {
                    $('#ddlCenter').empty();
                    var count=data.Centers.length;
                    if( count> 0)
                    {
                        $('#ddlCenter').append(new Option('ALL','0'));
                        for(var i=0;i<count;i++)
                            $('#ddlCenter').append(new Option(data.Centers[i].Center_Name,data.Centers[i].Center_Id));
                        //$('#ddlCenterType').val('');
                    }
                    else
                    {
                        $('#ddlCenter').append(new Option('ALL','0'));
                    }
                    //$("#ddlCenter option[value='0']").attr('disabled','disabled');
                }
            },
            error:function(err)
            {
                alert('Error! Please try again');
                return false;
            }
        });
        return false;
    }  
	*/
	function LoadTable(Centers, Status)
{
		//alert(Centers+Status);
		vartable1 = $("#tbl_users").DataTable({
        "serverSide": true,
        "aLengthMenu": [[10, 25, 50], [10, 25, 50]],
        "paging": true,
        "pageLength": 10,
        "sPaginationType": "full_numbers",
        "scrollX": false,
        "destroy": true,
        "processing": true,
        "language": { "processing": 'Loading..!' },
        "ajax": {
            "url": $('#hdn_web_url').val()+ "/trainer_list",
            "type": "POST",
            "dataType": "json",
            "data": function (d) {
                d.user_id = $('#hdn_home_user_id').val();
				d.user_role_id = $('#hdn_home_user_role_id').val();
				d.centers = Centers;
				d.Dept = $('#ddlDept').val().toString();        // ddlbu
				d.Region_id = $('#ddlRegion').val().toString();
				d.Cluster_id = '';//$('#ddlCluster').val().toString();
                d.status = Status.toString();
                d.user_region_id = $('#hdn_user_region_id').val();
                d.entity_ids = $('#ddlentity').val().toString();
                d.project_ids = $('#ddl_Project').val().toString();
                d.sector_ids = $('#ddlSector').val().toString();
                d.TrainerType = $('#ddlTrainerType').val();
            },
            error: function (e) {
                $("#tbl_users tbody").empty().append('<tr class="odd"><td valign="top" colspan="16" class="dataTables_empty">ERROR</td></tr>');
            }

        },

        "columns": [
            { "data": "S_No"},
            { "data": "User_Name" },
            { "data": "Email" },
            { "data": "Entity_Name" },
            { "data": "Employee_Department_Name" },
            { "data": "Region_Name" },
            { 
                "data": 
                function (row, type, val, meta) {
                    var varButtons = ""; 
                    if(row.Project==0)
                        varButtons=row.Project_Name;
                    else
                    {
                        varButtons += '<a onclick="GetProjectDetails(\'' + row.User_Id + '\',\'' + row.User_Name + '\')"  style="color:blue;cursor:pointer" >' + row.Project_Name + '</a>';
                    }                    
                    return varButtons;
                }
            },
            { 
                "data": 
                function (row, type, val, meta) {
                    var varButtons = ""; 
                    varButtons += '<a onclick="GetCertificateDetails(\'' + row.User_Id + '\',\'' + row.User_Name + '\')"  style="color:blue;cursor:pointer" >' + row.Certificate_Count + '</a>';
                    
                                       
                    return varButtons;
                }
            },
            { "data": "Sector_Name" },
            { "data": "Employment_Status_Name" },

			// { "data": function (row, type, val, meta) {
            //     var varStatus = ""; 
            //     if(row.Is_Active)
            //         varStatus="Active";
            //     else
            //         varStatus="In Active";
            //     return varStatus;
            //     }
            // },
			{ "visible":false, "data": "Center_Name" },
            // { "data": "Mobile_Number"}
       ],
        drawCallback: function(){
            $('#tbl_users_paginate ul.pagination').addClass("pagination-rounded");
        }


    });
}
function EditTrainerProfile(trainer_profile_id){
    $('#isactive2').prop('checked',true);

    $('#hdn_modal_trainerid3').val($('#hdn_modal_trainer_id').val());

    var URL=$('#hdn_web_url').val()+ "/GetSingleTrainerProfile"
            $.ajax({
            type:"GET",
            url:URL,
            async:false,        
            beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
            datatype:"json",
            data:
            {   
                "trainer_profile_id":trainer_profile_id
            },
            success: function (data){
                $('#hdn_modal_trainer_profile_id').val(data.TrainerProfile[0].Trainer_Profile_Id);
                $('#Certificate_Name').val(data.TrainerProfile[0].Certificate_Name);
                $('#Trainer_Name').val($('#hdn_modal_trainer_name').val());
                $('#ddlSector2').val(data.TrainerProfile[0].Sector_Name.toString());
                $('#StartDate').val(data.TrainerProfile[0].Start_Date);
                $('#EndDate').val(data.TrainerProfile[0].End_Date);
                //$('#CertificateDocument').val(data.TrainerProfile[0].Certificate_Copy);
           },
            error:function(err)
            {
                alert('Error while fetching milestone data');
                return false;
            }
        });
    $('#mdl_Trainer_Profile').modal('hide');
    $('#mdl_add_edit_trainer_profile').modal('show'); 
    return false;
}

function GetCertificateDetails(TrainerId,TrainerName)
    {
        $('#hdn_modal_trainer_id').val(TrainerId);
        $('#hdn_modal_trainer_name').val(TrainerName);
        $('#headerTrainerProfile').text(TrainerName);
        var URL=$('#hdn_web_url').val()+ "/GetTrainerProfile?trainer_id="+TrainerId;
        var doc;
        var fileExtentionDOC = ['doc','docx']
        var fileExtentionPDF = ['pdf','doc','docx','jpg','jpeg','png']
        
        $.ajax({
            type:"GET",
            url:URL,
            async:false,
            overflow:true,        
            beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
            datatype:"json",
            success: function (data){
                varHtml='';
                $("#tbl_trainer_profile").dataTable().fnDestroy();
                $("#tbl_trainer_profile tbody").empty();
                if(!jQuery.isEmptyObject(data))
                {   if (data.TrainerProfile != null){
                        count=data.TrainerProfile.length;
                        if (count>0)
                        {   varHtml='';
                            //console.log(count);
                            for(var i=0;i<count;i++)
                            {
                                td_open= '  <td style="text-align:center;">' ;
                                td_close=   '</td>';       
                                varHtml+='<tr>';
                                varHtml+='  <td style="text-align:center;">'+ data.TrainerProfile[i].S_No +'</td>';
                                //console.log(''+JSON.stringify(data.PartnerContract[i].Mile).replaceAll("\"")+'\\"')
                                if(1==1) // $('#hdn_home_user_role_id').val()!='50'  
                                    varHtml+='  <td style="text-align:center;">'+'<a onclick="EditTrainerProfile(\'' + data.TrainerProfile[i].Trainer_Profile_Id + '\')" class="btn" style="cursor:pointer" ><i title="Edit Trainer Profile" class="fas fa-edit" ></i></a>'+'</td>';
                                else
                                    varHtml+='  <td style="text-align:center;">'+ ''+'</td>';
                                varHtml+='  <td style="text-align:center;">'+ data.TrainerProfile[i].Sector_Name +'</td>';
                                varHtml+='  <td style="text-align:center;">'+ data.TrainerProfile[i].Certificate_Name +'</td>';                    
                                varHtml+='  <td style="text-align:center;">'+ data.TrainerProfile[i].Start_Date +'</td>';
                                varHtml+='  <td style="text-align:center;">'+ data.TrainerProfile[i].End_Date +'</td>';   
                                doc = data.TrainerProfile[i].Certificate_Copy
                                //doc.split('.')[doc.split('.').length-1] doc.split('.').pop()
                                if (doc=='NA' || doc=='')
                                    varHtml+='  <td style="text-align:center;">NA</td>';
                                else if (fileExtentionPDF.includes(doc.split('.').pop().toLowerCase())) 
                                    varHtml+='  <td style="text-align:center;">'+ '<a href=' + data.S3_Path +data.TrainerProfile[i].Certificate_Copy.replaceAll(" ", "%20") + ' target="_blank" title="Open image in new tab"><img src='+ 'static/assets/images/document-download-icon.png' +' style="height:20px;width:30px;border:0px solid lightgray;"/></a>'+'</td>';
                                else if (fileExtentionDOC.includes(doc.split('.').pop().toLowerCase()))
                                    varHtml+='  <td style="text-align:center;">'+ '<a href=' + data.TrainerProfile[i].Certificate_Copy.replaceAll(" ", "%20") + ' target="_blank" title="Open image in new tab"><img src='+ 'static/assets/images/document-download-icon.png' +' style="height:20px;width:30px;border:0px solid lightgray;"/></a>'+'</td>';
                                else
                                    varHtml+='  <td style="text-align:center;">'+ '<a href=' + data.TrainerProfile[i].Certificate_Copy.replaceAll(" ", "%20") + ' target="_blank" title="Open image in new tab"><img src='+ data.S3_Path + data.TrainerProfile[i].Certificate_Copy.replaceAll(" ", "%20") +' style="height:20px;width:30px;border:0px solid lightgray;"/></a>'+'</td>';
                                //varHtml+='  <td style="text-align:center;">'+ data.PartnerContract[i].Mou +'</td>';   
                                varHtml+='</tr>';                            
                            }
                            $("#tbl_trainer_profile tbody").append(varHtml);
                                $("#tbl_trainer_profile").DataTable({
                                drawCallback: function(){
                                    $('#tbl_trainer_profile_paginate ul.pagination').addClass("pagination-rounded");
                                }
                            });
                                $('#mdl_Trainer_Profile').modal('show');
                                varHtml='';
                        }
                        else
                        {
                            //varHtml='<tr><td colspan="4" style="text-align:center;">No records found</td></tr>'                            
                            //$("#tbl_users tbody").append(varHtml);
                            $("#tbl_trainer_profile").DataTable();
                            $('#mdl_Trainer_Profile').modal('show');
                        }
                    }
                }
                else
                {
                    //varHtml='<tr><td colspan="4" style="text-align:center;">No records found</td></tr>'
                    //$("#tbl_users tbody").append(varHtml);
                    $("#tbl_trainer_profile").DataTable();
                    $('#mdl_Trainer_Profile').modal('show');
                }   
            },
            error:function(err)
            {
                alert('Error! Please try again');
                return false;
            }
        });
        return false;
    }
    function AddTrainerProfileModal(){
    $('#isactive2').prop('checked',true);
    
    $('#hdn_modal_trainer_profile_id').val('0');
    $('#Certificate_Name').val('');
    $('#Trainer_Name').val($('#hdn_modal_trainer_name').val());
    $('#StartDate').val('');
    $('#EndDate').val('');
    $('#hdn_modal_trainerid3').val($('#hdn_modal_trainer_id').val());
    $('#mdl_Trainer_Profile').modal('hide');
    $('#mdl_add_edit_trainer_profile').modal('show');
}
function UploadFileData(file, param)
{   
    if (param==''){
        var file_path=$('#hdn_AWS_S3_path').val()+"bulk_upload/partner_planner/" + $('#hdn_home_user_id').val() + '_' + Date.now() + '_' + file.name;
    }
    else{
        var file_path=$('#hdn_AWS_S3_path').val()+"bulk_upload/trainer_certification/" + param;
    }
    
    var api_url=$('#hdn_COL_url').val() + "s3_signature?file_name="+file_path+"&file_type="+file.type;
    var xhr = new XMLHttpRequest();
    xhr.open("GET",api_url, false );
    xhr.send();

    if(xhr.status === 200 || xhr.status === 204){
        var response = JSON.parse(xhr.responseText);
        uploadFileToS3(file, response.data, response.url);
    }
    else{
        alert("Could not connect to file server.");
    }
}

function uploadFileToS3(file, s3Data, url){
    var xhr = new XMLHttpRequest();
    xhr.open("POST", s3Data.url, false);

    var postData = new FormData();
    for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);
    }
    postData.append('file', file);

    xhr.send(postData);
    //console.log(xhr.response);
    if(xhr.status === 200 || xhr.status === 204){
        var response = xhr;
    }
    else{
        alert("Could not upload file to s3.");
    }
}

function add_popup_message(){
    $('#imgSpinner3').show();
    //console.log($('#Contract_Name').val()+$('#ContractCode').val()+$('#StartDate').val()+$('#EndDate').val()+$('#MOUDocument').val()+$('#ddlBillingMilestones').val());
    var validImageTypes = ['image/gif', 'image/jpeg', 'image/png', 'application/pdf'];  // , 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
    var filename_prefix = $('#hdn_home_user_id').val() + '_' + Date.now() + '_';
    var filename = '';
    if(1==1){
        var file = document.getElementById('CertificateDocument').files[0];
        filename = filename_prefix + file.name;
        if (!validImageTypes.includes(file['type'])){
            alert('allowed format are : '+validImageTypes.toString());
            $('#imgSpinner3').hide();
            return false;
        }
        else if(file.size > 5*1024*1024){
            alert('Image size is not valid');
            $('#imgSpinner3').hide();
            return false;
        }
    }
    if ($('#StartDate').val() >= $('#EndDate').val()){
        alert('End date must greater than start date');
        $('#imgSpinner3').hide();
        //console.log($('#StartDate').val(),$('#EndDate').val())
    }
    else if (($('#StartDate').val() =='')||($('#EndDate').val() =='')||($('#Certificate_Name').val() =='')){
        alert('Please fill all required details!');
        $('#imgSpinner3').hide();
        //console.log($('#StartDate').val(),$('#EndDate').val())
    }
    else{
        
        var form_data = new FormData(); //$('#formUpload')[0]
        //Contract_Name, ContractCode, StartDate, EndDate, filename, BillingMilestones
        form_data.append('certificate_name',$('#Certificate_Name').val());
        form_data.append('sector_id',$('#ddlSector2').val());
        form_data.append('start_date',$('#StartDate').val());
        form_data.append('end_date',$('#EndDate').val());
        form_data.append('filename',filename);
        form_data.append('trainer_id',$('#hdn_modal_trainer_id').val());
        form_data.append('is_active',$('#isactive2').prop('checked'));
        form_data.append('trainer_profile_id',$('#hdn_modal_trainer_profile_id').val());
        
        $.ajax({
            type: 'POST',
            url: $('#hdn_web_url').val()+ "/add_edit_trainer_profile",
            enctype: 'multipart/form-data',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) 
            {   //PopupMessage, message, Status
                //console.log(data)
                if($('#hdn_modal_trainer_profile_id').val()=='0'){
                    var status;
                    file = document.getElementById('CertificateDocument').files[0]
                    //file = document.getElementById('myFile').files[0]
                    UploadFileData(file,filename);
                    status = true;
                }
                
                $('#imgSpinner3').hide();
                var message="",title="",icon="";
                if(data.PopupMessage.Status){
                    message=data.PopupMessage.message;
                    title="Success";
                    icon="success";
                }
                else{
                    if (data.PopupMessage.message=="Validation_Error"){
                        message=data.error;
                        title="Error";
                        icon="error";
                    }
                    else {
                        message=data.PopupMessage.message;
                        title="Error";
                        icon="error";
                    }
                }
                var span = document.createElement("span");
                span.innerHTML = message;
                swal({   
                            title:title,
                            content: span,
                            icon:icon,
                            confirmButtonClass:"btn btn-confirm mt-2"
                            }).then(function(){
                                $('#mdl_add_edit_trainer_profile').modal('hide');
                                GetCertificateDetails( $('#hdn_modal_trainer_id').val(), $('#hdn_modal_trainer_name').val());
                                //Create_add_Remove_attachment_Html($('#hdn_upl_session_id').val());
                            });
            },
            error:function(err)
            {
                console.log(err)
                swal({   
                    title:"Error",
                    text:'Error! Please try again',
                    icon:"error",
                    confirmButtonClass:"btn btn-confirm mt-2"
                    }).then(function(){
                        window.location.href = '/trainer';
                        //Create_add_Remove_attachment_Html($('#hdn_upl_session_id').val());
                });
            }
        });
    }
}
function Back()
{
    window.location.href = '/trainer';
}
    function LoadTableBasedOnSearch(){
		LoadTable('', $('#ddlStatus').val());
		/*$('#ddlCenter').val().toString()
        if($('#ddlCenter').val().toString()==''|| $('#ddlCenter').val().toString()==null){
            alert("Please select a Center.");
        }
        else{
            
            LoadTable($('#ddlCenter').val().toString(), $('#ddlStatus').val());
        }*/
        
    }
    
	
	function DownloadReport()
    {
        if(1==0){
            alert("Please select a Center.");
        }
        else
        {   
            var URL=$('#hdn_web_url').val()+ "/download_trainer_filter";            
            $.ajax({
                type:"POST",
                url:URL,
                async:false,        
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                data:{ 
					'user_id': $('#hdn_home_user_id').val(),
					'user_role_id' : $('#hdn_home_user_role_id').val(),
					'centers' : '',
                    'entity_ids' : $('#ddlentity').val().toString(),
					'Dept' : $('#ddlDept').val().toString(),        // ddlbu
                    'Region_id' : $('#ddlRegion').val().toString(), 
                    'Cluster_id' : '', //$('#ddlCluster').val().toString();,
                    'status' : $('#ddlStatus').val().toString(),
                    'TrainerType' : $('#ddlTrainerType').val(),
                    
                    'user_region_id' : $('#hdn_user_region_id').val(),
                    'project_ids' : $('#ddl_Project').val().toString(),
                    'sector_ids' : $('#ddlSector').val().toString()
                },
                success:function(data){
                    if(data!=null)
                    {   
                        if(data.success){
                            window.location=data.FilePath+data.FileName; //+'.xlsx'
                        }
                        else{
                            alert(data.msg)
                        }
                    }                    
                },
                error:function(x){
                    alert('Error while downloading Report. ');
                }
            });
        }
    }

    function GetProjectDetails(User_Id,User_Name)
    {
        var URL=$('#hdn_web_url').val()+ "/GetSubProjectsForUser?user_id="+User_Id;
        $.ajax({
            type:"GET",
            url:URL,
            async:false,
            overflow:true,        
            beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
            datatype:"json",
            success: function (data){
                varHtml='';
                $("#tblSubProject").dataTable().fnDestroy();
                $("#tblSubProject tbody").empty();
                if(!jQuery.isEmptyObject(data.SubProjects))
                {   if (data.SubProjects != null){
                        count=data.SubProjects.length;
                        if (count>0)
                        {   varHtml='';
                            console.log(count);
                            for(var i=0;i<count;i++)
                            {
                                td_open= '  <td style="text-align:center;">' ;
                                td_close=   '</td>';       
                                varHtml+='<tr>';
                                varHtml+='  <td style="text-align:center;">'+ data.SubProjects[i].S_No +'</td>';
                                varHtml+='  <td style="text-align:center;">'+ User_Name +'</td>';
                                varHtml+='  <td style="text-align:center;">'+ data.SubProjects[i].Sub_Project_Code +'</td>';
                                varHtml+='  <td style="text-align:center;">'+ data.SubProjects[i].Sub_Project_Name +'</td>';                    
                                varHtml+='  <td style="text-align:center;">'+ data.SubProjects[i].Project_Code +'</td>';
                                varHtml+='  <td style="text-align:center;">'+ data.SubProjects[i].Project_Name +'</td>';  
                                varHtml+='  <td style="text-align:center;">'+ data.SubProjects[i].Bu +'</td>';         
                                varHtml+='</tr>';
                                
                            }
                                $("#tblSubProject tbody").append(varHtml);
                                $("#tblSubProject").DataTable();
                                $('#divSubProjectList').modal('show');
                                varHtml='';
                        }
                        else
                        {
                            varHtml='<tr><td colspan="5" style="text-align:center;">No records found</td></tr>'
                            $("#tblSubProject tbody").append(varHtml);
                            $('#divSubProjectList').modal('show');
                        } 
                        
                    }
                }
                else
                {
                    varHtml='<tr><td colspan="5" style="text-align:center;">No records found</td></tr>'
                    $("#tblSubProject tbody").append(varHtml);
                    $('#divSubProjectList').modal('show');
                }   
            },
            error:function(err)
            {
                alert('Error! Please try again');
                return false;
            }
        });
        return false;
    }
</script>
	<div class="container-fluid">
                   <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">NEO</a></li>
                                        <li class="breadcrumb-item active">Trainers</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Trainers</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->
                    
	<div class="row">
        <div class="col-12">
            <div class="card-box">
                <form id="DownloadReport" action="/assign_External_treiner_add_edit" method="POST">
					<div class="row">
                        <div class="col-lg-3">
                            <label for="ddlentity" class="mr-2">Entity</label>
                            <select class="form-control dropdown-search-filter" id="ddlentity" multiple>
                                <option selected="" value="">All</option>
                            </select>
                        </div> 
                        <div class="col-lg-3">
							<label for="ddlDept" class="mr-2">Business Unit</label>
							<select class="form-control dropdown-search-filter" id="ddlDept" multiple>
								<option selected="" value="">All</option>
							</select>
                        </div>
                        <!--div class="col-lg-3">
							<label for="ddlBu" class="mr-2">Business Unit</label>
							<select class="form-control dropdown-search-filter" id="ddlBu" multiple>
								<option selected="" value="">All</option>
							</select>
                        </div-->

						<div class="col-lg-3">
							<label for="ddlRegion" class="mr-2">Region</label>
							<select class="form-control dropdown-search-filter" id="ddlRegion" multiple>
								<option selected="" value="">All</option>
								
							</select>
                        </div>
                        <div class="col-lg-3" style="display: none;">
                            <label for="ddl_Project" class="mr-2">Project</label>
                            <select class="form-control dropdown-search-filter" id="ddl_Project" multiple>
                                <option selected="" value="">All</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label for="ddlStatus" class="mr-2">Status</label>
                            <select class="form-control dropdown-search-filter" id="ddlStatus" multiple>
                                <!-- <option  value="0">All</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="row">
						<div class="col-lg-3" style="display: none;">
							<label for="ddlSector" class="mr-2">Sector</label>
							<select class="form-control dropdown-search-filter" id="ddlSector" multiple>
								<option selected="" value="">All</option>
							</select>
						</div>
					    
                        <div class="col-lg-3">
                            <label for="ddlTrainerType" class="mr-2">Status</label>
                            <select class="form-control dropdown-search-filter" id="ddlTrainerType">
                                <option  value="">All</option>
                            </select>
                        </div>

                        <div class="col-lg-1" >    
                            <button style="float: left; margin-top: 30px" type="button" class="btn btn-success waves-effect waves-light submit" 
                            onclick="LoadTableBasedOnSearch()">Search</button>
                            &nbsp     
                            <!--button style="margin-top: 30px" type="button" class="btn btn-primary waves-effect waves-light submit" 
                            onclick="Download()">Download</button-->
                        </div>
                        <div class="col-lg-2" >                                        
                            <button style="float: left;margin-top: 30px" type="button" id="btn_download" class="btn btn-primary waves-effect waves-light submit" 
                            onclick="DownloadReport()">Download</button>
                        </div>
                        <div class="col-lg-6" >                                        
                             <button style="float: right; margin-top: 30px;"  id="btn_create" type="submit" class="btn btn-success">Create External Trainer</a>
                        </div>
                        <div class="col-lg-1" >
                            <!-- <button class="btn btn-primary" type="submit" >Download Report</button> -->
                            <button style="margin-top: 30px;display:none" type="submit"  class="btn btn-primary waves-effect waves-light" >Download</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
	
	
	
	
	
				<div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4 class="header-title">Trainers List</h4>
                                        </div>
                                        <!--div class="col-lg-6" >                                        
                                                <button style="float: right" type="submit" id="btn_create" class="btn btn-primary">Create Trainers</a>
                                        </div-->
                                    </div>
                                    <br/>
                                    <div class="col-lg-12">
                                        <table id="tbl_users" class="table dt-responsive wrap">
                                            <thead>
                                                <tr>
                                                    <th>S No</th>
                                                    <th>Trainers Name</th>
                                                    <th>Email</th>
                                                    <th>Entity</th>
                                                    <th>Business Unit</th>
                                                    <th>Region</th>
                                                    <th>Project</th>
                                                    <th>Certificates</th>
                                                    <th>Sector</th>
                                                    <th>Employee Status</th>                                                    
													<!-- <th>Status</th> -->
													<th>Center(s)</th>
                                                    <!-- <th>Mobile Number</th> -->
                                                </tr>
                                            </thead>
                                        
                                        <tbody></tbody>
                                        </table>
                                    </div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->    
        </div> <!-- end container -->
            
            <!-- end wrapper -->
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

        <!-- Footer Start -->
        <div id="divSubProjectList" class="modal fade" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h4 class="modal-title">Sub Project List</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <table id="tblSubProject" class="table table-bordered dt-responsive wrap" style="border-color: lightgray;width:100% !important;font-size: 12px;">
                            <thead>                        
                                <tr style="background-color: #f5f6f8;">
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">S.No</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">User Name</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sub Project Code</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sub Project Name</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Project Code</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Project Name</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Business Unit</th>
                                </tr>
                            </thead>
                            <tbody>
        
                            </tbody>
                        </table>	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-info waves-effect waves-light">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div><!--/.modal-->  
        <div id="mdl_Trainer_Profile" class="modal fade" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h4 class="modal-title" ><span id="headerTrainerProfile"></span></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="Back()">×</button>
                    </div>                    
                    <div class="modal-body">
                        <input type="hidden" id="hdn_modal_trainer_id" name="hdn_modal_trainer_id" value="0">
                        <input type="hidden" id="hdn_modal_trainer_name" name="hdn_modal_trainer_name" value="0">
        
                        <div class="row">
                            <div class="col-md-12">
                                <button style="float: right;" type="button" id="btn_add" onclick="AddTrainerProfileModal()" class="btn btn-primary">Add Trainer Certificate</a>
                            </div>
                        </div>
                    </br>
                        <div >
                            <table id="tbl_trainer_profile" class="table table-bordered dt-responsive nowrap" style="border-color: lightgray;width:100% !important;font-size: 12px;">
                                <thead>
                                    <tr style="background-color: #f5f6f8;">
                                        <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">S.No</th>
                                        <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Action</th>
                                        <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Trade Qualification</th>
                                        <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Certification</th>
                                        <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Valid From </th>
                                        <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Valid To</th>
                                        <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Document</th>
                                    </tr>
                                </thead>
                                <tbody>
        
                                </tbody>
                            </table>
                        </div>	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" onclick="Back()"> Close</button>
                    </div>
                </div>
            </div>
        </div><!--/.modal-->
        
        <div id="mdl_add_edit_trainer_profile" class="modal fade" style="overflow:auto;" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content ">
                    <form action="javascript:add_popup_message();" method="POST" >
                    <input type="hidden" id="hdn_modal_trainer_profile_id" name="hdn_modal_trainer_profile_id" value="0">
                    <input type="hidden" id="hdn_modal_traineridt3" name="hdn_modal_traineridt3" value="0">
                    <div class="modal-header">
                        <h4 class="modal-title" ><span id="header">Trainer Profile Details</span></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body" id="ModalTrainerProfileInfo">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <br/>
                                    <div class="alert alert-warning d-none fade show">
                                        <h4>Oh snap!</h4>
                                        <p class="mb-0">This form seems to be invalid :(</p>
                                    </div>
                                    <div class="alert alert-info d-none fade show">
                                        <h4>Yay!</h4>
                                        <p class="mb-0">Everything seems to be ok :)</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="Trainer_Name">Trainer Name * :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="Trainer_Name" id="Trainer_Name" required placeholder="Trainer Name" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="ddlSector2">Trade Qualification :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" id="ddlSector2" >
                                                    <!--option selected="" value="0">All</option-->
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="Certificate_Name">Certificate Name * :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="Certificate_Name" id="Certificate_Name" required placeholder="Certificate Name">
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group row ">
                                            <div class="col-lg-6">
                                                    <label for="StartDate"> Valid From* :</label>
                                                </div>
                                                <div class="col-lg-6">
                                            <input type="text" id="StartDate" name="StartDate" class="form-control date-picker" ClientIdMode="static" placeholder="Start Date" required>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                            <div class="col-lg-6">
                                                    <label for="EndDate"> Valid To* :</label>
                                                </div>
                                                <div class="col-lg-6">
                                            <input type="text" id="EndDate" name="EndDate" class="form-control date-picker" ClientIdMode="static" placeholder="EndDate" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="CertificateDocument">Certificate Document * :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="file" class="form-control" name="CertificateDocument" id="CertificateDocument" required placeholder="Certificate Document">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Is Active *:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkbox checkbox-pink mb-0">
                                                    <input type="checkbox" name="isactive2" id="isactive2" ClientIdMode="static" 
                                                                    value="1" data-parsley-mincheck="1" >
                                                    <label for="isactive2"> Is active </label>
                                                </div>
                                            </div>   
                                        </div>                                     
                                    </div>
                                    <!-- <div class="form-group mb-0">
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </div> -->
                                </div> <!-- end card-box-->
                            </div> <!-- end col-->
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <div id="imgSpinner3" style="display: none;"> <!--style="margin-top: 9px;margin-bottom: -23px;"-->
                            <img src="static/assets/images/spinner1_old.gif" style="height:30px;display:inline-block;"/>
                            <label id="imgSpinner3_label" style="display:inline-block;">Please wait while uploading...</label>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary waves-effect" > Save</button>
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"> Close</button>
                        </div>
                    </div>
                    </form>
                    <form id='form2' method="POST" action="/assign_project_add_edit_to_home">
                        <input type="hidden" id="hdn_project_id" name="hdn_project_id" value="0">
                    </form>
                </div>
            </div>
        </div><!--/.modal-->
        <!-- third party js -->
        <script src="static/assets/libs/datatables/jquery.dataTables.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.bootstrap4.js"></script>
        <script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
        <script src="static/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.buttons.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.html5.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.flash.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.print.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.keyTable.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.select.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
        <!-- third party js ends -->
        <!-- datatables init js-->
        <!--script src="static/assets/js/pages/trainer-list.js"></script--
		>