        <link href="static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
        
         <!-- third party css -->
         <link href="static/assets/libs/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
         <!-- third party css end -->

        <!-- App css -->
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/libs/datatables/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        
		<script type="text/javascript">
        $(document).ready(function(){       
            $("#tbl_users").dataTable().fnDestroy();                
            
			$('.dropdown-search-filter').select2({
                placeholder:''
            });
			LoadBuddl();
			LoadRegionddl();
            
			LoadTable("0","-1");
			
			$('#ddlStatus').append(new Option('ALL','-1'));
			$('#ddlStatus').append(new Option('Active','1'));
			$('#ddlStatus').append(new Option('InActive','0'));
        });
	function LoadBuddl(){
    var URL=$('#hdn_web_url').val()+ "/GetAllBusBasedOn_User"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        data:{
                "user_id": $('#hdn_home_user_id').val(),
                "user_role_id" : $('#hdn_home_user_role_id').val()
        },
        success: function (data){
            if(data.Bu != null)
            {
                $('#ddlBu').empty();
                var count=data.Bu.length;
                if( count> 0)
                {
                    //$('#ddlCenter').append(new Option('ALL',''));
                    for(var i=0;i<count;i++)
                        $('#ddlBu').append(new Option(data.Bu[i].Bu_Name,data.Bu[i].Bu_Id));
                    $('#ddlBu').val('');
                }
                else
                {
                    $('#ddlBu').append(new Option('ALL',''));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}

function LoadRegionddl(){
    var URL=$('#hdn_web_url').val()+ "/AllRegionsBasedOnUser"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        data:{
            "user_id": $('#hdn_home_user_id').val(),
            "user_role_id" : $('#hdn_home_user_role_id').val(),
            "user_region_id" : $('#hdn_user_region_id').val()
        },
        success: function (data){
            if(data.Regions != null)
            {
                $('#ddlRegion').empty();
                var count=data.Regions.length;
                if( count> 0)
                {
                    $('#ddlRegion').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++)
                        $('#ddlRegion').append(new Option(data.Regions[i].Region_Name,data.Regions[i].Region_Id));
                    //$('#ddlCourse').val('-1');
                }
                else
                {
                    $('#ddlRegion').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
}


//LoadClusterddl
function LoadClusterddl(){
    var URL=$('#hdn_web_url').val()+ "/Get_all_Cluster_Based_On_Region"
        $.ajax({
        type:"POST",
        url:URL,
        async:false,       
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json", 
        data:{
            "region_id" : $('#ddlRegion').val().toString()//$('#ddlProject option:selected').val()
        },
		success: function (data){
            if(data.ClusterOnRegion != null)
            {
                $('#ddlCluster').empty();
                var count=data.ClusterOnRegion.length;
                if( count> 0)
                {
                    $('#ddlCluster').append(new Option('ALL','-1'));
                    for(var i=0;i<count;i++)
                        $('#ddlCluster').append(new Option(data.ClusterOnRegion[i].Cluster_Name,data.ClusterOnRegion[i].Cluster_Id));
                    //$('#ddlCourse').val('-1');
                }
                else
                {
                    $('#ddlCluster').append(new Option('ALL','-1'));
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading Cluster! Please try again');
            return false;
        }
    });
    return false;
}

	
    function LoadCenter()
    {
        
        var URL=$('#hdn_web_url').val()+ "/AllCenterList";
        $.ajax({
            type:"GET",
            url:URL,
            async:false,        
            beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
            datatype:"json",
			"data": {cluster_id : $('#ddlCluster').val().toString()},
            success: function (data){
                if(data.Centers != null)
                {
                    $('#ddlCenter').empty();
                    var count=data.Centers.length;
                    if( count> 0)
                    {
                        $('#ddlCenter').append(new Option('ALL','0'));
                        for(var i=0;i<count;i++)
                            $('#ddlCenter').append(new Option(data.Centers[i].Center_Name,data.Centers[i].Center_Id));
                        //$('#ddlCenterType').val('');
                    }
                    else
                    {
                        $('#ddlCenter').append(new Option('ALL','0'));
                    }
                    //$("#ddlCenter option[value='0']").attr('disabled','disabled');
                }
            },
            error:function(err)
            {
                alert('Error! Please try again');
                return false;
            }
        });
        return false;
    }
    
	
	function LoadTable(Centers, Status)
{
		//alert(Centers+Status);
		vartable1 = $("#tbl_users").DataTable({
        "serverSide": true,
        "aLengthMenu": [[10, 25, 50], [10, 25, 50]],
        "paging": true,
        "pageLength": 10,
        "sPaginationType": "full_numbers",
        "scrollX": false,
        "destroy": true,
        "processing": true,
        "language": { "processing": 'Loading..!' },
        "ajax": {
            "url": $('#hdn_web_url').val()+ "/trainer_list",
            "type": "POST",
            "dataType": "json",
            "data": function (d) {
                d.user_id = $('#hdn_home_user_id').val();
				d.user_role_id = $('#hdn_home_user_role_id').val();
				d.centers = Centers;
				d.BU = $('#ddlBu').val().toString();
				d.Region_id = $('#ddlRegion').val().toString();
				d.Cluster_id = $('#ddlCluster').val().toString();
                d.status = Status;
                d.user_region_id = $('#hdn_user_region_id').val();
            },
            error: function (e) {
                $("#tbl_users tbody").empty().append('<tr class="odd"><td valign="top" colspan="16" class="dataTables_empty">ERROR</td></tr>');
            }

        },

        "columns": [
            { "data": "S_No"},
            { "data": "User_Name" },
            { "data": "Email" },
            
			{ "data": function (row, type, val, meta) {
                var varStatus = ""; 
                if(row.Is_Active)
                    varStatus="Active";
                else
                    varStatus="In Active";
                return varStatus;
                }
            },
			{ "visible":false, "data": "Center_Name" },
            { "data": "Mobile_Number"}
       ],


    });
}

	
    function LoadTableBasedOnSearch(){
		LoadTable($('#ddlCenter').val().toString(), $('#ddlStatus').val());
		/*
        if($('#ddlCenter').val().toString()==''|| $('#ddlCenter').val().toString()==null){
            alert("Please select a Center.");
        }
        else{
            
            LoadTable($('#ddlCenter').val().toString(), $('#ddlStatus').val());
        }*/
        
    }
    
	
	function DownloadReport()
    {
        if($('#ddlCenter').val().toString()==''|| $('#ddlCenter').val().toString()==null){
            alert("Please select a Center.");
        }
        else
        {   
            var URL=$('#hdn_web_url').val()+ "/download_trainer_filter";            
            $.ajax({
                type:"POST",
                url:URL,
                async:false,        
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                data:{ 
					'user_id': $('#hdn_home_user_id').val(),
					'user_role_id' : $('#hdn_home_user_role_id').val(),
					'centers' : $('#ddlCenter').val().toString(),
					'status' : $('#ddlStatus').val()
                },
                success:function(data){
                    if(data!=null)
                    {
						//alert(data.FilePath+data.FileName+'.xlsx');
                        window.location=data.FilePath+data.FileName+'.xlsx';
                    }                    
                },
                error:function(x){
                    alert('Error while downloading Report. ');
                }
            });
        }
    }
    
</script>
	<div class="container-fluid">
    
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">LN</a></li>
                                        <li class="breadcrumb-item active">Trainers</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Trainers</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->
                    
	<div class="row">
        <div class="col-12">
            <div class="card-box">
                <form id="DownloadReport" action="javascript:DownloadReport();" name="DownloadReport" method="POST">
                    
					<div class="row"> 
                        <div class="col-lg-3">
							<label for="ddlBu" class="mr-2">Business Unit</label>
							<select class="form-control dropdown-search-filter" id="ddlBu" multiple>
								<option selected="" value="">All</option>
							</select>
                        </div>

						<div class="col-lg-3">
							<label for="ddlRegion" class="mr-2">Region</label>
							<select class="form-control dropdown-search-filter" id="ddlRegion" onchange="LoadClusterddl()" multiple>
								<option selected="" value="">All</option>
								
							</select>
						</div>
						
						<div class="col-lg-3">
							<label for="ddlCluster" class="mr-2">Cluster</label>
							<select class="form-control dropdown-search-filter" id="ddlCluster" onchange="LoadCenter()" multiple>
								<option selected="" value="">All</option>
							</select>
						</div>
						
						<div class="col-lg-3">
                            <label for="ddlCenter" class="mr-2">Center</label>
                            <select class="form-control dropdown-search-filter" id="ddlCenter" multiple >
                                <!-- <option value="0">All</option> -->
                            </select>
                        </div>
					</div>
					<div class="row"> 
						
                        <div class="col-lg-3">
                            <label for="ddlStatus" class="mr-2">Status</label>
                            <select class="form-control dropdown-search-filter" id="ddlStatus">
                                <!-- <option  value="0">All</option> -->
                            </select>
                        </div>
                        
                        <div class="col-lg-1" >
                            <button style="margin-top: 30px" type="button" class="btn btn-success waves-effect waves-light" onclick="LoadTableBasedOnSearch()">Search</button>
                        </div>
                        <div class="col-lg-1" >
                            <!-- <button class="btn btn-primary" type="submit" >Download Report</button> -->
                            <button style="margin-top: 30px" type="submit" class="btn btn-primary waves-effect waves-light" >Download</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
	
	
	
	
	
				<div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4 class="header-title">Trainers List</h4>
                                        </div>
                                        <!--div class="col-lg-6" >                                        
                                                <button style="float: right" type="submit" id="btn_create" class="btn btn-primary">Create Trainers</a>
                                        </div-->
                                    </div>
                                    <br/>
                                    <div class="col-lg-12">
                                        <table id="tbl_users" class="table dt-responsive nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S No</th>
                                                    <th>Trainers Name</th>
                                                    <th>Email</th>
													<th>Status</th>
													<th>Center(s)</th>
                                                    <th>Mobile Number</th>
                                                </tr>
                                            </thead>
                                        
                                        <tbody></tbody>
                                        </table>
                                    </div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->    
        </div> <!-- end container -->
            
            <!-- end wrapper -->
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

        <!-- Footer Start -->
        

        <!-- third party js -->
        <script src="static/assets/libs/datatables/jquery.dataTables.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.bootstrap4.js"></script>
        <script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
        <script src="static/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.buttons.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.html5.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.flash.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.print.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.keyTable.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.select.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
        <!-- third party js ends -->

        <!-- datatables init js-->
        <!--script src="static/assets/js/pages/trainer-list.js"></script--
		
		
		>
