        <link href="static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
        <!-- third party css -->
         <link href="static/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
         <link href="static/assets/libs/datatables/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
         <!-- third party css end -->

        <!-- App css -->
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />        
        <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
            $(document).ready(function () {
            $("#tbl_users").dataTable().fnDestroy();
            $('.dropdown-search-filter').select2({
                placeholder:''
            });

            //LoadRM_Role_ddl();
            LoadRegionddl();
            LoadR_Manager_ddl();
            LoadDEPTddl();
            Loadentityddl();
            LoadRoleddl();
            LoadProjectddl();
            LoadStatusddl();
            LoadTable('{{role}}'); 
            role_id=parseInt($('#hdn_home_user_role_id').val());
            if(role_id == 5)
                $('#btn_create').hide();
        });
        </script>
       <form id='form1' method="POST" action="/assign_user_add_edit_to_home">
            
                <input type="hidden" id="hdn_user_id" name="hdn_user_id" value="0">
                <div class="container-fluid">
    
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">LN</a></li>
                                        <li class="breadcrumb-item active">Users</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Users</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
								<div class="row">

                                    <div class="col-lg-3">
                                        <label for="ddlentity" class="mr-2">Entity</label>
                                        <select class="form-control dropdown-search-filter" id="ddlentity" multiple>
                                            <option selected="" value="">All</option>
                                            
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlDEPT" class="mr-2">Department</label>
                                        <select class="form-control dropdown-search-filter" id="ddlDEPT"  multiple>
                                            <option selected="" value="">All</option>
                                            
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlRole" class="mr-2">Role</label>
                                        <select class="form-control dropdown-search-filter" id="ddlRole" multiple>
                                            <option selected="" value="">All</option>
                                            
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlRegion" class="mr-2">Region</label>
                                        <select class="form-control dropdown-search-filter" id="ddlRegion"  multiple>
                                            <option selected="" value="">All</option>
                                            
                                        </select>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-3" style="display: none;">
                                        <label for="ddl_Project" class="mr-2">Project</label>
                                        <select class="form-control dropdown-search-filter" id="ddl_Project" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddl_R_Manager" class="mr-2">Reporting Manager</label>
                                        <select class="form-control dropdown-search-filter" id="ddl_R_Manager" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddl_status" class="mr-2">Status</label>
                                        <select class="form-control dropdown-search-filter" id="ddl_status" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3" >
                                        <button style="margin-top: 30px" type="button" class="btn btn-success waves-effect waves-light submit" 
                                        onclick="LoadTable('-1')">Search</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4 class="header-title">Users List</h4>
                                        </div>
                                        <div class="col-lg-6" >                                        
                                                <button style="float: right; display: none;" type="submit" id="btn_create" class="btn btn-primary">Create User</a>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="col-lg-12">
                                        <table id="tbl_users" class="table dt-responsive wrap">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Actions</th>
                                                    <th>User Name</th>
                                                    <th>Email</th>
                                                    <th>Entity</th>
                                                    <th>Department</th>
                                                    <th>Role</th>
                                                    <th>Region</th>
                                                    <th>Project</th>
                                                    <th>Reporting Manager</th>
                                                    <th>Employment Status</th>
                                                    <th>Center(s)</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                        
                                        <tbody></tbody>
                                        </table>
                                    </div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->    
                </div> <!-- end container -->
            
            <!-- end wrapper -->
        </form>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

        <!-- Footer Start -->
        <div id="divSubProjectList" class="modal fade" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h4 class="modal-title">Sub Project List</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <table id="tblSubProject" class="table table-bordered dt-responsive wrap" style="border-color: lightgray;width:100% !important;font-size: 12px;">
                            <thead>                        
                                <tr style="background-color: #f5f6f8;">
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">S.No</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">User Name</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sub Project Code</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sub Project Name</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Project Code</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Project Name</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Business Unit</th>
                                </tr>
                            </thead>
                            <tbody>
        
                            </tbody>
                        </table>	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-info waves-effect waves-light">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div><!--/.modal-->  

        
        <!-- third party js -->
        <script src="static/assets/libs/datatables/jquery.dataTables.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.bootstrap4.js"></script>
        <script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
        <script src="static/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.buttons.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.html5.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.flash.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.print.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.keyTable.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.select.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
        <!-- third party js ends -->

        <!-- datatables init js-->
        <script src="static/assets/js/pages/user-list.js"></script>

