        <!-- Plugins css -->
        <link href="static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
        
         <!-- third party css -->
         <link href="static/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/libs/datatables/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
         <!-- third party css end -->

         <!-- App css -->
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" />

         <!-- third party js -->
         <script src="static/assets/libs/datatables/jquery.dataTables.min.js"></script>
         <script src="static/assets/libs/datatables/dataTables.bootstrap4.js"></script>
         <script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
         <script src="static/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
         <script src="static/assets/libs/datatables/dataTables.buttons.min.js"></script>
         <script src="static/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
         <script src="static/assets/libs/datatables/buttons.html5.min.js"></script>
         <script src="static/assets/libs/datatables/buttons.flash.min.js"></script>
         <script src="static/assets/libs/datatables/buttons.print.min.js"></script>
         <script src="static/assets/libs/datatables/dataTables.keyTable.min.js"></script>
         <script src="static/assets/libs/datatables/dataTables.select.min.js"></script>        
         <!-- third party js ends -->
        

        <style>
            .center {
                margin: auto;
                width: 90%;
                padding: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            
            .hidedialog {
                display: none;
            }
            .modal {
                overflow-y:auto;
            }
            .user-btn{    
                    /* display:inline-block; */
                    font-weight:400;
                    color:#6c757d;
                    text-align:center;
                    vertical-align:middle;
                    -webkit-user-select:none;
                    -moz-user-select:none;
                    -ms-user-select:none;
                    user-select:none;
                    background-color:transparent;
                    border:1px solid transparent;
                    padding:.45rem .9rem;
                    font-size:.875rem;
                    line-height:1.5;
                    border-radius:.15rem;
                    -webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
                    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
                }
        </style>

        <script type="text/javascript">
            $(document).ready(function () {
            var Course=0,Batch=0;
            $("#tbl_batchs").dataTable().fnDestroy();
            $(".date-picker").flatpickr({
                dateFormat : "d-M-Y"
            });
            $('.dropdown-search-filter').select2({
                placeholder:''
            });
            LoadCenterType();
            LoadRegionddl();
            loadClient();
             role_id=parseInt($('#hdn_home_user_role_id').val());
            if(role_id == 1 || role_id ==5 || role_id ==15 || role_id  ==27)
                $('#btn_create').show();
            else 
                $('#btn_create').hide();
            LoadTable();
            
            });
        </script>
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <form id='form1' method="POST" action="/assign_batch_add_edit_to_home">
            
                <input type="hidden" id="hdn_batch_id" name="hdn_batch_id" value="0">
                <input type="hidden" id="hdnMobilizationType" name="hdnMobilizationType" value="">
                <div class="row" id="divBtns" style="display: none;" >
                    <div class="col-12">
                        <div class="card-box">  
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="header-title" id="headBatch"></h4>  
                                </div>                                   
                                <div class="col-md-6" style="text-align: right;">                                                               
                                    <button type="button" class="btn btn-info btn-rounded" style="display: none;" id="btnAssessmentInfo" onclick="ShowAssessmentPage();">Assessment List</button>
                                   </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" id="divAssessmentlist">
    
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">NEO</a></li>
                                        <li class="breadcrumb-item active">Certification</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Certification</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->
                    
                    <div id="get0" class="row">  <!--  id="get0"  -->
                        <div class="col-12">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label for="ddlClient" class="mr-2">Customer</label>
                                        <select class="form-control dropdown-search-filter" onchange="LoadProject();" id="ddlClient" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlProject" class="mr-2">Project</label>
                                        <select class="form-control dropdown-search-filter" onchange="LoadSubProject();" id="ddlProject" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlSubProject" class="mr-2">Sub Project</label>
                                        <select class="form-control dropdown-search-filter" id="ddlSubProject" multiple>  <!-- onchange="LoadCenter();"-->>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlRegion" class="mr-2">Region</label>
                                        <select class="form-control dropdown-search-filter" onchange="LoadCenter();" id="ddlRegion" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
								</div>
								<div class="row">
                                    <div class="col-lg-3">
                                        <label for="ddlCenter" class="mr-2">Center</label>
                                        <select class="form-control dropdown-search-filter" id="ddlCenter" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlCenterType" class="mr-2">Center Type</label>
                                        <select class="form-control dropdown-search-filter" id="ddlCenterType" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
										<label for="ddlCourse" class="mr-2">Course</label>
										<select class="form-control dropdown-search-filter" id="ddlCourse" multiple>
											<option selected="" value="">All</option>
										</select>
                                    </div>
                                    <div class="col-lg-1" style="float: center; margin-top: 30px">
                                        <button  type="button" class="btn btn-success waves-effect waves-light" onclick="LoadTable()">Search</button>
                                    </div>
                                </div>    
                                 <!-- end row -->
                            </div> <!-- end card-box -->
                        </div><!-- end col-->
                    </div>

                    <div id="divBcthList" class="row" style="display: none;"> <!-- id="get"  -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4 class="header-title">Batch List</h4>
                                        </div>
                                        <div class="col-lg-6" style="display:none">                                        
                                                <button style="float: right" type="submit" id="btn_create" class="btn btn-primary">Create Batch</a>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="col-lg-12">
                                        <table id="tbl_batchs" class="table w-100 wrap dataTable no-footer">
                                            <thead>
                                                <tr>
                                                    <th>S No</th>
                                                    <th>Actions</th>                                                   
                                                    <th>Batch Code</th>
                                                    <th>Passed Count</th>
                                                    <th>Requested for printing</th>
                                                    <th>Sent for printing</th>
                                                    <th>Sent to Center</th>
                                                    <th>Received by Center</th>
                                                    <th>Planned for distribution</th>
                                                    <th>Distributed</th>
                                                </tr>
                                            </thead>
                                        
                                        <tbody></tbody>
                                        </table>
                                    </div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->    
                </div> <!-- end container -->
            
            <!-- end wrapper -->
        </form>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
        
    <div id="map_cand" class="center hidedialog col-lg-12">
        <button id="close" class="btn btn-primary " style="float: right;"onclick="javascript:$('#get').show(); $('.center').hide();">X</button>
        <table id="tbl_candidate"  class="table dt-responsive nowrap">
            <thead>
                <tr>
                    <th>S No</th>
                    <th>ADD</th>
                    <th>Candidate Id</th>
                    <th>Candidate Name</th>
                    <th>Course Name</th>
                    <th>Center Name</th>
                    <th>Mobile Number</th>
                    <th>Registration Id</th>
                    <th>Enrollment Id</th>
                    <th>Salutation</th>
                </tr>
            </thead>
        
        <tbody></tbody>
        </table>

        <table id="tbl_drop_candidate"  class="table dt-responsive nowrap">
            <thead>
                <tr>
                    <th>S No</th>
                    <th>DROP</th>
                    <th>Candidate Id</th>
                    <th>Candidate Name</th>
                    <th>Course Name</th>
                    <th>Center Name</th>
                    <th>Mobile Number</th>
                    <th>Registration Id</th>
                    <th>Enrollment Id</th>
                    <th>Salutation</th>
                </tr>
            </thead>
        
        <tbody></tbody>
        </table>

        <div class="form-group mb-0">
            <button class="btn btn-primary" onclick="javascript:save();">Save</button>
        </div>
        
    </div>
    <div id="divBatchDetails" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">
                <div class="modal-header">
                    <h4 class="modal-title" ><span id="hdBatchName">Batch Detail</span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>                    
                <div class="modal-body">
                    <table id="tblBatchDetails" class="table table-bordered dt-responsive wrap " style="border-color: lightgray;font-size: 10px;">
                        <thead>
                            <tr style="background-color: #f5f6f8;">
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">S.No</th> 
                                 <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Batch Code</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Batch Name</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Candidate Count</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Center</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Course</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sub Project</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Trainer</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Start Date</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">End Date</th>
                            </tr>
                        </thead>
                        <tbody>
    
                        </tbody>
                    </table>	
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" >Close</button>
                </div>
            </div>
        </div>
    </div><!--/.modal-->
    <div id="tr_candidate_detail" class="modal fade" role="dialog" style="padding-right: 20px;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content " style="width: 1200px;">
                <div class="modal-header">
                    <h4 class="modal-title">Candidate List:</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="Back()">×</button>
                </div>             
                <div class="modal-body">
                    <input type="hidden" id="hdn_batch_code" name="hdn_batch_code" value="">
                    <input type="hidden" id="hdn_batch_id" name="hdn_batch_id" value="0">
                    <input type="hidden" id="hdn_cert_stage_id" name="hdn_cert_stage_id" value=0>
                    <input type="hidden" id="hdn_mdl_skilling_id" name="hdn_mdl_skilling_id" value="0">
                    <input type="hidden" id="hdn_cand_enrol_id" name="hdn_cand_enrol_id" value="0">
                    
                    <table id="tbl_candidate" class="table table-bordered dt-responsive wrap w-100" style="border-color: lightgray;width:100% !important;font-size: 10px;">
                        <thead>
                            <tr style="background-color: #f5f6f8;">
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">S.No</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Select Candidate
                                    <input id="addedchkall" name="checkcaseall" type="checkbox" value="" onclick="toggleCheckbox(event)" ></th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Candidate Name</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Mobile Number</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Email</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Enrolment No</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Certificate Number</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Certificate Copy</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
    
                        </tbody>
                    </table>	
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnUploadCertificate" class="btn btn-primary waves-effect" onclick="UploadCertificate()" style="display: none;">Upload Certificate Number</button>
                    <button type="button" id="btnStatusChange" class="btn btn-primary waves-effect" onclick="ChangeStage()" style="display: none;">Change Stage</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" onclick="Back()">Close</button>
                    <!-- <button type="button" class="btn btn-info waves-effect waves-light">Save changes</button> -->
                </div>
            </div>
        </div>
    </div><!--/.modal-->
    <div id="mdl_certification_status_change" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content " >
                <form id="frChangeStage" data-parsley-validate="" action="javascript:ChangeCertificationStage()">
                <div class="modal-header">
                    <h4 class="modal-title" ><span id="hdHeadingName">Certification Details</span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>                    
                <div class="modal-body" style="overflow: auto;width: 100%;height:400px;">  
                    <input type="hidden" id="hdn_batch_assessment_id" name="hdn_batch_assessment_id" value="0"> 
                    <input type="hidden" id="hdn_assessment_id" name="hdn_assessment_id" value="0"> 
                    <input type="hidden" id="hdn_current_stage_id" name="hdn_current_stage_id" value="0">
                    <div >
                        <div class="form-group" id="DivCertStages" >
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="ddlCertStages">Certification Stage * :</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" id="TxtCertStages" name="TxtCertStages" class="form-control " ClientIdMode="static" placeholder="Certification Satge" disabled >
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div> 
                        <div class="form-group" id="DivSentPrintingDate" style="display:none">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="TxtSentPrintingDate">Sent For Printing On*:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" id="TxtSentPrintingDate" name="TxtSentPrintingDate" class="form-control date-picker" required placeholder="Select Date">
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                        <div class="form-group" id="DivSentCenterDate" style="display:none">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="TxtSentCenterDate">Sent To Center On*:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" id="TxtSentCenterDate" name="TxtSentCenterDate" class="form-control date-picker" required placeholder="Select Date">
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                        <div class="form-group" id="DivCenterExpArrivalDate" style="display:none">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="TxtSentCenterDate">Expected Arrival Date*:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" id="TxtCenterExpArrivalDate" name="TxtCenterExpArrivalDate" class="form-control date-picker" required placeholder="Select Date">
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                        <div class="form-group" id="DivReceivedDate" style="display:none">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="TxtReceivedDate">Received Date*:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" id="TxtReceivedDate" name="TxtReceivedDate" class="form-control date-picker" required placeholder="Select Date">
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                        <div class="form-group" id="DivPlannedDistributionDate" style="display:none">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="TxtPlannedDistributionDate">Planned Distribution Date*:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" id="TxtPlannedDistributionDate" name="TxtPlannedDistributionDate" class="form-control date-picker" required placeholder="Select Date">
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                        <div class="form-group" id="DivActualDistributionDate" style="display:none">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="TxtActualDistributionDate">Actual Distribution Date*:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" id="TxtActualDistributionDate" name="TxtActualDistributionDate" class="form-control date-picker" required placeholder="Select Date">
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                        
                        <div class="form-group" id="DivCGName" style="display:none">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="TxtCGName">Chief Guest Name:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" id="TxtCGName" name="TxtCGName" class="form-control " ClientIdMode="static" placeholder="Chief Guest Name" >
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>  
                        <div class="form-group" id="DivCGDesig" style="display:none">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="TxtCGDesig">Chief Guest Designation:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" id="TxtCGDesig" name="TxtCGDesig" class="form-control " ClientIdMode="static" placeholder="Chief Guest Designation" >
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div> 
                        <div class="form-group" id="DivCGOrg" style="display:none">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="TxtCGOrg">Chief Guest Organization:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" id="TxtCGOrg" name="TxtCGOrg" class="form-control " ClientIdMode="static" placeholder="Chief Guest Oraganization" >
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>  
                        <div class="form-group" id="DivCGOrgLoc" style="display:none">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="TxtCGOrgLoc">Chief Guest Organization Location:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" id="TxtCGOrgLoc" name="TxtCGOrgLoc" class="form-control " ClientIdMode="static" placeholder="Chief Guest Oraganization Location" >
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>  
                       
                           
                    </div>             
                </div>
                <div class="modal-footer">   
                    <button class="btn btn-success" type="submit"> Submit </button>                
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" >Back</button>                    
                </div>
                </form>
            </div>
        </div>
    </div><!--/.modal-->
    <div id="mdl_candidate_certificate_upload" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <form id="CertUpload" action="javascript:UploadCandidatecertificateFileData()">
                   
                <div class="modal-header">
                    <h4 class="modal-title"><span id="HduploadFile"></span>Upload Certificate</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="hdn_ceri_file_name" name="hdn_ceri_file_name" value="">
                    <div class="form-group">
                      
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="myFile">Upload File* :</label>
                            </div>
                            <div class="col-lg-4">
                                <input type="file" id="fileCertificate" name="filename">
                            </div>
                            <div id="imgSpinnerCerti" style="height:10px;display:none;">
                                <img src="static/assets/images/spinner1_old.gif" style="height:30px;display:inline-block;"/>
                                <label style="display:inline-block;">Please wait while uploading certificate...</label>
                            </div> 
                           
                        </div>
                    </div>
                <div class="modal-footer">
                    <button class="btn btn-primary waves-effect" type="submit" >Submit</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" >Back</button>
                </div>
               
            </form>
            </div>
        </div>
    </div><!--/.modal-->
    <div id="mdl_candidate_cand_image_upload" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <form id="CandImageUpload" action="javascript:UploadCandidateImageFileData()">
                   
                <div class="modal-header">
                    <h4 class="modal-title"><span id="HduploadFile"></span>Upload Image:</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="hdn_cand_image_file_name" name="hdn_cand_image_file_name" value="">
                    <div class="form-group">
                      
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="myFile">Upload File* :</label>
                            </div>
                            <div class="col-lg-4">
                                <input type="file" id="fileCandImage" name="filename">
                            </div>
                            <div id="imgSpinnerCandImage" style="height:10px;display:none;">
                                <img src="static/assets/images/spinner1_old.gif" style="height:30px;display:inline-block;"/>
                                <label style="display:inline-block;">Please wait while uploading file...</label>
                            </div> 
                           
                        </div>
                    </div>
                <div class="modal-footer">
                    <button class="btn btn-primary waves-effect" type="submit" >Submit</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" >Back</button>
                </div>
               
            </form>
            </div>
        </div>
    </div><!--/.modal-->
    <div id="mdl_candidate_batch_image_upload" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <form id="BatchImageUpload" action="javascript:UploadBatchImageFileData()">
                   
                <div class="modal-header">
                    <h4 class="modal-title">Upload Image:</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="hdn_batch_image_file_name" name="hdn_batch_image_file_name" value="">
                    
                    <div class="form-group">
                      
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="myFile">Upload File* :</label>
                            </div>
                            <div class="col-lg-4">
                                <input type="file" id="fileBatchImage" name="filename">
                            </div>
                            <div id="imgSpinnerCandImage" style="height:10px;display:none;">
                                <img src="static/assets/images/spinner1_old.gif" style="height:30px;display:inline-block;"/>
                                <label style="display:inline-block;">Please wait while uploading file...</label>
                            </div> 
                           
                        </div>
                    </div>
                <div class="modal-footer">
                    <button class="btn btn-primary waves-effect" type="submit" >Submit</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" >Back</button>
                </div>
               
            </form>
            </div>
        </div>
    </div><!--/.modal-->
    
    <div id="mdl_certificate_upload" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <form id="formUpload" action="javascript:UploadcertificateFileData()">
                    <input type="hidden" id="hdn_home_user_id_modal" name="hdn_home_user_id_modal" value="0">
                    <input type="hidden" id="hdn_home_user_role_id_modal" name="hdn_home_user_role_id_modal" value="0">
                    <input type="hidden" id="hdn_upl_assessment_id" name="hdn_assessment_id" value="0">
                    <input type="hidden" id="hdn_upl_batch_id" name="hdn_batch_id" value="0">
                    <input type="hidden" id="hdn_upl_batch_code" name="hdn_upl_batch_code" value="">
                    <input type="hidden" id="hdn_upl_stage_id" name="hdn_stage_id" value="0">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="HduploadFile"></span>Upload Certificate Number</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                   
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2">
                                <label for="ddlLogisticUsers">Assign to*:</label>
                            </div>
                            <div class="col-lg-8" >
                                <select id="ddlLogisticUsers" class="form-control"  name="ddlLogisticUsers" ClientIdMode="static" required=""> <!-- myfunction(this.value) -->>
                                
                                </select>
                            </div> 
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="myFile">Upload File* :</label>
                            </div>
                            <div class="col-lg-4">
                                <input type="file" id="myFile" name="filename">
                            </div>
                            <div id="imgSpinner" style="height:10px;display:none;">
                                <img src="static/assets/images/spinner1_old.gif" style="height:30px;display:inline-block;"/>
                                <label style="display:inline-block;">Please wait while uploading file...</label>
                            </div> 
                            <div id="imgSpinner1" style="height:10px;display:none;">
                                <img src="static/assets/images/spinner1_old.gif" style="height:30px;display:inline-block;" />
                                <label style="display:inline-block;">Please wait while downloading file...</label>
                            </div> 
                            <div class="col-lg-4">
                                <button class="btn btn-blue btn-sm waves-effect waves-light" type="button" onclick="DownloadCertificateTemplate()">Download Template</button>
                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button class="btn btn-primary waves-effect" type="submit" >Submit</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" onclick="Back()">Back</button>
                </div>
               
            </form>
            </div>
        </div>
    </div><!--/.modal-->
    <div></div>
   
    

    <script src="static/assets/js/pages/certification-batch-list.js"></script>