<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="NEO_id_3" />
            <add name="NEO_SKILLS" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python38-32\python.exe|C:\SITES\NEO_SKILLS\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="HTTPS force" enabled="true" stopProcessing="true">
					<match url="(.*)" />
						<conditions>
							<add input="{HTTPS}" pattern="^OFF$" />
						</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
