<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="NEO_id_3" />
            <add name="NEO_FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python38-32\python.exe|C:\SITES\NEO\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
