        <!-- Plugins css -->
        <link href="static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
        
         <!-- third party css -->
         <link href="static/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/libs/datatables/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
         <!-- third party css end -->

         <!-- App css -->
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" />

        <style>
            .center {
                margin: auto;
                width: 90%;
                padding: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            
            .hidedialog {
                display: none;
            }

            .modal {
                overflow-y:auto;
            }
            </style>

            <script type="text/javascript">
                $(document).ready(function () {
                $('#filter_date_box').hide();
                $("#imgSpinner").hide();
                $("#imgSpinner1").hide();
                
                var Course=0,Batch=0;
                $("#tbl_batchs").dataTable().fnDestroy();
                
                $('.dropdown-search-filter').select2({
                    placeholder:''
                });
                $(".date-picker").flatpickr({
                    dateFormat:'d-M-Y',
                    minDate: '01.Apr.2019'
                    });
                
                $('#ddlStatus').empty();
                $('#ddlStatus').append(new Option('Yet To Start','1'));
                $('#ddlStatus').append(new Option('Open','2'));
                $('#ddlStatus').append(new Option('Expired','3'));
                
                $('#Planned_actual').empty();
                $('#Planned_actual').append(new Option('ALL',''));
                $('#Planned_actual').append(new Option('Planned','1'));
                $('#Planned_actual').append(new Option('Actual','2'));
                
                LoadCenterType();
                LoadRegionddl();
                loadClient();
                loadBU();
                
                if ('{{status}}'==1)
                    $('#ddlStatus').val([1,2]);
                    
                else if ('{{status}}'==2)
                    {
                    $('#ddlStatus').val([1,2]);
                    $('#ddlCenterType').val('4');
                    }
                
                LoadTable(); 
                role_id=parseInt($('#hdn_home_user_role_id').val());
                if(role_id == 1 || role_id ==15 || role_id ==5)
                    $('#btn_create').show();
                else 
                    $('#btn_create').hide();
                });
            </script>
            <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <form id='form1' method="POST" action="/assign_batch_add_edit_to_home">

            <input type="hidden" id="hdn_batch_id" name="hdn_batch_id" value="0">
            <input type="hidden" id="hdn_actual_batch" name="hdn_actual_batch" value="0">
                <div class="container-fluid">
    
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">NEO</a></li>
                                        <li class="breadcrumb-item active">Batch</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Batch</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->
                
                    <div id="get0" class="row">  <!--  id="get0"  -->
                        <div class="col-12">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label for="ddlClient" class="mr-2">Customer</label>
                                        <select class="form-control dropdown-search-filter" onchange="LoadProject();" id="ddlClient" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlBU" class="mr-2">BU</label>
                                        <select class="form-control dropdown-search-filter" id="ddlBU" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlProject" class="mr-2">Project</label>
                                        <select class="form-control dropdown-search-filter" onchange="LoadSubProject();" id="ddlProject" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlSubProject" class="mr-2">Sub Project</label>
                                        <select class="form-control dropdown-search-filter" id="ddlSubProject" onchange="LoadBatches();" multiple>  <!-- onchange="LoadCenter();"-->>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
								</div>
								<div class="row">
                                    <div class="col-lg-3">
                                        <label for="ddlRegion" class="mr-2">Region</label>
                                        <select class="form-control dropdown-search-filter" onchange="LoadCenter();" id="ddlRegion" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlCenter" class="mr-2">Center</label>
                                        <select class="form-control dropdown-search-filter" id="ddlCenter" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlCenterType" class="mr-2">Center Type</label>
                                        <select class="form-control dropdown-search-filter" id="ddlCenterType" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
										<label for="ddlStatus" class="mr-2">Batch Status</label>
										<select class="form-control dropdown-search-filter" id="ddlStatus" multiple>
											<option selected="" value="">All</option>
										</select>
                                    </div>
                                    
                                </div> 
                                <div class="row" id='filter_date_box'>
                                    <div class="col-lg-3">
                                        <label for="StartFromDate" class="mr-2">Start Date From</label>
                                        <input type="text" id="StartFromDate" name="StartFromDate" class="form-control date-picker" 
                                        ClientIdMode="static" placeholder="From Date">
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="StartToDate" class="mr-2">Start Date To</label>
                                        <input type="text" id="StartToDate" name="StartToDate" class="form-control date-picker" 
                                        ClientIdMode="static" placeholder="To Date">
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="EndFromDate" class="mr-2">End Date From</label>
                                        <input type="text" id="EndFromDate" name="EndFromDate" class="form-control date-picker" 
                                        ClientIdMode="static" placeholder="From Date">
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="EndToDate" class="mr-2">End Date To</label>
                                        <input type="text" id="EndToDate" name="EndToDate" class="form-control date-picker" 
                                        ClientIdMode="static" placeholder="To Date">
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-3" id="batch_div" >
                                        <label for="ddlBatches" class="mr-2">Batch Code:</label>
                                        <select class="form-control dropdown-search-filter" id="ddlBatches" multiple>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
										<label for="Planned_actual" class="mr-2">Planned / Actual</label>
										<select class="form-control dropdown-search-filter" id="Planned_actual" onchange="showdates();">
											<option selected="" value="">All</option>
										</select>
                                    </div>
                                    <div class="col-lg-1" style="float: center; margin-top: 30px">
                                        <button  type="button" class="btn btn-success waves-effect waves-light" onclick="LoadTable()">Search</button>
                                    </div>
                                    <div class="form-group col-lg-2">                                         
                                        <a class="btn btn-primary" style="float: right; color:white;font-weight:bold;cursor:pointer;margin-top:30px;" onclick="DownloadTableBasedOnSearch()">Download</a>
                                        <a id="lnkDownload" style="display:none;"></a>
                                    </div>
                                    <div class="col-lg-3" >                                        
                                        <button style="float: right; margin-top: 30px;"  id="btn_create" type="submit" class="btn btn-primary">Create Batch</a>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div id="imgSpinner">
                                            <img src="static/assets/images/spinner1.gif" style="height:30px;display:inline-block;"/>
                                            <label style="display:inline-block;">Please wait while downloading report...</label>
                                        </div> 
                                    </div>
                                   
                                </div>
                                 <!-- end row -->
                            </div> <!-- end card-box -->
                        </div><!-- end col-->
                    </div>

                    <div id="get" class="row"> <!-- id="get"  -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4 class="header-title">Batch List</h4>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="col-lg-12">
                                        <table id="tbl_batchs" class="table w-100 dt-responsive wrap dataTable no-footer">
                                            <thead>
                                                <tr>
                                                    <th>S No</th>
                                                    <th>Actions</th>
                                                    <th>Actual Batch Code</th>
                                                    <th>Planned Batch Code</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Enrolled Count</th>
                                                    <th>Center</th>
                                                    <th>Course</th>
                                                    <th>Customer</th>
                                                    <th>Status</th>
                                                    <th>Batch external code</th>
                                                    <th>Product</th>
                                                    <th>Sub Project</th>
                                                    <th>Trainer Email</th>
                                                    <th>Center Manager Email</th>
                                                    <th>Start Time</th>
                                                    <th>End Time</th>
                                                    
                                                </tr>
                                            </thead>
                                        
                                        <tbody></tbody>
                                        </table>
                                    </div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->    
                </div> <!-- end container -->
            
            <!-- end wrapper -->
        </form>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
        
<div id="map_cand" class="center hidedialog col-lg-12">
    <button id="close" class="btn btn-primary " style="float: right;"onclick="javascript:$('#get').show(); $('.center').hide();">X</button>
    <table id="tbl_candidate"  class="table dt-responsive nowrap">
        <thead>
            <tr>
                <th>S No</th>
                <th>ADD</th>
                <th>Candidate Id</th>
                <th>Candidate Name</th>
                <th>Course Name</th>
                <th>Center Name</th>
                <th>Mobile Number</th>
                <th>Registration Id</th>
                <th>Enrollment Id</th>
                <th>Salutation</th>
            </tr>
        </thead>
    
    <tbody></tbody>
    </table>

    <table id="tbl_drop_candidate"  class="table dt-responsive nowrap">
        <thead>
            <tr>
                <th>S No</th>
                <th>DROP</th>
                
                <th>Candidate Id</th>
                <th>Candidate Name</th>
                <th>Course Name</th>
                <th>Center Name</th>
                <th>Mobile Number</th>
                <th>Registration Id</th>
                <th>Enrollment Id</th>
                <th>Salutation</th>
            </tr>
        </thead>
    
    <tbody></tbody>
    </table>

    <div class="form-group mb-0">
        <button class="btn btn-primary" onclick="javascript:save();">Save</button>
    </div>
    
</div>

<!--div id="drop_cand_popup" class="center hidedialog col-lg-12">
    <button id="drop_close" class="btn btn-primary " style="float: right;"onclick="javascript:$('#get').show(); $('.center').hide();">X</button>
    <div>can we drop all the candidagte</div>

    <div class="form-group mb-0">
        <button class="btn btn-primary" onclick="javascript:add_drop_message();" type="submit">Submit</button>
    </div>
    
</div-->


        <!-- Footer Start -->
        
        

        <!-- third party js -->
        <script src="static/assets/libs/datatables/jquery.dataTables.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.bootstrap4.js"></script>
        <script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
        <script src="static/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.buttons.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.html5.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.flash.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.print.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.keyTable.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.select.min.js"></script>        
        <!-- third party js ends -->
        <script src="static/assets/js/pages/batch-list.js"></script>       

        <div id="divSubProjectList" class="modal fade" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h4 class="modal-title">Sub Project List</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <table id="tblSubProject" class="table table-bordered dt-responsive nowrap" style="border-color: lightgray;width:100% !important;font-size: 12px;">
                            <thead>                        
                                <tr style="background-color: #f5f6f8;">
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">S.No</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Center Name</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sub Project Code</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sub Project Name</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Project Code</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Project Name</th>
                                    <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Business Unit</th>
                                </tr>
                            </thead>
                            <tbody>
        
                            </tbody>
                        </table>	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-info waves-effect waves-light">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div><!--/.modal-->  
        
        <div id="mdl_cancel_batch" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content ">  
                     <div class="modal-header">
                        <h4 class="modal-title" id="HdActualBatches">Reason For Cancel Batch* </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-8">
                                    
                                    <input type="text" id="TxtReason" name="TxtReason" class="form-control"  ClientIdMode="static">
                               </div>
                               
                            </div>
                        </div>
                       
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary waves-effect" type="submit" onclick="CancelBatchSubmit($('#hdn_actual_batch').val())">Cancel Batch</button>
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" >Back</button>
                    </div>
                   
                 
                </div>
            </div>
        </div><!--/.modal-->

        <div id="trainer_details_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Trainer Details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtname" class="control-label">Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtname" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtEmployee_Code" class="control-label">Employee Code</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtEmployee_Code" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtEmail" class="control-label">Email</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtEmail" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtMobile_Number" class="control-label">Mobile Number</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtMobile_Number" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtEntity_Name" class="control-label">Entity Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtEntity_Name" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtEmployee_Department_Name" class="control-label">Employee Department Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtEmployee_Department_Name" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtEmployment_Grade" class="control-label">Employment Grade</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtEmployment_Grade" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtEmployment_Status" class="control-label">Employment Status</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtEmployment_Status" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtReporting_Manager_Name" class="control-label">Reporting Manager Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtReporting_Manager_Name" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-info waves-effect waves-light">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div><!--/.modal-->

        <div id="course_details_modal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h4 class="modal-title">SubProject Details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body"> 
                                    <div class="col-md-12">                                
                                        <div class="col-md-4 form-group">
                                            <h5>Course Name</h5>                                           
                                        </div>
                                        <div class="col-md-4" style="margin-top: -38px; margin-left: 13%;">
                                            <div class="form-group" style="margin-bottom: 20px;">        
                                                <input type="text" class="form-control" id="txtCourse_Name"  disabled/>                               
                                            </div>
                                        </div>
                                        <div class="col-md-2 form-group" style="margin-top: -45px; margin-left: 50%;">
                                            <h5>Course Code</h5>                                           
                                        </div>
                                        <div class="col-md-4" style="margin-top: -42px; margin-left: 63%;">
                                            <div class="form-group" style="margin-bottom: 20px;">        
                                                <input type="text" class="form-control" id="txtCourse_Code"  disabled/>                               
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div> <!--end card-body-->
                            </div> <!-- end card-->
                        </div>
                    </div>
                    
                    <div class="modal-body">
                        <table id="tblsubproject_details" class="table table-bordered dt-responsive nowrap" style="border-color: lightgray;width:100% !important;font-size: 12px;">
                            <thead>
                                <tr style="background-color: #f5f6f8;">
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">S No</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Project Name</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sub Project Name</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sub Project Code</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Product</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Region</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">State</th>
                                </tr>
                            </thead>
                            <tbody>
        
                            </tbody>
                        </table>	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-info waves-effect waves-light">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div><!--/.modal-->

       
        <div id="sponser_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Tag Sponsor</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        
                        <div class="row">
							<div class="col-md-12">
                                <label for="ddlSponser" class="mr-2">Select Sponsors:</label>
                                <select class="form-control" id="ddlSponser" multiple>  <!-- onchange="LoadCenter();"-->>
                                    <option selected="" value="">All</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" >Back</button> 
                        <button type="button" class="btn btn-primary waves-effect" onclick="javascript:tagSponserSubmit();" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div><!--/.modal-->
        <div id="tr_candidate_detail" class="modal fade" role="dialog" style="padding-right: 20px;">
            <div class="modal-dialog modal-xl">
                <div class="modal-content " style="width: 1200px;">
                    <div class="modal-header">
                        <h4 class="modal-title">Candidate Details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>             
                    <div class="modal-body">
                        <input type="hidden" id="hdn_mdl_batch_id" name="hdn_mdl_batch_id" value="0">
                        <input type="hidden" id="hdn_mdl_skilling_id" name="hdn_mdl_skilling_id" value="0">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <row>
                                            <div class="col-md-2 form-group">
                                                <h5>Batch Code:</h5>                                           
                                            </div>
                                            <div class="col-md-4" style="margin-top: -38px; margin-left: 13%;">
                                                <div class="form-group" style="margin-bottom: 20px;">        
                                                    <input type="text" class="form-control" id="txtbatch_name"  disabled/>                               
                                                </div>
                                            </div>
                                            <div class="col-md-2 form-group" style="margin-top: -45px; margin-left: 50%;">
                                                <h5>Center Name:</h5>                                           
                                            </div>
                                            <div class="col-md-4" style="margin-top: -42px; margin-left: 63%;">
                                                <div class="form-group" style="margin-bottom: 20px;">        
                                                    <input type="text" class="form-control" id="txtcenter_name"  disabled/>                               
                                                </div>
                                            </div>
                                        </row>
                                        <row>
                                            <div class="col-md-2 form-group">
                                                <h5>Course Name:</h5>                                           
                                            </div>
                                            <div class="col-md-4" style="margin-top: -38px; margin-left: 13%;">
                                                <div class="form-group" style="margin-bottom: 20px;">        
                                                    <input type="text" class="form-control" id="txtcourse_name"  disabled/>
                                                </div>
                                            </div>
                                        </row>
                                        <row>
                                            <div class="form-group col-md-4">  
                                                <a class="btn btn-primary" style="float: left; color:white;font-weight:bold;cursor:pointer;" onclick="DownloadCandidateTableBasedOnSearch()">Download</a>
                                                <a id="lnkDownload1" style="display:none;"></a>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <div id="imgSpinner1">
                                                <img src="static/assets/images/spinner1.gif" style="margin-left: 13%; display:inline-block; height:30px;display:inline-block;"/>
                                                <label style="display:inline-block;">Please wait while downloading report...</label>
                                            </div> 
                                        </row>
                                    </div> <!--end card-body-->
                                </div> <!-- end card-->
                            </div>
                        </div> 
                        <table id="tblcandidate_details" class="table table-bordered dt-responsive wrap w-100" style="border-color: lightgray;width:100% !important;font-size: 10px;">
                            <thead>
                                <tr style="background-color: #f5f6f8;">
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">S.No</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Select</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Enrolment No</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Candidate Name</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Date Of Birth</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Gender</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Mobile Number</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Email</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Father Name</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Annual Income</th>
                                    <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sponsors</th>

                                </tr>
                            </thead>
                            <tbody>
        
                            </tbody>
                        </table>	
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnSponser" class="btn btn-primary waves-effect" onclick="TagSponser()" style="display: none;">Tag Sponsors</button>
                        <button type="button" class="btn btn-primary waves-effect" onclick="DropCandidates()">Drop Candidates</button>
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-info waves-effect waves-light">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div><!--/.modal-->

        <div id="con_close_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Drop Out Reason</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        
                        <div class="row">
							<div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtremark" value='' >
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-primary waves-effect" onclick="back()">Back</button> -->
                        <button type="button" class="btn btn-secondary waves-effect" onclick="javascript:save();" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div><!--/.modal-->