<link href="static/assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css" />
<link href="static/assets/libs/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" type="text/css" />
<link href="static/assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
const months = ["Jan", "Feb", "Mar","Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
const months_no = ["01", "02", "03","04", "05", "06", "07", "08", "09", "10", "11", "12"];
var Candidates = {};
    $(document).ready(function(){
        
         $('.dropdown-search-filter').select2();
        $(".date-picker").flatpickr();             
        $(".time-picker").flatpickr({
            enableTime: !0,
            noCalendar: !0,
            dateFormat: "H:i",
            time_24hr:  !0
            });
        $('#StartDate').flatpickr({
            minDate: "today"
        });
        $('#EndDate').flatpickr({
            minDate: "today"
        });

        //document.getElementById("PlannedStartDate").disabled = false;
        //document.getElementById("PlannedEndDate").disabled = false;

        // alert('{{batch_id}}')
        if('{{batch_id}}' !=0)
        {   
            document.getElementById("PlannedStartDate").disabled = true;
            document.getElementById("PlannedEndDate").disabled = true;

            var URL=$('#hdn_web_url').val()+ "/GetBatchDetails";
            $.ajax({
                type:"GET",
                url:URL,
                success:function(data){
                    //alert(data);
                    if(data!=null)
                    {
                        if(data.BatchDetail!="")
                        {   
                            console.log(data.BatchDetail);
                            $('#BatchName').val(data.BatchDetail.Batch_Name);                            
                            //LoadProductList(data.BatchDetail.Product_Id);
                            LoadCenterList(data.BatchDetail.Center_Id);
                            LoadCourseList(data.BatchDetail.Course_Id,data.BatchDetail.Center_Id);
                            LoadsubProject(data.BatchDetail.Sub_Project_Id,data.BatchDetail.Center_Id,data.BatchDetail.Course_Id);
                            LoadCoFunding(data.BatchDetail.Co_Funding_Project_Id);
                            TrainersBasedOnSubProject(data.BatchDetail.Trainer_Id,data.BatchDetail.Sub_Project_Id);
                            LoadPlannedBatches(data.BatchDetail.Sub_Project_Id,data.BatchDetail.Course_Id,data.BatchDetail.Planned_Batch_Id)
                            $('#PlannedStartDate').val(data.BatchDetail.Planned_Start_Date);
                            $('#PlannedEndDate').val(data.BatchDetail.Planned_End_Date);
                            $('#ActualStartDate').val(data.BatchDetail.Actual_Start_Date);
                            $('#ActualEndDate').val(data.BatchDetail.Actual_End_Date);
                            $('#StartTime').val(data.BatchDetail.Training_Start_Time);
                            $("#EndTime").val(data.BatchDetail.Training_End_Time);
                            
                            $('#ddlRoom').val(data.BatchDetail.Room_Ids.split(",")).trigger('change');
                            if(data.BatchDetail.Is_Active)
                            {
                                $('#isactive').prop('checked',true);
                            }
                            else
                            {
                                $('#isactive').prop('checked',false);
                            }
                            // alert(data.BatchDetail.Sub_Project_Id);
                            // alert(data.BatchDetail.Course_Id);
                            //$('#ddlTrainer').val();
                            //$('#BatchCode').val(data.BatchDetail.Batch_Code);
                            //$('#ddlProduct').val(data.BatchDetail.Product_Id);
                            //$('#ddlProduct').select2('val',data.BatchDetail.Product_Id);
                            //$('#ddlCenter').val();
                        }
                    } 
                },
                error:function(x){
                    alert('error');
                }
            });
        }
        else
        {
            //LoadProductList('0');
            LoadCenterList('0');
            LoadCourseList('0','');
            LoadsubProject('0','','');
            LoadCoFunding('0');
            //TrainersBasedOnSubProject('0');
        }
    });

        function myfunction(valuereceived)
        {
            //TrainersBasedOnUsers(valuereceived,0);
           // TrainersBasedOnSubProject(valuereceived,0);
            CenterManagerBasedOnUsers(valuereceived),0;
        }
        function LoadProductList(needed)
        {
            var URL=$('#hdn_web_url').val()+ "/Get_all_Product"
            $.ajax({
                type:"GET",
                url:URL,
                async:false,
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                success: function (data){
                    if(data.Product != null)
                    {
                        $('#ddlProduct').empty();
                        var count=data.Product.length;
                        if( count> 0)
                        {
                            $('#ddlProduct').append(new Option('Choose Product',''));
                            for(var i=0;i<count;i++)
                                $('#ddlProduct').append(new Option(data.Product[i].Product_Name,data.Product[i].Product_Id));
                        
                            if(needed!='' & needed!='0')
                                $('#ddlProduct').val(needed);
                        }
                        else
                        {
                            $('#ddlProduct').append(new Option('No Product','-1'));
                        }
                    }
                },
                error:function(err)
                {
                    alert('Error! Please try again');
                    return false;
                }
            });
            return false;
        }
        function LoadCenterList(needed)
        {
            var URL=$('#hdn_web_url').val()+ "/Get_all_Center"
            $.ajax({
                type:"GET",
                url:URL,
                async:false,
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                data:{
                        "user_id": $('#hdn_home_user_id').val(),
                        "user_role_id": $('#hdn_home_user_role_id').val()
                    },
                success: function (data){
                    if(data.Center != null)
                    {
                        $('#ddlCenter').empty();
                        var count=data.Center.length;
                        if( count> 0)
                        {
                            $('#ddlCenter').append(new Option('Choose Center',''));
                            for(var i=0;i<count;i++)
                                $('#ddlCenter').append(new Option(data.Center[i].Center_Name,data.Center[i].Center_Id));
                            if(needed!='' & needed!='0')
                                $('#ddlCenter').val(needed);
                        }
                        else
                        {
                            $('#ddlCenter').append(new Option('No Center','-1'));
                        }
                    }
                },
                error:function(err)
                {
                    alert('Error! Please try again');
                    return false;
                }
            });
            return false;
        }
        function loadroomlist(CenterId)
        {
            var URL=$('#hdn_web_url').val()+ "/GetCenterRooms"
            $.ajax({
                type:"GET",
                url:URL,
                async:false,
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                data:{  "center_id":CenterId,
                        "user_id": $('#hdn_home_user_id').val(),
                        "user_role_id": $('#hdn_home_user_role_id').val()
                    },
                success: function (data){
                    if(data.CenterRooms != null)
                    {
                        $('#ddlRoom').empty();
                        var count=data.CenterRooms.length;
                        if( count> 0)
                        {
                            //$('#ddlCenter').append(new Option('Choose Center',''));
                            for(var i=0;i<count;i++)
                            {    
                                var varHtml='<option value="'+data.CenterRooms[i].Room_Id +'" data-value="'+data.CenterRooms[i].Room_Capacity+'">'+data.CenterRooms[i].Room_Name+'</option>';
                                $('#ddlRoom').append(varHtml);
                                //new Option(data.CenterRooms[i].Room_Name,data.CenterRooms[i].Room_Id)
                            }
                        }
                        else
                        {
                            $('#ddlRoom').append(new Option('No Rooms','-1'));
                        }
                    }
                    else{
                        $('#ddlRoom').append(new Option('No Rooms','-1'));
                    }
                },
                error:function(err)
                {
                    alert('Error! Please try again');
                    return false;
                }
            });
            return false;
        }
        function LoadCourseList(needed,CenterId)
        {   loadroomlist(CenterId);
            var URL=$('#hdn_web_url').val()+ "/All_Course_basedon_center"
            $.ajax({
                type:"GET",
                url:URL,
                async:false,
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                data:{
                        "Center_id": CenterId,
                        "user_id": $('#hdn_home_user_id').val(),
                        "user_role_id": $('#hdn_home_user_role_id').val()
                    },
                success: function (data){
                    if(data.Courses != null)
                    {
                        $('#ddlCourse').empty();
                        var count=data.Courses.length;
                        if( count> 0)
                        {
                            $('#ddlCourse').append(new Option('Choose Course',''));
                            for(var i=0;i<count;i++)
                                $('#ddlCourse').append(new Option(data.Courses[i].Course_Name,data.Courses[i].Course_Id));
                                if (needed !=0)
                                {
                                    $('#ddlCourse').val(needed);
                                }
                        }
                        else
                        {
                            $('#ddlCourse').append(new Option('Choose Course',''));
                        }
                        

                    }
                },
                error:function(err)
                {
                    alert('Error! Please try again');
                    return false;
                }
            });
            
            return false;
        }
        function LoadsubProject(needed,CenterId,CourseId)
        {console.log(CenterId,CourseId);
            var URL=$('#hdn_web_url').val()+ "/GetSubProjectsForCenter_Course"
            
            $.ajax({
                type:"GET",
                url:URL,
                async:false,
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                data:{
                        "center_id": CenterId,
                        "course_id": CourseId,
                        "sub_project_id": '0',
                        "user_id": $('#hdn_home_user_id').val(),
                        "user_role_id": $('#hdn_home_user_role_id').val()
                    },
                success: function (data){
                    if(data.SubProjects != null)
                    {
                        $('#ddlSubProject').empty();
                        var count=data.SubProjects.length;
                        if( count> 0)
                        {
                            $('#ddlSubProject').append(new Option('Choose Sub Project',''));
                            for(var i=0;i<count;i++)
                                $('#ddlSubProject').append(new Option(data.SubProjects[i].Sub_Project_Name,data.SubProjects[i].Sub_Project_Id));
                                if (needed !=0)
                                {
                                    $('#ddlSubProject').val(needed);
                                }
                        }
                        else
                        {
                            $('#ddlSubProject').append(new Option('Choose Sub Project',''));
                        }
                    }
                },
                error:function(err)
                {
                    alert('Error! Please try again');
                    return false;
                }
            });
            
            return false;
        }
        function LoadCoFunding(needed)
        {
            var URL=$('#hdn_web_url').val()+ "/GetSubProjectsForCenter_Course"
            $.ajax({
                type:"GET",
                url:URL,
                async:false,
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                data:{
                        "center_id": $('#ddlCenter').val(),
                        "course_id": $('#ddlCourse').val(),
                        "sub_project_id": $('#ddlSubProject').val()
                    },
                success: function (data){
                    if(data.SubProjects != null)
                    {
                        $('#ddlCofunding').empty();
                        var count=data.SubProjects.length;
                        if( count> 0)
                        {
                            $('#ddlCofunding').append(new Option('NA','-1'));
                            for(var i=0;i<count;i++)
                                $('#ddlCofunding').append(new Option(data.SubProjects[i].Sub_Project_Name,data.SubProjects[i].Sub_Project_Id));
                                if (needed !=0)
                                {
                                    $('#ddlCofunding').val(needed);
                                }
                        }
                        else
                        {
                            $('#ddlCofunding').append(new Option('NA','-1'));
                        }
                    }
                },
                error:function(err)
                {
                    alert('Error! Please try again');
                    return false;
                }
            });
            
            return false;
        }
        function TrainersBasedOnSubProject(needed,SubProjectId)
        {
            var URL=$('#hdn_web_url').val()+ "/TrainersBasedOnSubProject"
            $.ajax({
                type:"POST",
                url:URL,
                async:false,
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                data:{
                    "sub_project_id": SubProjectId
                },
                success: function (data){
                    if(data.Trainers != null)
                    {
                        $('#ddlTrainer').empty();
                        var count=data.Trainers.length;
                        if( count> 0)
                        {
                            $('#ddlTrainer').append(new Option('Choose Trainer',''));
                            for(var i=0;i<count;i++)
                                $('#ddlTrainer').append(new Option(data.Trainers[i].User_Name,data.Trainers[i].User_Id));
                        
                            if (needed !='0' & needed!='')
                                {
                                    $('#ddlTrainer').val(needed);
                                }
                        }
                        else
                        {
                            $('#ddlTrainer').append(new Option('Choose Trainer',''));
                        }
                    }
                },
                error:function(err)
                {
                    alert('Error! Please tryyyyagain');
                    return false;
                }
            });
            
            return false;
        }
        function TrainersBasedOnUsers(needed)
        {
            var URL=$('#hdn_web_url').val()+ "/TrainersBasedOnCenter"
            $.ajax({
                type:"POST",
                url:URL,
                async:false,
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                data:{
                    "center_id": '0'
                },
                success: function (data){
                    if(data.Trainers != null)
                    {
                        $('#ddlTrainer').empty();
                        var count=data.Trainers.length;
                        if( count> 0)
                        {
                            $('#ddlTrainer').append(new Option('Choose Trainer',''));
                            for(var i=0;i<count;i++)
                                $('#ddlTrainer').append(new Option(data.Trainers[i].User_Name,data.Trainers[i].User_Id));
                        
                            if (needed !='0' & needed!='')
                                {
                                    $('#ddlTrainer').val(needed);
                                }
                        }
                        else
                        {
                            $('#ddlTrainer').append(new Option('Choose Trainer',''));
                        }
                    }
                },
                error:function(err)
                {
                    alert('Error! Please try again');
                    return false;
                }
            });
            
            return false;
        }
        function SubProjectOnChange()
        {
            TrainersBasedOnSubProject('0',$('#ddlSubProject').val());
            LoadPlannedBatches($('#ddlSubProject').val(),$('#ddlCourse').val(),'0');
        }
        function LoadPlannedBatches(SubProjectId,CourseId,needed)
        {
            var URL=$('#hdn_web_url').val()+ "/GetSubProjectPlannedBatches"
            $.ajax({
                type:"GET",
                url:URL,
                async:false,
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                data:{
                        "sub_project_id": SubProjectId,
                        "course_id":CourseId,
                        "is_assigned":1
                        //"user_id": $('#hdn_home_user_id').val(),
                       // "user_role_id": $('#hdn_home_user_role_id').val()
                    },
                success: function (data){
                    if(data.PlannedBatches != null)
                    {
                        $('#ddlPlannedBatchCode').empty();
                        var count=data.PlannedBatches.length;
                        if( count> 0)
                        {
                            $('#ddlPlannedBatchCode').append(new Option('Choose Planned Batch Code',''));
                            for(var i=0;i<count;i++)
                            {
                                var varHtml='<option value="'+data.PlannedBatches[i].Planned_Batch_Id +'" data-value="'+data.PlannedBatches[i].E_Target+'" data-start-date="'+data.PlannedBatches[i].E_Planned_Start_Date+'" data-end-date="'+data.PlannedBatches[i].E_Planned_End_Date+'">'+data.PlannedBatches[i].Planned_Batch_Code+ '(E Target-'+data.PlannedBatches[i].E_Target+')</option>';
                                $('#ddlPlannedBatchCode').append(varHtml);
                            }      
                                //new Option(data.PlannedBatches[i].Planned_Batch_Code,data.PlannedBatches[i].Planned_Batch_Id)
                                
                                if (parseInt(needed) !=0)
                                {
                                    $('#ddlPlannedBatchCode').val(needed);
                                }
                        }
                        else
                        {
                            $('#ddlPlannedBatchCode').append(new Option('Choose Planned Batch Code',''));
                        }
                        

                    }
                },
                error:function(err)
                {
                    alert('Error! Please try again');
                    return false;
                }
            });
            
            return false;
        }
        function LoadCapacity()
        {
            var TotalCapacity=0;
            $('#ddlRoom option:selected').each(function(){
                TotalCapacity+=parseInt($(this).attr('data-value'));
            })
            TotalCapacity=isNaN(TotalCapacity)?0:TotalCapacity;
            $('#TxtCapacity').val(TotalCapacity);
            return false;
        }
        function LoadPlannedDates()
        {
            var StartDate=$('#ddlPlannedBatchCode option:selected').attr('data-start-date');
            var EndDate=$('#ddlPlannedBatchCode option:selected').attr('data-end-date');
            var s_dates=StartDate.split('-');
            let s_mon= months_no[months.indexOf(s_dates[1])];
            var e_dates=EndDate.split('-');
            let e_mon=months_no[months.indexOf(e_dates[1])];
            //console.log(months.indexOf(s_dates[1])+1);
            $('#PlannedStartDate').val(s_dates[2]+'-'+s_mon+'-'+s_dates[0]);
            $('#PlannedEndDate').val(e_dates[2]+'-'+e_mon+'-'+e_dates[0]);

            return false;
        }
        function add_popup_message(){
			
            if(($('#StartTime').val() < $("#EndTime").val()) && ($('#ActualStartDate').val() <= $('#ActualEndDate').val()) && ($('#PlannedStartDate').val() <= $('#PlannedEndDate').val()))
            {
				var centertype;
                //alert($('#ActualStartDate').val());
				// if($('#ddlSubCenter').val() != '')
                // {
                //     centertype = $('#ddlSubCenter').val()
                // }
                // else
                // {
                //     centertype = $('#ddlCenter').val()
                // }
                
                
                var PlannedTarget = parseInt($('#ddlPlannedBatchCode option:selected').attr('data-value'));
                
                var TotalCapacity=parseInt($('#TxtCapacity').val());
                
                console.log(PlannedTarget,TotalCapacity);
                if(TotalCapacity< PlannedTarget)
                {
                    alert('Batch capacity/target should be less than or equal to the room capacity');
                    return false;
                }
                else
                {
                    console.log('target is less than or equal to room capacity.');
                }
                
                var URL=$('#hdn_web_url').val()+ "/add_batch_details";
                    $.ajax({
                        type:"POST",
                        url:URL,
                        data:{
                            "BatchName" : $('#BatchName').val(),
                            //"BatchCode" : $('#BatchCode').val(),
                            "Product" : 0,
                            "Center" : $('#ddlCenter').val(),
                            "room_ids" : $('#ddlRoom').val().toString(),
                            "Course":$('#ddlCourse').val(),
                            "SubProject":$('#ddlSubProject').val(),
                            "Cofunding":$('#ddlCofunding').val(),
                            "Trainer":$('#ddlTrainer').val(),
                            "isactive" : $('#isactive').prop('checked'),
                            "PlannedStartDate":$('#PlannedStartDate').val(),
                            "PlannedEndDate":$('#PlannedEndDate').val(),
                            "ActualStartDate":$('#ActualStartDate').val(),
                            "ActualEndDate":$('#ActualEndDate').val(),
                            "StartTime":$('#StartTime').val(),
                            "EndTime":$("#EndTime").val(),
                            "BatchId":'{{batch_id}}',
                            "PlannedBatchId":$('#ddlPlannedBatchCode').val()
                        },
                        success:function(data){
                            var message="",title="",icon="";
                            if(data.PopupMessage.batch_flag==2){
                                message=data.PopupMessage.message;
                                title="Error";
                                icon="error";
                            }
                            else{
                                message=data.PopupMessage.message;
                                title="Success";
                                icon="success";
                            }
                            swal({   
                                        title:title,
                                        text:message,
                                        icon:icon,
                                        confirmButtonClass:"btn btn-confirm mt-2"
                                        }).then(function(){
                                            window.location.href = '/after_popup_batch';
                                        }); 
                        
                                
                        },
                        error:function(err)
                        {
                            alert('Error! Please try again');
                        }
                    });
                
            }
            else{
                swal({  title:"Error",
                        text:"End date/time must be greater than the Start date/time",
                        icon:"error",
                        confirmButtonClass:"btn btn-confirm mt-2"
                        });
            }
        }
</script>

<div class="container-fluid">
    <form action="javascript: add_popup_message();">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">LN</a></li>
                        <li class="breadcrumb-item"><a href="/batch">Batch</a></li>
                        <li class="breadcrumb-item active">Add-Edit Batch</li>
                    </ol>
                </div>
                <h4 class="page-title">Batch Details</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 

    <div id="get" class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="header-title">Batch Details</h4>
                <br/>
                <div class="alert alert-warning d-none fade show">
                    <h4>Oh snap!</h4>
                    <p class="mb-0">This form seems to be invalid :(</p>
                </div>

                <div class="alert alert-info d-none fade show">
                    <h4>Yay!</h4>
                    <p class="mb-0">Everything seems to be ok :)</p>
                </div>

                <form id="demo-form" data-parsley-validate="">
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="BatchName">Batch External Code:</label>   <!-- * : -->
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="BatchName" id="BatchName"  ClientIdMode="static" placeholder="Batch External Code">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="BatchCode">Batch Code</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="BatchCode" id="BatchCode"  ClientIdMode="static" required placeholder="Batch Code">
                            </div>
                        </div> 
                    </div> 
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="ProductId">Product*:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="ddlProduct" class="form-control dropdown-search-filter" name="ProductId" required=""> <!-- ClientIdMode="static" required="" >
                                    <option selected="" value="">Choose Product</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="CenterId">Center*:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="ddlCenter" class="form-control dropdown-search-filter"  onchange="LoadCourseList('0',this.value)" name="CenterId" ClientIdMode="static" required=""> <!-- myfunction(this.value) -->>
                                    <option value="">Center</option>
                                </select>
                            </div> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="RoomId">Room*:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="ddlRoom" class="form-control dropdown-search-filter" name="RoomId" ClientIdMode="static" onchange="LoadCapacity()" required="" multiple> <!-- myfunction(this.value) -->>
                                    <option value="">Room</option>
                                </select>
                            </div> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="TxtCapacity">Capacity:</label>   <!-- * : -->
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="TxtCapacity" id="TxtCapacity" disabled ClientIdMode="static" placeholder="Capacity">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="CourseId">Course*:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="ddlCourse" class="form-control dropdown-search-filter" name="CourseId" onchange="LoadsubProject('0',$('#ddlCenter').val(),this.value)" ClientIdMode="static" required=""> <!-- LoadCenterList(this.value,0) -->>
                                    <option value="">Choose Course</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="SubProjectId">Sub Project*:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="ddlSubProject" class="form-control dropdown-search-filter" name="SubProjectId" onchange="SubProjectOnChange()" ClientIdMode="static" required=""> <!-- LoadCenterList(this.value,0) -->>
                                    <option value="">Choose Sub Project</option>
                                </select>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="ddlPlannedBatchCode">Planned Batch Code*:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="ddlPlannedBatchCode" class="form-control dropdown-search-filter" name="ddlPlannedBatchCode" onchange="LoadPlannedDates()" ClientIdMode="static" required="">
                                    <option value="">Choose Planned Batch Code</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="CoFundingprojectId">Co Funding Sub Project:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="ddlCofunding" class="form-control dropdown-search-filter" name="CoFundingprojectId" onchange="" ClientIdMode="static" required=""> <!-- LoadCenterList(this.value,0) -->>
                                    <option value="">Choose Co Funding Sub Project</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--onchange="myfunction(this.value)"-->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="TrainerId">Trainer*:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="ddlTrainer" class="form-control dropdown-search-filter" name="TrainerId" ClientIdMode="static"  required="">
                                    <option value="">Choose Trainer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                            <div class="col-lg-6">
                                    <label for="PlannedStartDate">Planned Start Date*:</label>
                                </div>
                                <div class="col-lg-6">
                            <input type="text" id="PlannedStartDate" name="PlannedStartDate" class="form-control date-picker" ClientIdMode="static" placeholder="Start Date" required="" disabled>
                        </div>
                    </div>
                    <div class="form-group row ">
                            <div class="col-lg-6">
                                    <label for="PlannedEndDate">Planned End Date*:</label>
                                </div>
                                <div class="col-lg-6">
                            <input type="text" id="PlannedEndDate" name="PlannedEndDate" class="form-control date-picker" ClientIdMode="static" placeholder="End Date" required="" disabled>
                        </div>
                    </div>
                    <div class="form-group row ">
                            <div class="col-lg-6">
                                    <label for="ActualStartDate">Actual Start Date:</label>
                                </div>
                                <div class="col-lg-6">
                            <input type="text" id="ActualStartDate" name="ActualStartDate" class="form-control date-picker" ClientIdMode="static" placeholder="Start Date" required="">
                        </div>
                    </div>
                    <div class="form-group row ">
                            <div class="col-lg-6">
                                    <label for="ActualEndDate">Actual End Date:</label>
                                </div>
                                <div class="col-lg-6">
                            <input type="text" id="ActualEndDate" name="ActualEndDate" class="form-control date-picker" ClientIdMode="static" placeholder="End Date" required="">
                        </div>
                    </div>
                    <div class="form-group row ">
                            <div class="col-lg-6">
                                    <label for="StartTime">Start Time:</label>
                                </div>
                                <div class="col-lg-6">
                            <input type="text" id="StartTime" name="StartTime" class="form-control time-picker" ClientIdMode="static" placeholder="Start Time" required="">
                        </div>
                    </div>
                    <div class="form-group row ">
                            <div class="col-lg-6">
                                    <label for="EndTime">End Time:</label>
                                </div>
                                <div class="col-lg-6">
                            <input type="text" id="EndTime" name="EndTime" class="form-control time-picker" ClientIdMode="static" placeholder="End Time" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Is Active:</label>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkbox checkbox-pink mb-0">
                                    <input type="checkbox" name="isactive" id="isactive" ClientIdMode="static" 
                                                    value="1" data-parsley-mincheck="1" checked>
                                    <label for="isactive"> Is active </label>
                                </div>
                            </div>   
                        </div>                                     
                    </div> 
                    <!-- <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Map Candidate:</label>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkbox checkbox-pink mb-0">
                                    <input type="checkbox" name="mapactive" id="mapactive" ClientIdMode="static" 
                                                    value="1" data-parsley-mincheck="1" >
                                    <label for="mapactive"> Map Candidate </label>
                                </div>
                            </div>   
                        </div>                                     
                    </div>    -->

                    <div class="form-group mb-0">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>

                </form>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->

</form>
</div> <!-- end container -->
    <!-- end wrapper -->

<script src="static/assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="static/assets/libs/clockpicker/bootstrap-clockpicker.min.js"></script>
<script src="static/assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

<script src="static/assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="static/assets/libs/datatables/dataTables.bootstrap4.js"></script>
<script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
<script src="static/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
<script src="static/assets/libs/datatables/dataTables.buttons.min.js"></script>
<script src="static/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
<script src="static/assets/libs/datatables/buttons.html5.min.js"></script>
<script src="static/assets/libs/datatables/buttons.flash.min.js"></script>
<script src="static/assets/libs/datatables/buttons.print.min.js"></script>
<script src="static/assets/libs/datatables/dataTables.keyTable.min.js"></script>
<script src="static/assets/libs/datatables/dataTables.select.min.js"></script> 