        <!-- Plugins css -->
        <link href="static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
        
         <!-- third party css -->
         <link href="static/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/libs/datatables/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
         <!-- third party css end -->
        <style>
            .center {
                margin: auto;
                width: 90%;
                padding: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            
            .hidedialog {
                display: none;
            }
            </style>
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <form id='form1' method="POST" action="/assign_batch_add_edit_to_home">
            
                <input type="hidden" id="hdn_batch_id" name="hdn_batch_id" value="0">
                <div class="container-fluid">
    
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">LN</a></li>
                                        <li class="breadcrumb-item active">Batch</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Batch</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->
                    
                    <div id="get0" class="row">  <!--  id="get0"  -->
                        <div class="col-12">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label for="ddlClient" class="mr-2">Customer</label>
                                        <select class="form-control dropdown-search-filter" onchange="LoadProject();" id="ddlClient" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlProject" class="mr-2">Project</label>
                                        <select class="form-control dropdown-search-filter" onchange="LoadSubProject();" id="ddlProject" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlSubProject" class="mr-2">Sub Project</label>
                                        <select class="form-control dropdown-search-filter" id="ddlSubProject" multiple>  <!-- onchange="LoadCenter();"-->>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlRegion" class="mr-2">Region</label>
                                        <select class="form-control dropdown-search-filter" onchange="LoadCenter();" id="ddlRegion" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
								</div>
								<div class="row">
                                    <div class="col-lg-3">
                                        <label for="ddlCenter" class="mr-2">Center</label>
                                        <select class="form-control dropdown-search-filter" id="ddlCenter" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
										<label for="ddlStatus" class="mr-2">Batch Status</label>
										<select class="form-control dropdown-search-filter" id="ddlStatus" >
											<option selected="" value="">All</option>
										</select>
                                    </div>
                                    <div class="col-lg-1" style="float: center; margin-top: 30px">
                                        <button  type="button" class="btn btn-success waves-effect waves-light" onclick="LoadTable()">Search</button>
                                    </div>
                                </div>    
                                 <!-- end row -->
                            </div> <!-- end card-box -->
                        </div><!-- end col-->
                    </div>

                    <div id="get" class="row"> <!-- id="get"  -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4 class="header-title">Batch List</h4>
                                        </div>
                                        <div class="col-lg-6" style="display:none">                                        
                                                <button style="float: right" type="submit" id="btn_create" class="btn btn-primary">Create Batch</a>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="col-lg-12">
                                        <table id="tbl_batchs" class="table w-100 nowrap dataTable no-footer">
                                            <thead>
                                                <tr>
                                                    <th>S No</th>
                                                    <th>Batch Name</th>
                                                    <th>Batch Code</th>
                                                    <th>Product</th>
                                                    <th>Center</th>
                                                    <th>Course</th>
                                                    <th>Sub Project</th>
                                                    <th>Trainer Email</th>
                                                    <th>Center Manager Email</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Start Time</th>
                                                    <th>End Time</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                        
                                        <tbody></tbody>
                                        </table>
                                    </div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->    
                </div> <!-- end container -->
            
            <!-- end wrapper -->
        </form>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
        
<div id="map_cand" class="center hidedialog col-lg-12">
    <button id="close" class="btn btn-primary " style="float: right;"onclick="javascript:$('#get').show(); $('.center').hide();">X</button>
    <table id="tbl_candidate"  class="table dt-responsive nowrap">
        <thead>
            <tr>
                <th>S No</th>
                <th>ADD</th>
                <th>Candidate Id</th>
                <th>Candidate Name</th>
                <th>Course Name</th>
                <th>Center Name</th>
                <th>Mobile Number</th>
                <th>Registration Id</th>
                <th>Enrollment Id</th>
                <th>Salutation</th>
            </tr>
        </thead>
    
    <tbody></tbody>
    </table>

    <table id="tbl_drop_candidate"  class="table dt-responsive nowrap">
        <thead>
            <tr>
                <th>S No</th>
                <th>DROP</th>
                <th>Candidate Id</th>
                <th>Candidate Name</th>
                <th>Course Name</th>
                <th>Center Name</th>
                <th>Mobile Number</th>
                <th>Registration Id</th>
                <th>Enrollment Id</th>
                <th>Salutation</th>
            </tr>
        </thead>
    
    <tbody></tbody>
    </table>

    <div class="form-group mb-0">
        <button class="btn btn-primary" onclick="javascript:save();">Save</button>
    </div>
    
</div>

<!--div id="drop_cand_popup" class="center hidedialog col-lg-12">
    <button id="drop_close" class="btn btn-primary " style="float: right;"onclick="javascript:$('#get').show(); $('.center').hide();">X</button>
    <div>can we drop all the candidagte</div>

    <div class="form-group mb-0">
        <button class="btn btn-primary" onclick="javascript:add_drop_message();" type="submit">Submit</button>
    </div>
    
</div-->


        <!-- Footer Start -->
        
        

        <!-- third party js -->
        <script src="static/assets/libs/datatables/jquery.dataTables.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.bootstrap4.js"></script>
        <script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
        <script src="static/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.buttons.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.html5.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.flash.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.print.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.keyTable.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.select.min.js"></script>        
        <!-- third party js ends -->
        <script src="static/assets/js/pages/batch-list.js"></script>


        <div id="con_close_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Drop Out Reason</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        
                        <div class="row">
							<div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtremark" value='' >
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" onclick="javascript:save();" type="submit">Submit</button>
                        <!-- <button type="button" class="btn btn-info waves-effect waves-light">Save changes</button>   data-dismiss="modal"-->
                    </div>
                </div>
            </div>
        </div><!--/.modal-->