        <link href="static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
        
        <link href="static/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/libs/datatables/responsive.dataTables.min.css" rel="stylesheet" type="text/css" /> 
        <!--link href="static/assets/libs/datatables/responsive.dataTables.min.css" rel="stylesheet" type="text/css" /-->

        <!-- App css -->
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        
		<style>
            .center {
                margin: auto;
                width: 90%;
                padding: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        
            .hidedialog {
                display: none;
            }
        </style>
        <script type="text/javascript">
        $(document).ready(function () {
        $("#tbl_courses").dataTable().fnDestroy();
        $('.dropdown-search-filter').select2({
                    placeholder:''
                });
                
        $('#ddlStatus').empty();
        $('#ddlStatus').append(new Option('ALL','-1'));
        $('#ddlStatus').append(new Option('Active','1'));
        $('#ddlStatus').append(new Option('InActive','0'));

        LoadSectorddl();
        if ('{{status}}'==1)
                {
                    $('#ddlStatus').val('1');
                    LoadTable('','','1');
                }
        else
                LoadTable('','','');

        role_id=parseInt($('#hdn_home_user_role_id').val());
        // if(role_id == 3 || role_id == 8)
        //     $('#btn_create').hide();
        });
        </script>
		<form id='form1' method="POST" action="/assign_course_add_edit_to_home">
            <input type="hidden" id="hdn_course_id" name="hdn_course_id" value="-1">
			
				<div class="container-fluid">
                    
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">LN</a></li>
                                        <li class="breadcrumb-item active">Courses</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Courses</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->
                    <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <div class="row">
                                        <!--div class="col-lg-3">
                                            <label for="ddlPractice" class="mr-2">Practice</label>
                                            <select class="form-control" id="ddlPractice" onchange="LoadProjectddl(this.value)">
                                                <option selected="" value="0">All</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="ddlProject" class="mr-2">Project</label>
                                            <select class="form-control" id="ddlProject">
                                                <option selected="" value="0">All</option>
                                            </select>
                                        </div-->
										<div class="col-lg-3">
                                            <label for="ddlSector" class="mr-2">Sector</label>
                                            <select class="form-control dropdown-search-filter" id="ddlSector" onchange="LoadQPddl()" multiple>
                                                <!--option selected="" value="0">All</option-->
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="ddlQP" class="mr-2">QP</label>
                                            <select class="form-control dropdown-search-filter" id="ddlQP" multiple>
                                                <!--option selected="" value="0">All</option-->
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="ddlStatus" class="mr-2">Status</label>
                                            <select class="form-control dropdown-search-filter" id="ddlStatus">
                                                <option selected="" value="">All</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                                <button  type="button" style="margin-top: 30px;" class="btn btn-success waves-effect waves-light" onclick="LoadTableBasedOnSearch()">Search</button> <!--float: right;   -->
                                        </div><!-- end col-->
                                    </div> <!-- end row -->
                                </div> <!-- end card-box -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row -->
                        
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                        
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4 class="header-title">Course List</h4>
                                        </div>
                                        <div class="col-lg-6" >                                        
                                                <button style="float: right; display: none;" type="submit" id="btn_create" clientIdMode="static" class="btn btn-primary">Create Course</a>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="col-lg-12">
                                        <table id="tbl_courses" class="table dt-responsive nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S No</th>
                                                    <th>Actions</th>
                                                    <th>Course Code</th> 
                                                    <th>Course Name</th>                                                     
                                                    <th>QP Code</th> 
                                                    <th>QP Name</th>                                                   
                                                    <th>Practice Name</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                        
                                        <tbody></tbody>
                                        </table>
                                    </div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->    
                </div> <!-- end container -->
            
            <!-- end wrapper -->
        </form>
        <script src="static/assets/libs/datatables/jquery.dataTables.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.bootstrap4.js"></script>
        <script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
        <script src="static/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.buttons.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.html5.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.flash.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.print.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.keyTable.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.select.min.js"></script>
        <!-- third party js ends -->

        <!-- datatables init js-->
        <script src="static/assets/js/pages/course-list.js"></script>

