        <link href="static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
        
         <!-- third party css -->
         <link href="static/assets/libs/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
         <!-- third party css end -->

        <!-- App css -->
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <form id='form1' method="POST" action="/assign_question_type_add_edit_to_home">
            
                <input type="hidden" id="hdn_question_type_id" name="hdn_question_type_id" value="0">
                <div class="container-fluid">
    
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">LN</a></li>
                                        <li class="breadcrumb-item active">Question Types</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Question Types</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->
    
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4 class="header-title">Question type List</h4>
                                        </div>
                                        <div class="col-lg-6" >                                        
                                                <button style="float: right" type="submit" class="btn btn-primary">Create Question Type</a>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="col-lg-12">
                                        <table id="tbl_question_type" class="table dt-responsive nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S No</th>
                                                    <th>Actions</th>
                                                    <th>Question Type Name</th>
                                                </tr>
                                            </thead>
                                        
                                        <tbody></tbody>
                                        </table>
                                    </div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->    
                </div> <!-- end container -->
            
            <!-- end wrapper -->
        </form>
       <script src="static/assets/libs/datatables/jquery.dataTables.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.bootstrap4.js"></script>
        <script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
        <script src="static/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.buttons.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.html5.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.flash.min.js"></script>
        <script src="static/assets/libs/datatables/buttons.print.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.keyTable.min.js"></script>
        <script src="static/assets/libs/datatables/dataTables.select.min.js"></script>
        <!-- third party js ends -->

        <!-- datatables init js-->
        <script src="static/assets/js/pages/question-type-list.js"></script>
