        <link href="static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />

        <!-- App css -->
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="static/assets/libs/jquery/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                LoadSectionTypeddl();
                LoadP_Sectionddl();
                if('{{section_id}}' !=0)
                {
                    var URL=$('#hdn_web_url').val()+ "/GetSectionDetails";
                    $.ajax({
                        type:"GET",
                        url:URL,
                        success:function(data){
                           if(data!=null)
                           {
                               if(data.SectionDetail!="")
                               {
                                   //alert(data.ProjectDetail.Project_Name);
                                   $('#SectionName').val(data.SectionDetail.Section_Name);
                                   $('#ddlSectionType').val(data.SectionDetail.Section_Type_Id).change();
                                   $('#ddlP_Section').val(data.SectionDetail.Parent_Section_Id).change();
                                   if(data.SectionDetail.Is_Active)
                                   {
                                        $('#isactive').prop('checked',true);
                                    }
                                    else
                                    {
                                        $('#isactive').prop('checked',false);
                                    }
                               }
                           } 
                        },
                        error:function(x){
                            alert('error');
                        }
                    });
                }
            });
            
            function LoadSectionTypeddl(){
                var URL=$('#hdn_web_url').val()+ "/AllSectionTypeList"
                $.ajax({
                    type:"GET",
                    url:URL,
                    async:false,
                    beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                    datatype:"json",
                    success: function (data){
                        if(data.SectionTypes != null)
                        {
                            $('#ddlSectionType').empty();
                            var count=data.SectionTypes.length;
                            if( count> 0)
                            {
                                $('#ddlSectionType').append(new Option('Choose Section Type',''));
                                for(var i=0;i<count;i++)
                                    $('#ddlSectionType').append(new Option(data.SectionTypes[i].Section_Type_Name,data.SectionTypes[i].Section_Type_Id));
                            }
                            else
                            {
                                $('#ddlSectionType').append(new Option('Choose Section Type',''));
                            }
                        }
                    },
                    error:function(err)
                    {
                        alert('Error! Please try again');
                        return false;
                    }
                });
                return false;
            }
            function LoadP_Sectionddl(){
                var URL=$('#hdn_web_url').val()+ "/AllP_SectionList"
                $.ajax({
                    type:"GET",
                    url:URL,
                    async:false,
                    beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                    datatype:"json",
                    success: function (data){
                        if(data.P_Sections != null)
                        {
                            $('#ddlP_Section').empty();
                            var count=data.P_Sections.length;
                            if( count> 0)
                            {
                                $('#ddlP_Section').append(new Option('Choose Parent Section',''));
                                for(var i=0;i<count;i++)
                                    $('#ddlP_Section').append(new Option(data.P_Sections[i].Section_Name,data.P_Sections[i].Section_Id));
                            }
                            else
                            {
                                $('#ddlP_Section').append(new Option('Choose Parent Section',''));
                            }
                        }
                    },
                    error:function(err)
                    {
                        alert('Error! Please try again');
                        return false;
                    }
                });
                return false;
            }

            function add_popup_message(){
                var URL=$('#hdn_web_url').val()+ "/add_section_details";
                    $.ajax({
                        type:"POST",
                        url:URL,
                        data:{
                            "SectionName" : $('#SectionName').val(),
                            "SectionType" : $('#ddlSectionType').val(),
                            "P_Section"   : $('#ddlP_Section').val(),
                            "isactive" : $('#isactive').prop('checked'),
							"SectionId":'{{section_id}}'
                        },
                        success:function(data){
                            swal({   title:data.PopupMessage.message,
                                    text:data.PopupMessage.message+" Successfully !!",
                                    icon:"success",
                                    confirmButtonClass:"btn btn-confirm mt-2"
                                    }).then(function(){
                                        window.location.href = '/after_popup_section';
                                    }
                                    );
                        //    alert("The Inserted/Upadated Id is "+data.PopupMessage.message);
                        //    window.location.href="/after_popup"; 
                        },
                        error:function(x){
                            alert('error');
                        }
                    });
            }
        </script>
                <div class="container-fluid">
                    <form action="javascript:add_popup_message();">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">LN</a></li>
                                        <li class="breadcrumb-item"><a href="/section">Section</a></li>
                                        <li class="breadcrumb-item active">Add-Edit Section</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Section Details</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title --> 
    
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title">Section Details</h4>
                                <br/>
                                <div class="alert alert-warning d-none fade show">
                                    <h4>Oh snap!</h4>
                                    <p class="mb-0">This form seems to be invalid :(</p>
                                </div>
    
                                <div class="alert alert-info d-none fade show">
                                    <h4>Yay!</h4>
                                    <p class="mb-0">Everything seems to be ok :)</p>
                                </div>
    
                                <form id="demo-form" data-parsley-validate="">
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="SectionTypeName">Section Name * :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="SectionName" id="SectionName" required placeholder="Section name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="ddlSectionType">Section Type *:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select id="ddlSectionType" class="form-control dropdown-search-filter" data-live-search="true"  name="SectionTypeId" ClientIdMode="static" required="">
                                                    <option value="">Choose Section Type</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="ddlP_Section">Parent Section :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select id="ddlP_Section" class="form-control dropdown-search-filter" data-live-search="true"  name="P_SectionId" ClientIdMode="static">
                                                    <option value="">Choose Parent Section </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Is Active :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkbox checkbox-pink mb-0">
                                                    <input type="checkbox" name="isactive" id="isactive" ClientIdMode="static" 
                                                                    value="1" data-parsley-mincheck="1" >
                                                    <label for="isactive"> Is active </label>
                                                </div>
                                            </div>   
                                        </div>                                     
                                    </div>    
    
                                    <div class="form-group mb-0">
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </div>
    
                                </form>
                            </div> <!-- end card-box-->
                        </div> <!-- end col-->
                    </div>
                    <!-- end row-->
    
                </form>
                
                </div> <!-- end container -->
        <script src="static/assets/libs/flatpickr/flatpickr.min.js"></script>
        <script src="static/assets/libs/jquery-knob/jquery.knob.min.js"></script>
        <script src="static/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
