
<!-- <script type="text/javascript" src="static/assets/libs/jquery/jquery.min.js"></script> -->

<!-- App css
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/app.min.css" rel="stylesheet" type="text/css" /> -->

<script src="static/assets/libs/chart-js/Chart.bundle.min.js"></script>
<script src="static/assets/js/pages/jquery.chat.js"></script>
<script src="static/assets/libs/moment/moment.min.js"></script>
<script src="static/assets/js/pages/jquery.todo.js"></script>

<!-- 
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script> -->
<script src="static/assets/libs/high-charts/highcharts.js"></script>
<script src="static/assets/libs/high-charts/exporting.js"></script>
<script src="static/assets/libs/high-charts/export-data.js"></script>
<script src="static/assets/libs/high-charts/accessibility.js"></script>
<style>
    #container {
        height: 400px; 
    }

    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px; 
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid#EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }
    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }
    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }
    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }
    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }
    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){       
        LoadDashboardcount(); 
        LoadDepartmentTrainers();    
    });
    function LoadDashboardcount()
    {
        var URL=$('#hdn_web_url').val()+ "/GetDashboardCount";
        $.ajax({
            type:"GET",
            url:URL,
            async:false,
            overflow:true,        
            beforeSend:function(x)
                        { 
                            if(x && x.overrideMimeType) 
                                {   
                                    x.overrideMimeType("application/json;charset=UTF-8"); 
                                } 
                        },
            datatype:"json",
            data:{
                "user_id": $('#hdn_home_user_id').val(),
                "user_role_id" : $('#hdn_home_user_role_id').val(),
                "user_region_id" : $('#hdn_user_region_id').val()
            },
            success: function (data)
            {
                if (data!= null)
                {
                    if (data.Dashboard != null)
                    {
                        $('#span_customer').text(data.Dashboard.Client_Count);
                        $('#span_contract').text(data.Dashboard.Contract_Count);
                        $('#span_projects').text(data.Dashboard.Project_Count);
                        $('#span_centers').text(data.Dashboard.Center_Count);
                        $('#span_course').text(data.Dashboard.Course_Count);
                        $('#span_trainer').text(data.Dashboard.Trainer_Count);
                        $('#span_mobilizer').text(data.Dashboard.Mobilizer_Count);
                        $('#span_candidate').text(data.Dashboard.Candidate_Count);
                    }
                }
            },
            error:function(err)
            {
                alert('Error updating count! Please try again');
                return false;
            }
        });
        return false;
    }
    function LoadDepartmentTrainers()
    {
        var URL=$('#hdn_web_url').val()+ "/GetDepartmentUsers";
        $.ajax({
            type:"GET",
            url:URL,
            async:false,
            overflow:true,        
            beforeSend:function(x)
                        { 
                            if(x && x.overrideMimeType) 
                                {   
                                    x.overrideMimeType("application/json;charset=UTF-8"); 
                                } 
                        },
            datatype:"json",
            data:{
                "user_id": $('#hdn_home_user_id').val(),
                "user_role_id" : $('#hdn_home_user_role_id').val(),
                "user_region_id" : $('#hdn_user_region_id').val()
            },
            success: function (data)
            {
                if (data!= null)
                {
                    if (data.Departments != null)
                    {
                        var chartData=[];
                        var jsn;
                        for(let i=0;i<data.Departments.length;i++){
                            jsn={ name : data.Departments[i].Employee_Department_Name, y: data.Departments[i].User_Count};
                            chartData.push(jsn);
                        }
                        Highcharts.chart('container', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Trainer Count'
                            },
                            credits:{
                                enabled:false
                            },
                            xAxis: {
                                type: 'category',
                                labels: {
                                    rotation: -45,
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Trainers'
                                }
                            },
                            legend: {
                                enabled: false
                            },
                            tooltip: {
                                pointFormat: 'No of Trainers: <b>{point.y} </b>'
                            },
                            series: [{
                                name: 'Population',
                                data: 
                                chartData
                                ,
                                dataLabels: {
                                    enabled: true,
                                    rotation: -90,
                                    color: '#FFFFFF',
                                    align: 'right',
                                    format: '{point.y}',
                                    y: 10, // 10 pixels down from the top
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            }]
                        });
                    }
                }
            },
            error:function(err)
            {
                alert('Error updating count! Please try again');
                return false;
            }
        });
        return false;
    }
</script>
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">                    
                    <h4 class="page-title">Dashboard</h4>
                </div>
            </div>  
        </div>     
        <!-- end page title --> 
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row">   
                        <div class="col-5">
                            <div class="avatar-lg rounded-circle bg-soft-primary border-primary border">
                                <i class="fas fa-dollar-sign font-22 avatar-title text-primary"></i>
                            </div>
                        </div>                      
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><a href="/client"><span id="span_customer" data-plugin="counterup"></span></a></h3>
                                <p class="text-muted mb-1 text-truncate">Customers</p>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row">  
                        <div class="col-5">
                            <div class="avatar-lg rounded-circle bg-soft-warning border-warning border">
                                <i class="fas fa-file-contract font-22 avatar-title text-warning"></i>
                            </div>
                        </div>                    
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><a href="/contract"><span id="span_contract" data-plugin="counterup"></span></a></h3>
                                <p class="text-muted mb-1 text-truncate">Contracts</p>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row"> 
                        <div class="col-5">
                            <div class="avatar-lg rounded-circle bg-soft-success border-success border">
                                <i class="fas fa-project-diagram font-22 avatar-title text-success"></i>
                            </div>
                        </div>                     
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><a href="/project"><span id="span_projects" data-plugin="counterup"></span></a></h3>
                                <p class="text-muted mb-1 text-truncate">Projects</p>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row">   
                        <div class="col-5">
                            <div class="avatar-lg rounded-circle bg-soft-info border-info border">
                                <i class="mdi mdi-google-classroom font-22 avatar-title text-info"></i>
                            </div>
                        </div>                    
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><a href="/center"><span id="span_centers" data-plugin="counterup"></span></a></h3>
                                <p class="text-muted mb-1 text-truncate">Centers</p>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row">   
                        <div class="col-5">
                            <div class="avatar-lg rounded-circle bg-soft-secondary border-secondary border">
                                <i class="mdi mdi-content-save-outline font-22 avatar-title text-secondary"></i>
                            </div>
                        </div>                      
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><a href="/course"><span id="span_course" data-plugin="counterup"></span></a></h3>
                                <p class="text-muted mb-1 text-truncate">Courses</p>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row">  
                        <div class="col-5">
                            <div class="avatar-lg rounded-circle bg-soft-danger border-danger border">
                                <i class="mdi mdi-teach font-22 avatar-title text-danger"></i>
                            </div>
                        </div>                    
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><a href="/trainer"><span id="span_trainer" data-plugin="counterup"></span></a></h3>
                                <p class="text-muted mb-1 text-truncate">Trainers</p>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row"> 
                        <div class="col-5">
                            <div class="avatar-lg rounded-circle bg-soft-dark border-dark border">
                                <i class="dripicons-user font-22 avatar-title text-dark"></i>
                            </div>
                        </div>                     
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><a href="/user?role_id=2"><span id="span_mobilizer" data-plugin="counterup"></span></a></h3>
                                <p class="text-muted mb-1 text-truncate">Mobilizers</p>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row">   
                        <div class="col-5">
                            <div class="avatar-lg rounded-circle bg-soft-secondary border-dark border">
                                <i class="fas fa-users font-22 avatar-title text-warning"></i>
                            </div>
                        </div>                    
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><span id="span_candidate" data-plugin="counterup"></span></h3>
                                <p class="text-muted mb-1 text-truncate">Candidates</p>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">   
                        <figure class="highcharts-figure">                   
                            <h4 class="header-title">Department-Wise Trainers</h4>
                            <div id="container">
                                
                            </div>
                        </figure>  
                    </div>
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div> <!-- end container -->
     

