
    <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="static/assets/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript">
    var ddlregioncount,ddlclustercount;
        $(document).ready(function(){
            LoadCenterTypeddl();
            LoadCountyrddl();
            if('{{center_id}}' !=0)
            {
                var URL=$('#hdn_web_url').val()+ "/GetCenterDetails";
                $.ajax({
                    type:"GET",
                    url:URL,
                    success:function(data){
                        if(data!=null)
                        {
                            if(data.CenterDetail!="")
                            {
                                $('#CenterName').val(data.CenterDetail.Center_Name);
                                $('#ddlCenterType').val(data.CenterDetail.Center_Type_Id)
                                if (data.CenterDetail.Center_Type_Id==4)
                                {
                                    $('#DivPartner').show();
                                    LoadPartner();
                                    $('#ddlPartner').attr('Required','');
                                    $('#ddlPartner').val(data.CenterDetail.Partner_Id);
                                }
                                $('#ddlCenterCountry').val(data.CenterDetail.Country_Id);
                                GetStateddl($('#ddlCenterCountry').val(),data.CenterDetail.State_Id);
                                GetDistrictddl($('#ddlCenterState').val(),data.CenterDetail.District_Id);
                                $('#LocationName').val(data.CenterDetail.Location);
                                $('#TxtAddress').val(data.CenterDetail.Address);
                                $('#TxtPinCode').val(data.CenterDetail.Pin_Code);
                                if(data.CenterDetail.Is_Active)
                                    $('#isactive').prop('checked',true);
                                else
                                    $('#isactive').prop('checked',false);
                                
                            }
                        } 
                    },
                    error:function(x){
                        alert('error');
                    }
                });
            }
            else
            {
                $('#isactive').prop('checked',true);
            }
        });
        
        function LoadRegionddl(){
            var URL=$('#hdn_web_url').val()+ "/Get_all_Region"
            $.ajax({
                type:"GET",
                url:URL,
                async:false,
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                success: function (data){
                    ddlregioncount=data.Region.length;
                    if(data.Region != null)
                    {
                        $('#ddlRegion').empty();
                        var count=data.Region.length;
                        if( count> 0)
                        {
                            $('#ddlRegion').append(new Option('Choose Region',''));
                            for(var i=0;i<count;i++)
                                $('#ddlRegion').append(new Option(data.Region[i].Region_Name,data.Region[i].Region_Id));
                        }
                        else
                        {
                            $('#ddlRegion').append(new Option('Choose Region',''));
                        }
                    }
                },
                error:function(err)
                {
                    alert('Error! Please try again');
                    return false;
                }
            });
            return false;
        }
        function LoadCenterTypeddl(){
            var URL=$('#hdn_web_url').val()+ "/AllCenterTypes"
            $.ajax({
                type:"GET",
                url:URL,
                async:false,
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                success: function (data){
                    if(data.Center_Types != null)
                    {
                        $('#ddlCenterType').empty();
                        var count=data.Center_Types.length;
                        if( count> 0)
                        {
                            $('#ddlCenterType').append(new Option('Choose Center Type',''));
                            for(var i=0;i<count;i++)
                                $('#ddlCenterType').append(new Option(data.Center_Types[i].Center_Type_Name,data.Center_Types[i].Center_Type_Id));
                        }
                        else
                        {
                            $('#ddlCenterType').append(new Option('Choose Center Type',''));
                        }
                    }
                },
                error:function(err)
                {
                    alert('Error! Please try again');
                    return false;
                }
            });
            return false;
        }
        function LoadCountyrddl(){
            var URL=$('#hdn_web_url').val()+ "/AllCountries"
            $.ajax({
                type:"GET",
                url:URL,
                async:false,
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                success: function (data){
                    if(data.Countries != null)
                    {
                        $('#ddlCenterCountry').empty();
                        var count=data.Countries.length;
                        if( count> 0)
                        {
                            $('#ddlCenterCountry').append(new Option('Choose Country',''));
                            for(var i=0;i<count;i++)
                                $('#ddlCenterCountry').append(new Option(data.Countries[i].Country_Name,data.Countries[i].Country_Id));
                        }
                        else
                        {
                            $('#ddlCenterCountry').append(new Option('Choose Country',''));
                        }
                    }
                },
                error:function(err)
                {
                    alert('Error! Please try again');
                    return false;
                }
            });
            return false;
        }
        
        function GetStateddl(CountryId,needed)
        {
            if(CountryId !=""){
            var URL=$('#hdn_web_url').val()+ "/AllStatesBasedOnCountry"
            $.ajax({
                type:"POST",
                url:URL,
                async:false,       
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json", 
                data:{
                    "country_id": CountryId                        
                },
                success: function (data){
                    if(data.States != null)
                    {
                        $('#ddlCenterState').empty();
                        var count=data.States.length;
                        if( count> 0)
                        {
                            $('#ddlCenterState').append(new Option('Choose State',''));
                            for(var i=0;i<count;i++)
                                $('#ddlCenterState').append(new Option(data.States[i].State_Name,data.States[i].State_Id));
                        }
                        else
                        {
                            $('#ddlCenterState').append(new Option('Choose State',''));
                        }
                    }
                },
                error:function(err)
                {
                    alert('Error! Please try again');
                    return false;
                }
            });
        }
        else{
            alert('Country is not selected');
        }
            if (needed !=0)
            {
                $('#ddlCenterState').val(needed);
            }
            return false;
        }

        function GetDistrictddl(StateId,needed)
        {
            if(StateId !=""){
            var URL=$('#hdn_web_url').val()+ "/AllDistrictsBasedOnState"
            $.ajax({
                type:"POST",
                url:URL,
                async:false,       
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json", 
                data:{
                    "state_id": StateId                        
                },
                success: function (data){
                    if(data.Districts != null)
                    {
                        $('#ddlCenterDistrict').empty();
                        var count=data.Districts.length;
                        if( count> 0)
                        {
                            $('#ddlCenterDistrict').append(new Option('Choose District',''));
                            for(var i=0;i<count;i++)
                                $('#ddlCenterDistrict').append(new Option(data.Districts[i].District_Name,data.Districts[i].District_Id));
                        }
                        else
                        {
                            $('#ddlCenterDistrict').append(new Option('Choose District',''));
                        }
                    }
                },
                error:function(err)
                {
                    alert('Error! Please try again');
                    return false;
                }
            });
        }
        else{
            alert('State is not selected');
        }
            if (needed !=0)
            {
                $('#ddlCenterDistrict').val(needed);
            }
            return false;
        }
        function add_popup_message(){
            if($("#TxtPinCode").val().length>0 & $("#TxtPinCode").val().length!=6)
            {
                alert('Enter a valid Pin Code.');
                return false;
            }
            var URL=$('#hdn_web_url').val()+ "/add_center_details";
                $.ajax({
                    type:"POST",
                    url:URL,
                    data:{
                        "CenterName" : $('#CenterName').val(),
                        "isactive" : $('#isactive').prop('checked'),
                        "CenterType":$('#ddlCenterType').val(),
                        "CenterCountry":$('#ddlCenterCountry').val(),
                        "CenterState":$('#ddlCenterState').val(),
                        "LocationName":$("#LocationName").val(),
                        "Address":$("#TxtAddress").val(),
                        "PinCode":$("#TxtPinCode").val(),
                        "District":$("#ddlCenterDistrict").val(),
                        "CenterId":'{{center_id}}',
                        "PartnerId":$('#ddlPartner').val()
                    },
                    success:function(data){
                        swal({   title:data.PopupMessage.message,
                                text:data.PopupMessage.message+" Successfully !!",
                                icon:"success",
                                confirmButtonClass:"btn btn-confirm mt-2"
                                }).then(function(){
                                    window.location.href = '/after_popup_center';
                                }
                                );
                    //    alert("The Inserted/Upadated Id is "+data.PopupMessage.message);
                    //    window.location.href="/after_popup"; 
                    },
                    error:function(x){
                        alert('error');
                    }
                });
        }
        function CenterTypeOnChange(CentertypeId)
        {
            if(parseInt(CentertypeId)==4)
            {
                $('#DivPartner').show();
                LoadPartner();
                $('#ddlPartner').attr('Required','');
            }
            else
            {
                $('#DivPartner').hide();
                $('#ddlPartner').removeAttr('Required','');
            }
        }
        function LoadPartner()
        {
            var URL=$('#hdn_web_url').val()+ "/GetPartners"
            $.ajax({
                type:"GET",
                url:URL,
                async:false,
                beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                datatype:"json",
                success: function (data){
                    if(data.Partners != null)
                    {
                        $('#ddlPartner').empty();
                        var count=data.Partners.length;
                        $('#ddlPartner').append(new Option('Select',''));
                        if( count> 0)
                        {
                            for(var i=0;i<count;i++)
                                if(data.Partners[i].Partner_Type_Id==1)
                                $('#ddlPartner').append(new Option(data.Partners[i].Partner_Name,data.Partners[i].Partner_Id));
                        }
                        else
                        {
                            $('#ddlPartner').append(new Option('ALL','-1'));
                        }
                    }
                },
                error:function(err)
                {
                    alert('Error loading partners! Please try again');
                    return false;
                }
            });
        }
    </script>
    <div class="container-fluid">
        <form action="javascript:add_popup_message();">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">LN</a></li>
                            <li class="breadcrumb-item"><a href="/center">Centers</a></li>
                            <li class="breadcrumb-item active">Add-Edit Center</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Center Details</h4>
                </div>
            </div>
        </div>     
        <!-- end page title --> 

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="header-title">Center Details</h4>
                    <br/>
                    <div class="alert alert-warning d-none fade show">
                        <h4>Oh snap!</h4>
                        <p class="mb-0">This form seems to be invalid :(</p>
                    </div>

                    <div class="alert alert-info d-none fade show">
                        <h4>Yay!</h4>
                        <p class="mb-0">Everything seems to be ok :)</p>
                    </div>

                    <form id="demo-form" data-parsley-validate="">
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="CenterName">Center Name * :</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="CenterName" id="CenterName" required placeholder="Center name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="ddlCenterType">Center Type *:</label>
                                </div>
                                <div class="col-lg-6">
                                    <select id="ddlCenterType" class="form-control" name="CenterType" ClientIdMode="static" required="" onchange="CenterTypeOnChange(this.value)">
                                        <option value="">Choose Center Type</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="DivPartner" style="display: none;">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="ddlPartner">Partner *:</label>
                                </div>
                                <div class="col-lg-6">
                                    <select id="ddlPartner" class="form-control" name="ddlPartner" ClientIdMode="static" >
                                        <option value="">Choose Partner</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="ddlCenterCountry">Country *:</label>
                                </div>
                                <div class="col-lg-6">
                                    <select id="ddlCenterCountry" class="form-control" onchange="GetStateddl(this.value,0)"
                                            name="CenterCountry" ClientIdMode="static" required="">
                                        <option value="">Choose Country</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                    <div class="col-lg-6">
                                        <label for="ddlCenterState">State *:</label>
                                    </div>
                                <div class="col-lg-6">
                                    <select id="ddlCenterState" class="form-control" onchange="GetDistrictddl(this.value,0)"
                                    name="CenterState" ClientIdMode="static" required="">
                                        <option value="">Choose State</option>
                                    </select>
                                </div>
                            </div>
                        </div>    
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="ddlCenterDistrict">Center Type *:</label>
                                </div>
                                <div class="col-lg-6">
                                    <select id="ddlCenterDistrict" class="form-control" name="ddlCenterDistrict" ClientIdMode="static" required="">
                                        <option value="">Choose District</option>
                                    </select>
                                </div>
                            </div>
                        </div>                    
                        <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="LocationName">Location * :</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="LocationName" id="LocationName" required placeholder="Location name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="TxtAddress">Address :</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="TxtAddress" id="TxtAddress"  multiple placeholder="Address">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="TxtPinCode">Pin Code :</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="number"  class="form-control" name="TxtPinCode" id="TxtPinCode"   placeholder="Pin Code" >
                                        <!-- data-parsley-length="[6,6]" -->
                                    </div>
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Is Active :</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkbox checkbox-pink mb-0">
                                        <input type="checkbox" name="isactive" id="isactive" ClientIdMode="static" 
                                                        value="1" data-parsley-mincheck="1" >
                                        <label for="isactive"> Is active </label>
                                    </div>
                                </div>   
                            </div>                                     
                        </div>    

                        <div class="form-group mb-0">
                            <button class="btn btn-primary" type="submit" >Save</button>
                        </div>

                    </form>
                </div> <!-- end card-box-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->

    </form>

    </div> <!-- end container -->
  
        <!-- Plugins js-->
        <script src="static/assets/libs/flatpickr/flatpickr.min.js"></script>
        <script src="static/assets/libs/jquery-knob/jquery.knob.min.js"></script>
        <script src="static/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
        <script src="static/assets/libs/parsleyjs/parsley.min.js"></script>

        <!-- Validation init js-->
        <script src="static/ assets/js/pages/form-validation.init.js"></script>
