        <link href="static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
        
         <!-- third party css -->
         <!-- <link href="static/assets/libs/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" /> -->
         <!-- third party css end -->

        <!-- App css -->
        <!-- <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />        
        <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" /> -->

        <link href="static/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/libs/datatables/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
        
        <script type="text/javascript">
        $(document).ready(function () {
            $("#tbl_centers").dataTable().fnDestroy();
            
            $('.dropdown-search-filter').select2();
            
            role_id=parseInt($('#hdn_home_user_role_id').val());
            if(role_id == 1 || role_id==15)
                $('#btn_create').show();
            else{
                $('#btn_create').hide();
            }
            $('#ddlStatus').empty();
            $('#ddlStatus').append(new Option('All','-1'));
            $('#ddlStatus').append(new Option('Active','1'));
            $('#ddlStatus').append(new Option('Inactive','0'));
            LoadCenterType();
            LoadBuddl();
            LoadCourseddl();
            LoadRegionddl();
            if ('{{status}}'==1)
                    $('#ddlStatus').val("1");
                    
                else if ('{{status}}'==2)
                    {
                    $('#ddlStatus').val("1");
                    $('#ddlCenterType').val('4');
                    }
            LoadTable();
            onchange_roomtype();
        });
        </script>

        <form id='form1' method="POST" action="/assign_center_add_edit_to_home">
            
                <input type="hidden" id="hdn_center_id" name="hdn_center_id" value="0">
                <div class="container-fluid">
    
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">NEO</a></li>
                                        <li class="breadcrumb-item active">Center</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Centers</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
								<div class="row">
                                    <div class="col-lg-3">
                                        <label for="ddlCenterType" class="mr-2">Center Type</label>
                                        <select class="form-control dropdown-search-filter" id="ddlCenterType" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3" style="display: none;">
                                        <label for="ddlBu" class="mr-2">Business Unit</label>
                                        <select class="form-control dropdown-search-filter" id="ddlBu" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlRegion" class="mr-2">Region</label>
                                        <select class="form-control dropdown-search-filter" id="ddlRegion" onchange="LoadClusterddl()" multiple>
                                            <option selected="" value="">All</option>
                                            
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlCluster" class="mr-2">State</label>
                                        <select class="form-control dropdown-search-filter" id="ddlCluster" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="ddlStatus" class="mr-2">Status</label>
                                        <select class="form-control dropdown-search-filter" id="ddlStatus" >
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-lg-3" style="display: none;">
                                        <label for="ddlCourse" class="mr-2">Course</label>
                                        <select class="form-control dropdown-search-filter" id="ddlCourse" multiple>
                                            <option selected="" value="">All</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-lg-3" >
                                        <button style="margin-top: 30px" type="button" class="btn btn-success waves-effect waves-light submit" 
                                        onclick="LoadTableBasedOnSearch()">Search</button>
                                        &nbsp
                                        <button style="margin-top: 30px; display: none;" type="button" class="btn btn-primary waves-effect waves-light submit" 
                                        onclick="Download()">Download</button>
                                    </div>
                                    <div class="col-lg-9" >
                                        <button style="margin-top: 30px;float: right;" type="submit" id="btn_create" class="btn btn-primary waves-effect waves-light submit">Create Center</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4 class="header-title">Center List</h4>
                                        </div>
                                        <div class="col-lg-6" >                                        
                                                <button style="float: right; display: none;" type="submit" class="btn btn-primary">Create center</a>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="col-lg-12">
                                        <table id="tbl_centers" class="table dt-responsive wrap" >
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>     
                                                    <th>Actions</th>                                            
                                                    <th>Center Code</th>
                                                    <th>Center Name</th>
                                                    <th>Center Type</th>
                                                    <th>Partner Name</th>
                                                    <th>Sub Project</th>
                                                    <th>Course</th>
                                                    <th>Rooms</th>
                                                    <th>Geo Location</th>
                                                    <th>Location</th>
                                                    <th>District</th>                                                    
                                                    <th>State</th>
                                                    <th>Region</th>
                                                    <th>Country</th>                                                       
                                                    <th>Status</th>
                                                    
                                                </tr>
                                            </thead>
                                        
                                        <tbody></tbody>
                                        </table>
                                    </div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->    
                </div> <!-- end container -->
            
            <!-- end wrapper -->
        </form>
        
    
<div id="divSubProjectList" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title">Sub Project List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <table id="tblSubProject" class="table table-bordered dt-responsive wrap" style="border-color: lightgray;width:100% !important;font-size: 12px;">
                    <thead>                        
                        <tr style="background-color: #f5f6f8;">
                            <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">S.No</th>
                            <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Center Name</th>
                            <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sub Project Code</th>
                            <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Sub Project Name</th>
                            <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Project Code</th>
                            <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Project Name</th>
                            <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Business Unit</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>	
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-info waves-effect waves-light">Save changes</button> -->
            </div>
        </div>
    </div>
</div><!--/.modal-->  
<div id="divCourseList" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title" id="HdCourse"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <table id="tblCourses" class="table table-bordered dt-responsive wrap" style="border-color: lightgray;width:100% !important;font-size: 12px;">
                    <thead>                        
                        <tr style="background-color: #f5f6f8;">
                            <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">S.No</th>
                            <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Course Code</th>
                            <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Course Name</th>
                            <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">QP Code</th>
                            <th style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">QP Name</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>	
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-info waves-effect waves-light">Save changes</button> -->
            </div>
        </div>
    </div>
</div><!--/.modal-->   

<div id="mdl_room_center" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title" ><span id="headerRooms"></span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>                    
            <div class="modal-body">
                <input type="hidden" id="hdn_modal_center_id" name="hdn_modal_center_id" value="0">
                <div class="row">
                    <div class="col-md-12">
                        <button style="float: right;" type="button" id="btn_add" onclick="AddModal()" class="btn btn-primary">Add Room</a>
                    </div>
                </div>
            </br>
                <div >
                    <table id="tbl_rooms" class="table table-bordered dt-responsive nowrap" style="border-color: lightgray;width:100% !important;font-size: 12px;">
                        <thead>
                            <tr style="background-color: #f5f6f8;">
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">S.No</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Action</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Room Name</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Room Type</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Room Size</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Room Capacity</th>
                                <th  style="border-bottom-color: lightgray;vertical-align:middle;text-align:center;">Courses</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>	
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"> Close</button>
            </div>
        </div>
    </div>
</div><!--/.modal-->

<div id="mdl_add_edit_rooms" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <form enctype="multipart/form-data" action="javascript:AddeEditCenterRoom();" method="POST" >
                <div class="modal-header">
                    <h4 class="modal-title" ><span id="header">Room Details</span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>                    
                <div class="modal-body">
                    <div class="col-12">
                        <input type="hidden" id="hdn_room_id" name="hdn_room_id" value="0">
                        <input type="hidden" id="hdn_center_id_m2" name="hdn_center_id_m2" value="0">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="Room_Name">Room Name * :</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="Room_Name" id="Room_Name" required placeholder="Room Name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="Room_Type">Room Type * :</label>
                                </div>
                                <div class="col-lg-6">
                                    <select class="form-control dropdown-search-filter" name="Room_Type" id="Room_Type"  ClientIdMode="static" style="width:100%" onchange="onchange_roomtype();" required=""> <!-- style="width:100%" -->>
                                        <option value="">Choose Room Tyoe</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="ddl_If_Others">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="If_Others">If Others * :</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="If_Others" id="If_Others" placeholder="If Others">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="Room_Size">Room Size (SqFt)* :</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="number" class="form-control" name="Room_Size" id="Room_Size" required placeholder="Room Size (SqFt)">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="Room_Capacity">Room Capacity * :</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="number" class="form-control" name="Room_Capacity" id="Room_Capacity" required placeholder="Room Capacity">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="map_course">Course * :</label>
                                </div>
                                <div class="col-lg-6">
                                    <select class="form-control dropdown-search-filter" name="map_course" id="map_course"  ClientIdMode="static" style="width:100%" onchange="onchange_roomtype();" required="" multiple> <!-- style="width:100%" -->>
                                        <option value="">Choose Course</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="images">Images :</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="file" class="form-control" name="images" id="images" placeholder="Images" multiple>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>Is Active :</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkbox checkbox-pink mb-0">
                                        <input type="checkbox" name="isactive" id="isactive" ClientIdMode="static" 
                                                        value="1" data-parsley-mincheck="1" >
                                        <label for="isactive"> Is active </label>
                                    </div>
                                </div>   
                            </div>                                     
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary waves-effect" > Save</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"> Close</button>
                </div>
            </form>
        </div>
    </div>
</div><!--/.modal-->



<script src="static/assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="static/assets/libs/datatables/dataTables.bootstrap4.js"></script>
<script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
<script src="static/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
<script src="static/assets/libs/datatables/dataTables.buttons.min.js"></script>
<script src="static/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
<script src="static/assets/libs/datatables/buttons.html5.min.js"></script>
<script src="static/assets/libs/datatables/buttons.flash.min.js"></script>
<script src="static/assets/libs/datatables/buttons.print.min.js"></script>
<script src="static/assets/libs/datatables/dataTables.keyTable.min.js"></script>
<script src="static/assets/libs/datatables/dataTables.select.min.js"></script>

<!-- third party js ends -->

<!-- datatables init js-->
<script src="static/assets/js/pages/center-list.js"></script>

<!-- App js-->