
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="static/assets/libs/jquery/jquery.min.js"></script>
        <script type="text/javascript">
        var ddlregioncount,ddlclustercount;
            $(document).ready(function(){
                LoadBUddl();
                LoadRegionddl();
                LoadCenterTypeddl();
                LoadCenterCategoryddl();
                LoadCountyrddl();
                if('{{center_id}}' !=0)
                {
                    var URL=$('#hdn_web_url').val()+ "/GetCenterDetails";
                    $.ajax({
                        type:"GET",
                        url:URL,
                        success:function(data){
                           if(data!=null)
                           {
                               if(data.CenterDetail!="")
                               {
                                   //alert(data.ProjectDetail.Project_Name);
                                   $('#CenterName').val(data.CenterDetail.Center_Name);
                                   $('#ddlCenterType').val(data.CenterDetail.Center_Type_Id);
                                   $('#ddlCenterCategory').val(data.CenterDetail.Center_Category_Id);
                                   $('#ddlBU').val(data.CenterDetail.Bu_Id);
                                   var options = $('#ddlRegion option');
                                   var values = [];
                                   for( var i=0;i<options.length;i++){
                                       values.push (options[i].value)
                                   }
                                //    alert(data.CenterDetail.Region_Id);
                                //    console.log(values.indexOf((data.CenterDetail.Region_Id).toString()));
                                   if(values.indexOf((data.CenterDetail.Region_Id).toString()) > 0){
                                        $('#ddlRegion').val(data.CenterDetail.Region_Id);
                                   }
                                   else{
                                       alert("Region Became inactive");
                                    // swal({  title:"Oops",
                                    //         text:"Region Became inactive",
                                    //         icon:"error",
                                    //         confirmButtonClass:"btn btn-confirm mt-2"
                                    //     });
                                   }
                                   LoadClusterddl($('#ddlRegion').val(),0);
                                   var clus_options = $('#ddlCluster option');
                                   var clus_values = [];
                                   for( var i=0;i<clus_options.length;i++){
                                        clus_values.push (clus_options[i].value)
                                   }
                                   if(clus_values.indexOf((data.CenterDetail.Cluster_Id).toString())>0){
                                    LoadClusterddl($('#ddlRegion').val(),data.CenterDetail.Cluster_Id);
                                    }
                                    else{
                                        alert("Cluster for that Region Became inactive");
                                        // swal({  title:"Oops",
                                        //         text:"Cluster for that Region Became inactive",
                                        //         icon:"error",
                                        //         confirmButtonClass:"btn btn-confirm mt-2"
                                        //     });
                                    }
                                   $('#ddlCenterCountry').val(data.CenterDetail.Country_Id);
                                   GetStateddl($('#ddlCenterCountry').val(),data.CenterDetail.State_Id);
                                   GetDistrictddl($('#ddlCenterState').val(),data.CenterDetail.District_Id);
                                   $('#LocationName').val(data.CenterDetail.Location);
                                   if(data.CenterDetail.Is_Active)
                                        $('#isactive').prop('checked',true);
                                    else
                                        $('#isactive').prop('checked',false);
                               }
                           } 
                        },
                        error:function(x){
                            alert('error');
                        }
                    });
                }
            });
            
            function LoadBUddl(){
                var URL=$('#hdn_web_url').val()+ "/Get_all_BU"
                $.ajax({
                    type:"GET",
                    url:URL,
                    async:false,
                    beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                    datatype:"json",
                    success: function (data){
                        if(data.BU != null)
                        {
                            $('#ddlBU').empty();
                            var count=data.BU.length;
                            if( count> 0)
                            {
                                $('#ddlBU').append(new Option('Choose Business Unit',''));
                                for(var i=0;i<count;i++)
                                    $('#ddlBU').append(new Option(data.BU[i].Bu_Name,data.BU[i].Bu_Id));
                            }
                            else
                            {
                                $('#ddlBU').append(new Option('Choose Business Unit',''));
                            }
                        }
                    },
                    error:function(err)
                    {
                        alert('Error! Please try again');
                        return false;
                    }
                });
                return false;
            }
            function LoadRegionddl(){
                var URL=$('#hdn_web_url').val()+ "/Get_all_Region"
                $.ajax({
                    type:"GET",
                    url:URL,
                    async:false,
                    beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                    datatype:"json",
                    success: function (data){
                        ddlregioncount=data.Region.length;
                        if(data.Region != null)
                        {
                            $('#ddlRegion').empty();
                            var count=data.Region.length;
                            if( count> 0)
                            {
                                $('#ddlRegion').append(new Option('Choose Region',''));
                                for(var i=0;i<count;i++)
                                    $('#ddlRegion').append(new Option(data.Region[i].Region_Name,data.Region[i].Region_Id));
                            }
                            else
                            {
                                $('#ddlRegion').append(new Option('Choose Region',''));
                            }
                        }
                    },
                    error:function(err)
                    {
                        alert('Error! Please try again');
                        return false;
                    }
                });
                return false;
            }
            function LoadClusterddl(RegionId,needed){
                if(RegionId != "" ){
                var URL=$('#hdn_web_url').val()+ "/Get_all_Cluster_Based_On_Region"
                $.ajax({
                    type:"POST",
                    url:URL,
                    async:false,
                    beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                    datatype:"json",
                    data:{
                        "region_id":RegionId
                    },
                    success: function (data){
                        ddlclustercount = data.ClusterOnRegion.length;
                        //alert(ddlclustercount);
                        if(data.ClusterOnRegion != null)
                        {
                            $('#ddlCluster').empty();
                            var count=data.ClusterOnRegion.length;
                            if( count> 0)
                            {
                                $('#ddlCluster').append(new Option('Choose Cluster',''));
                                for(var i=0;i<count;i++)
                                    $('#ddlCluster').append(new Option(data.ClusterOnRegion[i].Cluster_Name,data.ClusterOnRegion[i].Cluster_Id));
                            }
                            else
                            {
                                $('#ddlCluster').empty();
                                $('#ddlCluster').append(new Option('Choose Cluster',''));
                            }
                        }
                    },
                    error:function(err)
                    {
                        alert('Error! Please try again');
                        return false;
                    }
                });
            }
            else{
                $('#ddlCluster').empty();
                $('#ddlCluster').append(new Option('Choose Cluster',''));

            }
            
            
                if (needed !=0)
                {
                    $('#ddlCluster').val(needed);
                }
                return false;
            }
            function LoadCenterTypeddl(){
                var URL=$('#hdn_web_url').val()+ "/AllCenterTypes"
                $.ajax({
                    type:"GET",
                    url:URL,
                    async:false,
                    beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                    datatype:"json",
                    success: function (data){
                        if(data.Center_Types != null)
                        {
                            $('#ddlCenterType').empty();
                            var count=data.Center_Types.length;
                            if( count> 0)
                            {
                                $('#ddlCenterType').append(new Option('Choose Center Type',''));
                                for(var i=0;i<count;i++)
                                    $('#ddlCenterType').append(new Option(data.Center_Types[i].Center_Type_Name,data.Center_Types[i].Center_Type_Id));
                            }
                            else
                            {
                                $('#ddlCenterType').append(new Option('Choose Center Type',''));
                            }
                        }
                    },
                    error:function(err)
                    {
                        alert('Error! Please try again');
                        return false;
                    }
                });
                return false;
            }
            function LoadCenterCategoryddl(){
                var URL=$('#hdn_web_url').val()+ "/AllCenterCategories"
                $.ajax({
                    type:"GET",
                    url:URL,
                    async:false,
                    beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                    datatype:"json",
                    success: function (data){
                        if(data.Center_Categories != null)
                        {
                            $('#ddlCenterCategory').empty();
                            var count=data.Center_Categories.length;
                            if( count> 0)
                            {
                                $('#ddlCenterCategory').append(new Option('Choose Center Category',''));
                                for(var i=0;i<count;i++)
                                    $('#ddlCenterCategory').append(new Option(data.Center_Categories[i].Center_Category_Name,data.Center_Categories[i].Center_Category_Id));
                            }
                            else
                            {
                                $('#ddlCenterCategory').append(new Option('Choose Center Category',''));
                            }
                        }
                    },
                    error:function(err)
                    {
                        alert('Error! Please try again');
                        return false;
                    }
                });
                return false;
            }

            function LoadCountyrddl(){
                var URL=$('#hdn_web_url').val()+ "/AllCountries"
                $.ajax({
                    type:"GET",
                    url:URL,
                    async:false,
                    beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                    datatype:"json",
                    success: function (data){
                        if(data.Countries != null)
                        {
                            $('#ddlCenterCountry').empty();
                            var count=data.Countries.length;
                            if( count> 0)
                            {
                                $('#ddlCenterCountry').append(new Option('Choose Country',''));
                                for(var i=0;i<count;i++)
                                    $('#ddlCenterCountry').append(new Option(data.Countries[i].Country_Name,data.Countries[i].Country_Id));
                            }
                            else
                            {
                                $('#ddlCenterCountry').append(new Option('Choose Country',''));
                            }
                        }
                    },
                    error:function(err)
                    {
                        alert('Error! Please try again');
                        return false;
                    }
                });
                return false;
            }
            
            function GetStateddl(CountryId,needed)
            {
                if(CountryId !=""){
                var URL=$('#hdn_web_url').val()+ "/AllStatesBasedOnCountry"
                $.ajax({
                    type:"POST",
                    url:URL,
                    async:false,       
                    beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                    datatype:"json", 
                    data:{
                        "country_id": CountryId                        
                    },
                    success: function (data){
                        if(data.States != null)
                        {
                            $('#ddlCenterState').empty();
                            var count=data.States.length;
                            if( count> 0)
                            {
                                $('#ddlCenterState').append(new Option('Choose State',''));
                                for(var i=0;i<count;i++)
                                    $('#ddlCenterState').append(new Option(data.States[i].State_Name,data.States[i].State_Id));
                            }
                            else
                            {
                                $('#ddlCenterState').append(new Option('Choose State',''));
                            }
                        }
                    },
                    error:function(err)
                    {
                        alert('Error! Please try again');
                        return false;
                    }
                });
            }
            else{
                alert('Country is not selected');
            }
                if (needed !=0)
                {
                    $('#ddlCenterState').val(needed);
                }
                return false;
            }

            function GetDistrictddl(StateId,needed)
            {
                if(StateId !=""){
                var URL=$('#hdn_web_url').val()+ "/AllDistrictsBasedOnState"
                $.ajax({
                    type:"POST",
                    url:URL,
                    async:false,       
                    beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                    datatype:"json", 
                    data:{
                        "state_id": StateId                        
                    },
                    success: function (data){
                        if(data.Districts != null)
                        {
                            $('#ddlCenterDistrict').empty();
                            var count=data.Districts.length;
                            if( count> 0)
                            {
                                $('#ddlCenterDistrict').append(new Option('Choose District',''));
                                for(var i=0;i<count;i++)
                                    $('#ddlCenterDistrict').append(new Option(data.Districts[i].District_Name,data.Districts[i].District_Id));
                            }
                            else
                            {
                                $('#ddlCenterDistrict').append(new Option('Choose District',''));
                            }
                        }
                    },
                    error:function(err)
                    {
                        alert('Error! Please try again');
                        return false;
                    }
                });
            }
            else{
                alert('State is not selected');
            }
                if (needed !=0)
                {
                    $('#ddlCenterDistrict').val(needed);
                }
                return false;
            }
            function add_popup_message(){
               
                var URL=$('#hdn_web_url').val()+ "/add_center_details";
                    $.ajax({
                        type:"POST",
                        url:URL,
                        data:{
                            "CenterName" : $('#CenterName').val(),
                            "isactive" : $('#isactive').prop('checked'),
                            "CenterType":$('#ddlCenterType').val(),
                            "CenterCategory":$('#ddlCenterCategory').val(),
                            "BUId":$('#ddlBU').val(),
                            "RegionId":$('#ddlRegion').val(),
                            "ClusterId":$('#ddlCluster').val(),
                            "CenterCountry":$('#ddlCenterCountry').val(),
                            "CenterState":$('#ddlCenterState').val(),
                            "CenterDistrict":$('#ddlCenterDistrict').val(),
                            "LocationName":$("#LocationName").val(),
							"CenterId":'{{center_id}}'
                        },
                        success:function(data){
                            swal({   title:data.PopupMessage.message,
                                    text:data.PopupMessage.message+" Successfully !!",
                                    icon:"success",
                                    confirmButtonClass:"btn btn-confirm mt-2"
                                    }).then(function(){
                                        window.location.href = '/after_popup_center';
                                    }
                                    );
                        //    alert("The Inserted/Upadated Id is "+data.PopupMessage.message);
                        //    window.location.href="/after_popup"; 
                        },
                        error:function(x){
                            alert('error');
                        }
                    });
            }

        </script>
                <div class="container-fluid">
                    <form action="javascript:add_popup_message();">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">LN</a></li>
                                        <li class="breadcrumb-item"><a href="/center">Centers</a></li>
                                        <li class="breadcrumb-item active">Add-Edit Center</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Center Details</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title --> 
    
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title">Center Details</h4>
                                <br/>
                                <div class="alert alert-warning d-none fade show">
                                    <h4>Oh snap!</h4>
                                    <p class="mb-0">This form seems to be invalid :(</p>
                                </div>
    
                                <div class="alert alert-info d-none fade show">
                                    <h4>Yay!</h4>
                                    <p class="mb-0">Everything seems to be ok :)</p>
                                </div>
    
                                <form id="demo-form" data-parsley-validate="">
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="CenterName">Center Name * :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="CenterName" id="CenterName" required placeholder="Center name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="ddlCenterType">Center Type *:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select id="ddlCenterType" class="form-control" name="CenterType" ClientIdMode="static" required="">
                                                    <option value="">Choose Center Type</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
									
									
									<input type="hidden" class="form-control" id="ddlCenterCategory" name="CenterCategory" value="1">
									<!--
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="ddlCenterCategory">Center Category *:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select id="ddlCenterCategory" class="form-control" name="CenterCategory" ClientIdMode="static" required="">
                                                    <option value="">Choose Center Category</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
									-->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="ddlBU">Business Unit *:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select id="ddlBU" class="form-control" name="ddlBU" ClientIdMode="static" required="">
                                                    <option value="">Choose Business Unit</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="ddlRegion">Region *:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select id="ddlRegion" class="form-control" name="ddlRegion" onchange="LoadClusterddl(this.value,0)" ClientIdMode="static" required="">
                                                    <option value="">Choose Region</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="ddlCluster">Cluster *:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select id="ddlCluster" class="form-control" name="ddlCluster" ClientIdMode="static" required="">
                                                    <option value="">Choose Cluster</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="ddlCenterCountry">Country *:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select id="ddlCenterCountry" class="form-control" onchange="GetStateddl(this.value,0)"
                                                        name="CenterCountry" ClientIdMode="static" required="">
                                                    <option value="">Choose Country</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                                <div class="col-lg-6">
                                                    <label for="ddlCenterState">State *:</label>
                                                </div>
                                            <div class="col-lg-6">
                                                <select id="ddlCenterState" class="form-control" onchange="GetDistrictddl(this.value,0)"
                                                name="CenterState" ClientIdMode="static" required="">
                                                    <option value="">Choose State</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                                <div class="col-lg-6">
                                                    <label for="ddlCenterDistrict">District *:</label>
                                                </div>
                                            <div class="col-lg-6">
                                                <select id="ddlCenterDistrict" class="form-control" name="CenterDistrict" ClientIdMode="static" required="">
                                                    <option value="">Choose District</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label for="LocationName">Location * :</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" name="LocationName" id="LocationName" required placeholder="Location name">
                                                </div>
                                            </div>
                                        </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Is Active :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkbox checkbox-pink mb-0">
                                                    <input type="checkbox" name="isactive" id="isactive" ClientIdMode="static" 
                                                                    value="1" data-parsley-mincheck="1" >
                                                    <label for="isactive"> Is active </label>
                                                </div>
                                            </div>   
                                        </div>                                     
                                    </div>    
    
                                    <div class="form-group mb-0">
                                        <button class="btn btn-primary" type="submit" >Save</button>
                                    </div>
    
                                </form>
                            </div> <!-- end card-box-->
                        </div> <!-- end col-->
                    </div>
                    <!-- end row-->
    
                </form>
                
                </div> <!-- end container -->
  
        <!-- Plugins js-->
        <script src="static/assets/libs/flatpickr/flatpickr.min.js"></script>
        <script src="static/assets/libs/jquery-knob/jquery.knob.min.js"></script>
        <script src="static/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
