        <!-- Plugins css -->
        <link href="static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />

        <!-- App css -->
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="static/assets/libs/jquery/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                LoadRegionddl();
                if('{{cluster_id}}' !=0)
                {					
                    var URL=$('#hdn_web_url').val()+ "/GetClusterDetails";
                    $.ajax({
                        type:"GET",
                        url:URL,
                        success:function(data){
                           if(data!=null)
                           {
                               if(data.clusterDetail!="")
                               {
                                   $('#ClusterName').val(data.ClusterDetail.Cluster_Name);
                                   $('#ClusterCode').val(data.ClusterDetail.Cluster_Code);
                                   $('#ddlRegion').val(data.ClusterDetail.Region_Id);
                                   if(data.ClusterDetail.Is_Active){
                                        $('#isactive').prop('checked',true);
                                   }
                                    else{
                                        $('#isactive').prop('checked',false);
                                    }
                               }
                           } 
                        },
                        error:function(x){
                            alert('hi');
                        }
                    });
                }
            });
            function LoadRegionddl(){
                var URL=$('#hdn_web_url').val()+ "/Get_all_Region"
                $.ajax({
                    type:"GET",
                    url:URL,
                    async:false,
                    beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                    datatype:"json",
                    success: function (data){
                        if(data.Region != null)
                        {
                            $('#ddlRegion').empty();
                            var count=data.Region.length;
                            if( count> 0)
                            {
                                $('#ddlRegion').append(new Option('Choose Region',''));
                                for(var i=0;i<count;i++)
                                    $('#ddlRegion').append(new Option(data.Region[i].Region_Name,data.Region[i].Region_Id));
                            }
                            else
                            {
                                $('#ddlRegion').append(new Option('Choose Region',''));
                            }
                        }
                    },
                    error:function(err)
                    {
                        alert('Error! Please try again');
                        return false;
                    }
                });
                return false;
            }
           
            function add_popup_message(){
                var URL=$('#hdn_web_url').val()+ "/add_cluster_details";
                    $.ajax({
                        type:"POST",
                        url:URL,
                        data:{
                            "ClusterName" : $('#ClusterName').val(),
                            "ClusterCode" : $('#ClusterCode').val(),
                            "RegionId" : $('#ddlRegion').val(),
                            "isactive" : $('#isactive').prop('checked'),
							"ClusterId":'{{cluster_id}}'
                        },
                        success:function(data){
                            var message="",title="",icon="";
                    if(data.PopupMessage.cluster_flag==2){
                        message=data.PopupMessage.message;
                        title="Error";
                        icon="error";
                    }
                    else{
                        message=data.PopupMessage.message;
                        title="Success";
                        icon="success";
                    }
                    swal({   
                                title:title,
                                text:message,
                                icon:icon,
                                confirmButtonClass:"btn btn-confirm mt-2"
                                }).then(function(){
                                    window.location.href = '/after_popup_cluster';
                                });
                        //    alert("The Inserted/Upadated Id is "+data.PopupMessage.message);
                        //    window.location.href="/after_popup"; 
                        },
                        error:function(x){
                            alert('error');
                        }
                    });
            }
        </script>
                <div class="container-fluid">
                    <form action="javascript:add_popup_message();">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">LN</a></li>
                                        <li class="breadcrumb-item"><a href="/cluster">Cluster</a></li>
                                        <li class="breadcrumb-item active">Add-Edit Cluster</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Cluster Details</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title --> 
    
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title">Cluster Details</h4>
                                <br/>
                                <div class="alert alert-warning d-none fade show">
                                    <h4>Oh snap!</h4>
                                    <p class="mb-0">This form seems to be invalid :(</p>
                                </div>
    
                                <div class="alert alert-info d-none fade show">
                                    <h4>Yay!</h4>
                                    <p class="mb-0">Everything seems to be ok :)</p>
                                </div>
    
                                <form id="demo-form" data-parsley-validate="">
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="ClusterName">Cluster Name * :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="ClusterName" id="ClusterName" required placeholder="Cluster Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="ClusterCode">Cluster Code * :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="ClusterCode" id="ClusterCode" required placeholder="Custer Code">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="ddlRegion">Region *:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select id="ddlRegion" class="form-control" name="ddlRegion" ClientIdMode="static" required="">
                                                    <option value="">Choose Region</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Is Active :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkbox checkbox-pink mb-0">
                                                    <input type="checkbox" name="isactive" id="isactive" ClientIdMode="static" 
                                                                    value="1" data-parsley-mincheck="1" >
                                                    <label for="isactive"> Is active </label>
                                                </div>
                                            </div>   
                                        </div>                                     
                                    </div>    
    
                                    <div class="form-group mb-0">
                                        <button class="btn btn-primary" type="submit" >Save</button>
                                    </div>
    
                                </form>
                            </div> <!-- end card-box-->
                        </div> <!-- end col-->
                    </div>
                    <!-- end row-->
    
                </form>
                
                </div> <!-- end container -->
        <script src="static/assets/libs/flatpickr/flatpickr.min.js"></script>
        <script src="static/assets/libs/jquery-knob/jquery.knob.min.js"></script>
        <script src="static/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
     

</html>