        <link href="static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />

        <!-- App css -->
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="static/assets/libs/jquery/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                LoadClientList();
                LoadPracticeList();
                if('{{project_id}}' !=0)
                {
                    var URL=$('#hdn_web_url').val()+ "/GetProjectDetails";
                    $.ajax({
                        type:"GET",
                        url:URL,
                        success:function(data){
                           if(data!=null)
                           {
                               if(data.ProjectDetail!="")
                               {
                                   //alert(data.ProjectDetail.Is_Active);
                                   $('#ProjectName').val(data.ProjectDetail.Project_Name);
                                   $('#ddlClient').val(data.ProjectDetail.Client_Id);
                                   $('#ddlPractice').val(data.ProjectDetail.Practice_Id);
                                   if(data.ProjectDetail.Is_Active)
                                   {
                                        $('#isactive').prop('checked',true);
                                    }
                                    else
                                    {
                                        $('#isactive').prop('checked',false);
                                    }
                               }
                           } 
                        },
                        error:function(x){
                            alert('error');
                        }
                    });
                }
            });

            function LoadClientList()
            {
                var URL=$('#hdn_web_url').val()+ "/GetALLClient"
                $.ajax({
                    type:"GET",
                    url:URL,
                    async:false,
                    beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                    datatype:"json",
                    success: function (data){
                        if(data.Clients != null)
                        {
                            $('#ddlClient').empty();
                            var count=data.Clients.length;
                            if( count> 0)
                            {
                                $('#ddlClient').append(new Option('Choose Customer',''));
                                for(var i=0;i<count;i++)
                                    $('#ddlClient').append(new Option(data.Clients[i].Client_Name,data.Clients[i].Client_Id));
                            }
                            else
                            {
                                $('#ddlClient').append(new Option('Choose Customer',''));
                            }
                        }
                    },
                    error:function(err)
                    {
                        alert('Error! Please try again');
                        return false;
                    }
                });
                return false;
            }
            function LoadPracticeList()
            {
                var URL=$('#hdn_web_url').val()+ "/AllPracticeList"
                $.ajax({
                    type:"GET",
                    url:URL,
                    async:false,
                    beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
                    datatype:"json",
                    success: function (data){
                        if(data.Pratices != null)
                        {
                            $('#ddlPractice').empty();
                            var count=data.Pratices.length;
                            if( count> 0)
                            {
                                $('#ddlPractice').append(new Option('Choose Practice',''));
                                for(var i=0;i<count;i++)
                                    $('#ddlPractice').append(new Option(data.Pratices[i].Practice_Name,data.Pratices[i].Practice_Id));
                            }
                            else
                            {
                                $('#ddlPractice').append(new Option('Choose Practice',''));
                            }
                        }
                    },
                    error:function(err)
                    {
                        alert('Error! Please try again');
                        return false;
                    }
                });
                return false;
            }
            function add_popup_message(){
                // alert($('#ProjectName').val());
                var URL=$('#hdn_web_url').val()+ "/add_project_details";
                    $.ajax({
                        type:"POST",
                        url:URL,
                        data:{
                            "ProjectName" : $('#ProjectName').val(),
                            "ClientId" : $('#ddlClient').val(),
                            "PracticeId": $('#ddlPractice').val(),
                            "isactive" : $('#isactive').prop('checked')
                        },
                        success:function(data){
                    
                            swal({   
                                        title:"Success",
                                        text:data.PopupMessage.message+" Successfully!!",
                                        icon:"success",
                                        confirmButtonClass:"btn btn-confirm mt-2"
                                        }).then(function(){
                                            window.location.href = '/after_popup_project';
                                        });
                        //    alert("The Inserted/Upadated Id is "+data.PopupMessage.message);
                        //    window.location.href="/after_popup"; 
                        },
                        error:function(x){
                            alert('error');
                        }
                    });
            }
        
        </script>
                <div class="container-fluid">
                    <form  action="javascript:add_popup_message();">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">LN</a></li>
                                        <li class="breadcrumb-item"><a href="/project">Projects</a></li>
                                        <li class="breadcrumb-item active">Add-Edit Project</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Project Details</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title --> 
    
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title">Project Details</h4>
                                <br/>
                                <div class="alert alert-warning d-none fade show">
                                    <h4>Oh snap!</h4>
                                    <p class="mb-0">This form seems to be invalid :(</p>
                                </div>
    
                                <div class="alert alert-info d-none fade show">
                                    <h4>Yay!</h4>
                                    <p class="mb-0">Everything seems to be ok :)</p>
                                </div>
    
                                <form id="demo-form" data-parsley-validate="">
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="ProjectName">Project Name * :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="ProjectName" id="ProjectName" required placeholder="project name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="client">Customer *:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select id="ddlClient" class="form-control" name="ClientId" ClientIdMode="static" required="">
                                                    <option value="">Choose Customer</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label for="practice">Practice *:</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select id="ddlPractice" class="form-control" name="PracticeId" ClientIdMode="static"  required="">
                                                        <option value="">Choose Practice</option>
                                                    </select>
                                                </div>
                                            </div>
                                    </div>                                  
    
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Is Active *:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkbox checkbox-pink mb-0">
                                                    <input type="checkbox" name="isactive" id="isactive" ClientIdMode="static" 
                                                                    value="1" data-parsley-mincheck="1" >
                                                    <label for="isactive"> Is active </label>
                                                </div>
                                            </div>   
                                        </div>                                     
                                    </div>    
    
                                    <div class="form-group mb-0">
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </div>
    
                                </form>
                            </div> <!-- end card-box-->
                        </div> <!-- end col-->
                    </div>
                    <!-- end row-->
    
                </form>
                
                </div> <!-- end container -->
        <script src="static/assets/libs/flatpickr/flatpickr.min.js"></script>
        <script src="static/assets/libs/jquery-knob/jquery.knob.min.js"></script>
        <script src="static/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
       