<link href="static/assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css" />
<link href="static/assets/libs/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" type="text/css" />
<link href="static/assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
const months = ["Jan", "Feb", "Mar","Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
const months_no = ["01", "02", "03","04", "05", "06", "07", "08", "09", "10", "11", "12"];
var Candidates = {};
    $(document).ready(function(){
        $('.dropdown-search-filter').select2();
        $(".date-picker").flatpickr();             
        $(".time-picker").flatpickr({
            enableTime: !0,
            noCalendar: !0,
            dateFormat: "H:i",
            time_24hr:  !0
            });
        var candidate_id = '{{candidate_id}}'
        var candidate_stage_id = '{{candidate_stage_id}}'
        if(candidate_id !=0)
        {
            if(candidate_stage_id==2){
                $('#form1').attr('action', '/registration');
                $('#div_Signed_MoU').hide();
                $('#div_Age_proof').hide();
                $('#div_Educational_qualification_Proof').hide();
                $('#div_Bank_Account_Copy').hide();

                document.getElementById('headerurl').innerHTML ="Registration"
                $("#headerurl").attr("href", "/registration");
            }
            else if (candidate_stage_id==3){
                $('#form1').attr('action', '/enrollment');

                document.getElementById('headerurl').innerHTML ="Enrollment"
                $("#headerurl").attr("href", "/enrollment");
                

                // $('#div_Income_Certificate').hide();
                // $('#div_Education_Mark_Sheet').hide();
                // $('#div_Identity_Image').hide();
                // $('#div_Aadhar_Image').hide();
                // $('#div_candidate_photo').hide();
            }
        }
        download_images();
    });
    function UploadFileData_s3(file,file_name)
    {
        console.log(file_name)
        var fileExtension = ['xlsx'];
        var fileExtentionDoc = ['pdf','doc','docx']
        var s3_path="neo_app/images/";
        if (fileExtension.includes(file_name.split('.').pop().toLowerCase())){
            s3_path ="bulk_upload/candidate/registration/";
        }
        else if (fileExtentionDoc.includes(file_name.split('.').pop().toLowerCase())){
            s3_path ="neo_app/docs/";
        }
        var file_path=$('#hdn_AWS_S3_path').val()+ s3_path + file_name;
        var api_url=$('#hdn_COL_url').val() + "s3_signature?file_name="+file_path+"&file_type="+file.type;
        //console.log(api_url);
        var xhr = new XMLHttpRequest();
        xhr.open("GET",api_url,false);
        xhr.send();
    
        if(xhr.status === 200){
            var response = JSON.parse(xhr.responseText);
            uploadFileToS3(file, response.data, response.url);
        }
        else{
            alert("Could not get signed URL.");
        }
    }
    function uploadFileToS3(file, s3Data, url){
        var xhr = new XMLHttpRequest();
        xhr.open("POST", s3Data.url, false);

        var postData = new FormData();
        for(key in s3Data.fields){
            postData.append(key, s3Data.fields[key]);
        }
        postData.append('file', file);

        xhr.send(postData);
        if(xhr.status === 200 || xhr.status === 204){
            var response = xhr;
        }
        else{
            alert("Could not upload file to s3.");
        }
    }
    function download_images()
    {
        var URL=$('#hdn_web_url').val()+ "/AllCandidateImages"
        $.ajax({
        type:"GET",
        url:URL,
        async:false,        
        beforeSend:function(x){ if(x && x.overrideMimeType) { x.overrideMimeType("application/json;charset=UTF-8"); } },
        datatype:"json",
        data:{
            "user_id": $('#hdn_home_user_id').val(),
            "user_role_id" : $('#hdn_home_user_role_id').val(),
            "candidate_id" : '{{candidate_id}}'
        },
        success: function (data){
            console.log(data.Candidate);
            if (data.Candidate.Project_Type!=4){
                $('#div_Income_Certificate').hide();
                $('#div_Education_Mark_Sheet').hide();
            }
            if(data.Candidate.Project_Type!=2){
                $('#div_Signed_MoU').hide();
                $('#div_Age_proof').hide();
                $('#div_Educational_qualification_Proof').hide();
            }
            if(data.Candidate != null)
            {  
                var fileExtentionDoc = ['pdf','doc','docx']
                
                if (data.Candidate.Candidate_Photo!=''){
                    if (fileExtentionDoc.includes(data.Candidate.Candidate_Photo.split('.').pop().toLowerCase())){
                        $('#candidate_photo_img').hide();
                        $('#candidate_photo_doc').show();
                        var s = document.getElementById('ur_candidate_doc')
                        s.href = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_path=docs&image_name='+data.Candidate.Candidate_Photo;
                    }
                    else{
                        $('#candidate_photo_img').show();
                        $('#candidate_photo_doc').hide();
                        var s = document.getElementById('ur_candidate_photo')
                        s.src = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_name='+data.Candidate.Candidate_Photo;
                    }
                }
                if (data.Candidate.Aadhar_Image_Name!=''){
                    if (fileExtentionDoc.includes(data.Candidate.Aadhar_Image_Name.split(',')[0].split('.').pop().toLowerCase())){
                        $('#Aadhar_Image1_img').hide();
                        $('#Aadhar_Image1_doc').show();
                        var s = document.getElementById('ur_Aadhar_Image1_doc')
                        s.href = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_path=docs&image_name='+data.Candidate.Aadhar_Image_Name.split(',')[0];
                    }
                    else{
                        $('#Aadhar_Image1_img').show();
                        $('#Aadhar_Image1_doc').hide();
                        var s = document.getElementById('ur_Aadhar_Image1')
                        s.src = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_name='+data.Candidate.Aadhar_Image_Name.split(',')[0];
                    }
                    if (data.Candidate.Aadhar_Image_Name.split(',').length ==2){
                        if (fileExtentionDoc.includes(data.Candidate.Aadhar_Image_Name.split(',')[1].split('.').pop().toLowerCase())){
                            $('#Aadhar_Image2_img').hide();
                            $('#Aadhar_Image2_doc').show();
                            var s = document.getElementById('ur_Aadhar_Image2_doc')
                            s.href = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_path=docs&image_name='+data.Candidate.Aadhar_Image_Name.split(',')[1];
                        }
                        else{
                            $('#Aadhar_Image2_img').show();
                            $('#Aadhar_Image2_doc').hide();
                            var s = document.getElementById('ur_Aadhar_Image2')
                        s.src = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_name='+data.Candidate.Aadhar_Image_Name.split(',')[1];
                        }
                    }
                }
                if (data.Candidate.Identity_Image_Name!=''){
                    if (fileExtentionDoc.includes(data.Candidate.Identity_Image_Name.split('.').pop().toLowerCase())){
                        $('#Identity_Image_img').hide();
                        $('#Identity_Image_doc').show();
                        var s = document.getElementById('ur_Identity_doc')
                        s.href = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_path=docs&image_name='+data.Candidate.Identity_Image_Name;
                    }
                    else{
                        $('#Identity_Image_img').show();
                        $('#Identity_Image_doc').hide();
                        var s = document.getElementById('ur_Identity_Image')
                        s.src = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_name='+data.Candidate.Identity_Image_Name;
                    }
                }
                if (data.Candidate.Educational_Marksheet!=''){
                    if (fileExtentionDoc.includes(data.Candidate.Educational_Marksheet.split('.').pop().toLowerCase())){
                        $('#Education_Mark_Sheet_img').hide();
                        $('#Education_Mark_Sheet_doc').show();
                        var s = document.getElementById('ur_Education_Mark_Sheet_doc')
                        s.href = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_path=docs&image_name='+data.Candidate.Educational_Marksheet;
                    }
                    else{
                        $('#Education_Mark_Sheet_img').show();
                        $('#Education_Mark_Sheet_doc').hide();
                        var s = document.getElementById('ur_Education_Mark_Sheet');
                        s.src = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_name='+data.Candidate.Educational_Marksheet;
                    }
                }
                if (data.Candidate.Income_Certificate!=''){
                    if (fileExtentionDoc.includes(data.Candidate.Income_Certificate.split('.').pop().toLowerCase())){
                        $('#Income_Certificate_img').hide();
                        $('#Income_Certificate_doc').show();
                        var s = document.getElementById('ur_Income_Certificate_doc')
                        s.href = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_path=docs&image_name='+data.Candidate.Income_Certificate;
                    }
                    else{
                        $('#Income_Certificate_img').show();
                        $('#Income_Certificate_doc').hide();
                        var s = document.getElementById('ur_Income_Certificate')
                        s.src = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_name='+data.Candidate.Income_Certificate;
                    }
                }
                if (data.Candidate.Bank_Account_Image_Name!=''){
                    if (fileExtentionDoc.includes(data.Candidate.Bank_Account_Image_Name.split('.').pop().toLowerCase())){
                        $('#Bank_Account_Copy_img').hide();
                        $('#Bank_Account_Copy_doc').show();
                        var s = document.getElementById('ur_Bank_Account_Copy_doc')
                        s.href = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_path=docs&image_name='+data.Candidate.Bank_Account_Image_Name;
                    }
                    else{
                        $('#Bank_Account_Copy_img').show();
                        $('#Bank_Account_Copy_doc').hide();
                        var s = document.getElementById('ur_Bank_Account_Copy')
                        s.src = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_name='+data.Candidate.Bank_Account_Image_Name;
                    }
                }
                if (data.Candidate.Educational_Qualification!=''){
                    if (fileExtentionDoc.includes(data.Candidate.Educational_Qualification.split('.').pop().toLowerCase())){
                        $('#Educational_qualification_Proof_img').hide();
                        $('#Educational_qualification_Proof_doc').show();
                        var s = document.getElementById('ur_Educational_qualification_Proof_doc')
                        s.href = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_path=docs&image_name='+data.Candidate.Educational_Qualification;
                    }
                    else{
                        $('#Educational_qualification_Proof_img').show();
                        $('#Educational_qualification_Proof_doc').hide();
                        var s = document.getElementById('ur_Educational_qualification_Proof')
                        s.src = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_name='+data.Candidate.Educational_Qualification;
                    }
                }
                if (data.Candidate.Age_Proof!=''){
                    if (fileExtentionDoc.includes(data.Candidate.Age_Proof.split('.').pop().toLowerCase())){
                        $('#Age_proof_img').hide();
                        $('#Age_proof_doc').show();
                        var s = document.getElementById('ur_Age_proof_doc')
                        s.href = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_path=docs&image_name='+data.Candidate.Age_Proof;
                    }
                    else{
                        $('#Age_proof_img').show();
                        $('#Age_proof_doc').hide();
                        var s = document.getElementById('ur_Age_proof')
                        s.src = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_name='+data.Candidate.Age_Proof;
                    }
                }
                if (data.Candidate.Signed_Mou!=''){
                    if (fileExtentionDoc.includes(data.Candidate.Signed_Mou.split('.').pop().toLowerCase())){
                        $('#Signed_MoU_img').hide();
                        $('#Signed_MoU_doc').show();
                        var s = document.getElementById('ur_Signed_MoU_doc')
                        s.href = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_path=docs&image_name='+data.Candidate.Signed_Mou;
                    }
                    else{
                        $('#Signed_MoU_img').show();
                        $('#Signed_MoU_doc').hide();
                        var s = document.getElementById('ur_Signed_MoU')
                        s.src = $('#hdn_web_url').val() + '/GetDocumentForExcel_S3_certiplate?image_name='+data.Candidate.Signed_Mou;
                    }
                }
            }
        },
        error:function(err)
        {
            alert('Error while loading BU! Please try again');
            return false;
        }
    });
    return false;
    }
    function Upload_image(id){
        var validImageTypes = ['image/gif', 'image/jpeg', 'image/png', 'application/pdf', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'];
        
        var filename_prefix = $('#hdn_home_user_id').val() + '_' + Date.now() + '_'
        var filename = ''

        var file = document.getElementById('myFile'+id).files[0]

        var ins=0
        if (id!=2){
            var file = document.getElementById('myFile'+id).files[0]
            filename = filename_prefix + file.name
        }
        else{
            ins = document.getElementById('myFile'+id).files.length;
            if (ins>2){
                alert('max two images allowed to upload');
                return
            }
            else{
                for (var x = 0; x < ins; x++) {
                    var file = document.getElementById('myFile'+id).files[x]
                    if (!validImageTypes.includes(file['type'])){
                        alert('allowed format are : '+validImageTypes.toString());
                        return
                    }
                    else if(file.size > 5*1024*1024){
                        alert('Image size is not valid');
                        return
                    }
                }
                if (document.getElementById('myFile'+id).files.length==2){
                    filename = filename_prefix + document.getElementById('myFile'+id).files[0].name + ',' + filename_prefix + document.getElementById('myFile'+id).files[1].name
                }
                else{
                    filename = filename_prefix + document.getElementById('myFile'+id).files[0].name
                }
            }
        }
        if (!validImageTypes.includes(file['type'])){
            alert('allowed format are : '+validImageTypes.toString());
        }
        else if(file.size > 5*1024*1024){
            alert('Image size is not valid');
        }
        else{
            var form_data = new FormData(); //$('#formUpload')[0]
            form_data.append('user_id',$('#hdn_home_user_id_modal').val());
            form_data.append('user_role_id',$('#hdn_home_user_role_id_modal').val());
            form_data.append('filename',filename);
            form_data.append('id',id); 
            form_data.append('candidate_id','{{candidate_id}}'); 
            $.ajax({
                type: 'POST',
                url: $('#hdn_web_url').val()+ "/reupload_candidate_image_web_ui",
                enctype: 'multipart/form-data',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                success: function(data) 
                {   
                    var status;
                    if (id!=2){
                    //console.log(file)
                    file = document.getElementById('myFile'+id).files[0]
                    UploadFileData_s3(file,filename);
                    status = true;
                    }
                    else{
                        for (var x = 0; x < ins; x++) {
                            var file = document.getElementById('myFile'+id).files[x]
                            UploadFileData_s3(file,filename_prefix + file.name)
                        }
                        status = true;
                    }
                    var message="",title="",icon="";
                    if(data.Status){
                        message=data.message;
                        title="Success";
                        icon="success";
                    }
                    else{
                        if (data.message=="Validation_Error"){
                            message=data.error;
                            title="Error";
                            icon="error";
                        }
                        else {
                            message=data.message;
                            title="Error";
                            icon="error";
                        }
                    }
                    var span = document.createElement("span");
                    span.innerHTML = message;
                    swal({   
                                title:title,
                                content: span,
                                icon:icon,
                                confirmButtonClass:"btn btn-confirm mt-2"
                                }).then(function(){
                                    window.location.href = '/after_popup_reload_image';
                                });
                },
                error:function(err)
                {
                    swal({   
                        title:"Error",
                        text:'Error! Please try again',
                        icon:"error",
                        confirmButtonClass:"btn btn-confirm mt-2"
                        }).then(function(){
                            window.location.href = '/after_popup_reload_image';
                    });
                }
            });
        }
    }
function validate_upload(id){
    if(document.getElementById('myFile'+id).files.length==0){
        alert('please select a file');
    }
    else{
        if (confirm("ADDING A NEW IMAGE WILL REPLACE THE EXISTING IMAGE. Click ok to Continue!")){
            Upload_image(id);
        }
        else{
            console.log('no upload')
        }
    }
}
// function async level1()
// {
//     await level2();
// }

// function async level2()
// {
//     await level3();
// }

// function async level3()
// {

//     //activity
// }
</script>

<div class="container-fluid">
    <!-- <form action="/" method="GET" id='form1'> -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/">NEO</a></li>
                        <li class="breadcrumb-item"><a id="headerurl" href="/"></a></li>
                        <li class="breadcrumb-item active">Reupload Images</li>
                    </ol>
                </div>
                <h4 class="page-title">Image</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 
    
    <div id="get" class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <form id="demo-form" data-parsley-validate=""> -->
                    <div class="form-group" id="div_candidate_photo">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="ur_candidate_photo">Candidate Photo</label>
                            </div>
                            <div class="col-lg-2" id="candidate_photo_img">
                                <img id="ur_candidate_photo" name="ur_candidate_photo" src="static\assets\images\noimage2.png" alt="Candidate Photo" style="float:left;width:100%;">
                            </div>
                            <div class="col-lg-2" id="candidate_photo_doc" style="display: none;">
                                <a href="" target="_blank" id="ur_candidate_doc" name="ur_candidate_doc" style="float:left; margin-top:30px;" download>
                                    <p><b> Download File</b><p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <input style="float: left;cursor:pointer;margin-top:30px;" type="file" id="myFile1" name="filename">
                                <button  type="button" class="btn btn-success waves-effect waves-light" style="float: left; color:white;font-weight:bold;cursor:pointer;margin-top:30px;" onclick="validate_upload(1)" id="btnUpload">Upload</button>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group" id="div_Aadhar_Image">
                        <div class="row">
                            <div class="col-lg-2">
                                <label for="ur_Aadhar_Image">Aadhar Image</label>
                            </div>
                            <div class="col-lg-4">
                                <div id="Aadhar_Image1_img"> <!-- class="col-lg-2"  -->
                                    <img id="ur_Aadhar_Image1" name="ur_Aadhar_Image1" src="static\assets\images\noimage2.png" alt="Aadhar Image" style="float:left;width:50%;padding: 5px;">
                                </div>
                                <div id="Aadhar_Image1_doc" style="display: none;">
                                    <a href="" target="_blank" id="ur_Aadhar_Image1_doc" name="ur_Aadhar_Image1_doc" style="float:left; margin-top:30px;" download>
                                        <p><b> Download File</b><p>
                                    </a>
                                </div>
                                <div id="Aadhar_Image2_img">
                                    <img id="ur_Aadhar_Image2" name="ur_Aadhar_Image2" src="static\assets\images\noimage2.png" alt="Aadhar Image" style="float:left;width:50%;padding: 5px;"> <!-- width:128px;height:128px; -->
                                </div>
                                <div id="Aadhar_Image2_doc" style="display: none;">
                                    <a href="" target="_blank" id="ur_Aadhar_Image2_doc" name="ur_Aadhar_Image2_doc" style="float:left; margin-top:30px;" download>
                                        <p><b> Download File</b><p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <input type="file" id="myFile2" name="filename" style="float: left;cursor:pointer;margin-top:30px;" multiple>
                                <button  type="button" class="btn btn-success waves-effect waves-light" style="float: left; color:white;font-weight:bold;cursor:pointer;margin-top:30px;" onclick="validate_upload(2)" id="btnUpload">Upload</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="div_Identity_Image">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="ur_Identity_Image">Identity Image</label>
                            </div>
                            <div class="col-lg-2" id="Identity_Image_img">
                                <img id="ur_Identity_Image" name="ur_Identity_Image" src="static\assets\images\noimage2.png" alt="Identity Image" style="float:left;width:100%;">
                            </div>
                            <div class="col-lg-2" id="Identity_Image_doc" style="display: none;">
                                <a href="" target="_blank" id="ur_Identity_doc" name="ur_Identity_doc" style="float:left; margin-top:30px;" download>
                                    <p><b> Download File</b><p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <input type="file" id="myFile3" name="filename" style="float: left;cursor:pointer;margin-top:30px;">
                                <button  type="button" class="btn btn-success waves-effect waves-light" style="float: left; color:white;font-weight:bold;cursor:pointer;margin-top:30px;" onclick="validate_upload(3)" id="btnUpload">Upload</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="div_Education_Mark_Sheet">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="ur_Education_Mark_Sheet">Education Mark Sheet</label>
                            </div>
                            <div class="col-lg-2" id="Education_Mark_Sheet_img">
                                <img id="ur_Education_Mark_Sheet" name="ur_Education_Mark_Sheet" src="static\assets\images\noimage2.png" alt="Education Mark Sheet" style="float:left;width:100%;">
                            </div>
                            <div class="col-lg-2" id="Education_Mark_Sheet_doc" style="display: none;">
                                <a href="" target="_blank" id="ur_Education_Mark_Sheet_doc" name="ur_Education_Mark_Sheet_doc" style="float:left; margin-top:30px;" download>
                                    <p><b> Download File</b><p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <input type="file" id="myFile4" name="filename" style="float: left;cursor:pointer;margin-top:30px;">
                                <button  type="button" class="btn btn-success waves-effect waves-light" style="float: left; color:white;font-weight:bold;cursor:pointer;margin-top:30px;" onclick="validate_upload(4)" id="btnUpload">Upload</button>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group" id="div_Income_Certificate">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="ur_Income_Certificate">Income Certificate</label>
                            </div>
                            <div class="col-lg-2" id="Income_Certificate_img">
                                <img id="ur_Income_Certificate" name="ur_Income_Certificate" src="static\assets\images\noimage2.png" alt="Income Certificate" style="float:left;width:100%;">
                            </div>
                            <div class="col-lg-2" id="Income_Certificate_doc" style="display: none;">
                                <a href="" target="_blank" id="ur_Income_Certificate_doc" name="ur_Income_Certificate_doc" style="float:left; margin-top:30px;" download>
                                    <p><b> Download File</b><p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <input type="file" id="myFile5" name="filename" style="float: left;cursor:pointer;margin-top:30px;">
                                <button  type="button" class="btn btn-success waves-effect waves-light" style="float: left; color:white;font-weight:bold;cursor:pointer;margin-top:30px;" onclick="validate_upload(5)" id="btnUpload">Upload</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="div_Bank_Account_Copy">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="ur_Bank_Account_Copy">Bank Account Copy</label>
                            </div>
                            <div class="col-lg-2" id="Bank_Account_Copy_img">
                                <img id="ur_Bank_Account_Copy" name="ur_Bank_Account_Copy" src="static\assets\images\noimage2.png" alt="Bank Account Copy" style="float:left;width:100%;">
                            </div>
                            <div class="col-lg-2" id="Bank_Account_Copy_doc" style="display: none;">
                                <a href="" target="_blank" id="ur_Bank_Account_Copy_doc" name="ur_Bank_Account_Copy_doc" style="float:left; margin-top:30px;" download>
                                    <p><b> Download File</b><p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <input type="file" id="myFile6" name="filename" style="float: left;cursor:pointer;margin-top:30px;">
                                <button  type="button" class="btn btn-success waves-effect waves-light" style="float: left; color:white;font-weight:bold;cursor:pointer;margin-top:30px;" onclick="validate_upload(6)" id="btnUpload">Upload</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="div_Educational_qualification_Proof">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="ur_Educational_qualification_Proof">Educational qualification Proof</label>
                            </div>
                            <div class="col-lg-2" id="Educational_qualification_Proof_img">
                                <img id="ur_Educational_qualification_Proof" name="ur_Educational_qualification_Proof" src="static\assets\images\noimage2.png" alt="Educational qualification Proof" style="float:left;width:100%;">
                            </div>
                            <div class="col-lg-2" id="Educational_qualification_Proof_doc" style="display: none;">
                                <a href="" target="_blank" id="ur_Educational_qualification_Proof_doc" name="ur_Educational_qualification_Proof_doc" style="float:left; margin-top:30px;" download>
                                    <p><b> Download File</b><p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <input type="file" id="myFile7" name="filename" style="float: left;cursor:pointer;margin-top:30px;">
                                <button  type="button" class="btn btn-success waves-effect waves-light" style="float: left; color:white;font-weight:bold;cursor:pointer;margin-top:30px;" onclick="validate_upload(7)" id="btnUpload">Upload</button>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group" id="div_Age_proof">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="ur_Age_proof">Age proof</label>
                            </div>
                            <div class="col-lg-2" id="Age_proof_img">
                                <img id="ur_Age_proof" name="ur_Age_proof" src="static\assets\images\noimage2.png" alt="Age proof" style="float:left;width:100%;">
                            </div>
                            <div class="col-lg-2" id="Age_proof_doc" style="display: none;">
                                <a href="" target="_blank" id="ur_Age_proof_doc" name="ur_Age_proof_doc" style="float:left; margin-top:30px;" download>
                                    <p><b> Download File</b><p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <input type="file" id="myFile8" name="filename" style="float: left;cursor:pointer;margin-top:30px;">
                                <button  type="button" class="btn btn-success waves-effect waves-light" style="float: left; color:white;font-weight:bold;cursor:pointer;margin-top:30px;" onclick="validate_upload(8)" id="btnUpload">Upload</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="div_Signed_MoU">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="ur_Signed_MoU">Signed MoU</label>
                            </div>
                            <div class="col-lg-2" id="Signed_MoU_img">
                                <img id="ur_Signed_MoU" name="ur_Signed_MoU" src="static\assets\images\noimage2.png" alt="Signed MoU" style="float:left;width:100%;">
                            </div>
                            <div class="col-lg-2" id="Signed_MoU_doc" style="display: none;">
                                <a href="" target="_blank" id="ur_Signed_MoU_doc" name="ur_Signed_MoU_doc" style="float:left; margin-top:30px;" download>
                                    <p><b> Download File</b><p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <input type="file" id="myFile9" name="filename" style="float: left;cursor:pointer;margin-top:30px;">
                                <button  type="button" class="btn btn-success waves-effect waves-light" style="float: left; color:white;font-weight:bold;cursor:pointer;margin-top:30px;" onclick="validate_upload(9)" id="btnUpload">Upload</button>
                            </div>
                        </div>
                    </div>
                    <form action="/" method="GET" id='form1'>
                    <div class="form-group mb-0">
                        <button class="btn btn-primary" type="submit">BACK</button>
                    </div>
                </form>
                <!-- </form> -->
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
</div> <!-- end container -->
    <!-- end wrapper -->

<script src="static/assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="static/assets/libs/clockpicker/bootstrap-clockpicker.min.js"></script>
<script src="static/assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

<script src="static/assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="static/assets/libs/datatables/dataTables.bootstrap4.js"></script>
<script src="static/assets/libs/datatables/dataTables.responsive.min.js"></script>
<script src="static/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
<script src="static/assets/libs/datatables/dataTables.buttons.min.js"></script>
<script src="static/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
<script src="static/assets/libs/datatables/buttons.html5.min.js"></script>
<script src="static/assets/libs/datatables/buttons.flash.min.js"></script>
<script src="static/assets/libs/datatables/buttons.print.min.js"></script>
<script src="static/assets/libs/datatables/dataTables.keyTable.min.js"></script>
<script src="static/assets/libs/datatables/dataTables.select.min.js"></script> 